apollo-ws/reference-implementations/java/seir/tags/1.3/seir-simulator-service/src/main/resources/simulatorservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/simulatorservice/07/03/2013/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="SimulatorService_v1.3" targetNamespace="http://service.apollo.pitt.edu/simulatorservice/07/03/2013/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/simulatorservice/07/03/2013/"
			xmlns:apollo="http://types.apollo.pitt.edu/07/03/2013/">

			<xsd:import schemaLocation="apollo-types_1.3.xsd" namespace="http://types.apollo.pitt.edu/07/03/2013/">
			</xsd:import>
			<xsd:element name="run">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulatorConfiguration" type="apollo:SimulatorConfiguration" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunIdentification" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatus">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatusResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runStatus" type="apollo:RunStatus">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSupportedLocations">
				<xsd:complexType>
					<xsd:sequence></xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSupportedLocationsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="supportedPopluationLocations" type="apollo:SupportedPopulationLocation"
							maxOccurs="unbounded" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="batchRun">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="batchRunSimulatorConfiguration" type="apollo:BatchRunSimulatorConfiguration"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="batchRunResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="batchRun" type="apollo:BatchRunResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForRun">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForRunResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="configurationFile" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="runRequest">
		<wsdl:part element="tns:run" name="parameters" />
	</wsdl:message>
	<wsdl:message name="runResponse">
		<wsdl:part element="tns:runResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSupportedLocationsRequest">
		<wsdl:part name="parameters" element="tns:getSupportedLocations"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSupportedLocationsResponse">
		<wsdl:part name="parameters" element="tns:getSupportedLocationsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="batchRunRequest">
		<wsdl:part name="parameters" element="tns:batchRun"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="batchRunResponse">
		<wsdl:part name="parameters" element="tns:batchRunResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForRunRequest">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForRun"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForRunResponse">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForRunResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SimulatorServiceEI">
		<wsdl:operation name="run">
			<wsdl:input message="tns:runRequest" />
			<wsdl:output message="tns:runResponse" />
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<wsdl:input message="tns:getRunStatusRequest"></wsdl:input>
			<wsdl:output message="tns:getRunStatusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSupportedLocations">
			<wsdl:input message="tns:getSupportedLocationsRequest"></wsdl:input>
			<wsdl:output message="tns:getSupportedLocationsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="batchRun">
			<wsdl:input message="tns:batchRunRequest"></wsdl:input>
			<wsdl:output message="tns:batchRunResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfigurationFileForRun">
			<wsdl:input message="tns:getConfigurationFileForRunRequest"></wsdl:input>
			<wsdl:output message="tns:getConfigurationFileForRunResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SimulatorServiceBinding"
		type="tns:SimulatorServiceEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="run">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/07/03/2013/run" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/07/03/2013/getRunStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSupportedLocations">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/07/03/2013/getSupportedLocations" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="batchRun">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/07/03/2013/batchRun" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfigurationFileForRun">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/07/03/2013/getConfigurationFileForRun" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SimulatorService_v1.3">
		<wsdl:port binding="tns:SimulatorServiceBinding" name="SimulatorServiceEndpoint">
			<soap:address
				location="http://localhost:8080/simulatorservice13/services/simulatorservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
