apollo-ws/service-skeletons/java/tags/1.3.1.Final/src/main/resources/apollo-types_1.4.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://types.apollo.pitt.edu/07/03/2013/"
	xmlns:tns="http://types.apollo.pitt.edu/07/03/2013/"
	elementFormDefault="qualified">




	<include schemaLocation=""></include>
	<include schemaLocation="" />
	<include schemaLocation="" />
	<include schemaLocation="" />
	<include schemaLocation="" />
	<include schemaLocation="" />
	<include schemaLocation="" />
	<simpleType name="Probability">
		<restriction base="double">
			<minInclusive value="0" />
			<maxInclusive value="1" />
		</restriction>
	</simpleType>

	<simpleType name="Fraction">
		<restriction base="double">
			<minInclusive value="0" />
			<maxInclusive value="1" />
		</restriction>
	</simpleType>

	<simpleType name="PositiveDouble">
		<restriction base="double">
			<minExclusive value="0" />
		</restriction>
	</simpleType>

	<simpleType name="NonNegativeDouble">
		<restriction base="double">
			<minInclusive value="0" />
		</restriction>
	</simpleType>

	<simpleType name="SimulatorType">
		<restriction base="string">
			<enumeration value="agent-based" />
			<enumeration value="compartmental" />
		</restriction>
	</simpleType>

	<simpleType name="TimeStepUnit">
		<restriction base="string">
			<enumeration value="year" />
			<enumeration value="month" />
			<enumeration value="day" />
			<enumeration value="hour" />
			<enumeration value="minute" />
			<enumeration value="second" />
			<enumeration value="millisecond" />
		</restriction>
	</simpleType>

	<simpleType name="RunStatusEnum">
		<restriction base="string">
			<enumeration value="exiting" />
			<enumeration value="held" />
			<enumeration value="queued" />
			<enumeration value="running" />
			<enumeration value="moving" />
			<enumeration value="waiting" />
			<enumeration value="completed" />
			<enumeration value="failed" />
			<enumeration value="unauthorized" />
			<enumeration value="authentication_failure" />
		</restriction>
	</simpleType>

	<complexType name="RunStatus">
		<sequence>
			<element name="status" type="tns:RunStatusEnum" />
			<element name="message" type="string" />
		</sequence>
	</complexType>


	<simpleType name="Gender">
		<restriction base="string">
			<enumeration value="M" />
			<enumeration value="F" />
			<enumeration value="U" />
		</restriction>
	</simpleType>

	<complexType name="SupportedPopulationLocation">
		<sequence>
			<element name="populationLocation" type="token" />
			<element name="populationLocationDescription" type="token" />
		</sequence>
	</complexType>

	<complexType name="Authentication">
		<sequence>
			<element name="requesterId" type="token" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/asv/ASV_00000006" />
				</annotation>
			</element>
			<element name="requesterPassword" type="token" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="VisualizationOptions">
		<sequence>
			<element name="runId" type="token" />
			<element name="location" type="token" />
			<element name="outputFormat" type="token" />
		</sequence>
	</complexType>

	<complexType name="VisualizerConfiguration">
		<sequence>
			<element name="visualizerIdentification" type="tns:SoftwareIdentification" />

			<element name="authentication" type="tns:Authentication" />
			<element name="visualizationOptions" type="tns:VisualizationOptions" />
		</sequence>
	</complexType>

	<simpleType name="RunIdentification">
		<restriction base="token" />
	</simpleType>

	<complexType name="ServiceRecord">
		<sequence>
			<element name="url" type="anyURI" />
			<element name="softwareIdentification" type="tns:SoftwareIdentification" />
		</sequence>
	</complexType>

	<complexType name="ServiceRegistrationRecord">
		<complexContent>
			<extension base="tns:ServiceRecord">
				<sequence>
					<element name="authentication" type="tns:Authentication" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SimulatorTimeSpecification">
		<sequence>
			<element name="timeStepUnit" type="tns:TimeStepUnit"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000014" />
				</annotation>
			</element>

			<element name="timeStepValue" maxOccurs="1" minOccurs="1"
				type="tns:PositiveDouble">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000012" />
				</annotation>
			</element>

			<element name="runLength" type="positiveInteger" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000015" />
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="IndividualTreatmentControlStrategy">
		<complexContent>
			<extension base="tns:InfectiousDiseaseControlStrategy">
				<sequence>
					<element name="individualTreatment" type="tns:Treatment"
						maxOccurs="1" minOccurs="1">
						<annotation>
							<documentation source="none" />
						</annotation>
					</element>
					<element name="supplySchedule" type="nonNegativeInteger"
						maxOccurs="unbounded" minOccurs="1">
						<annotation>
							<documentation
								source="http://purl.obolibrary.org/obo/APOLLO_SV_00000051" />
						</annotation>
					</element>
					<element name="administrationCapacity" type="nonNegativeInteger"
						maxOccurs="unbounded" minOccurs="1">
						<annotation>
							<documentation
								source="http://purl.obolibrary.org/obo/APOLLO_SV_00000052" />
						</annotation>
					</element>
					<element name="targetPopulationsAndPrioritizations"
						type="tns:ControlMeasureTargetPopulationsAndPrioritization"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="IndividualTreatmentControlStrategyLibraryItem">
		<complexContent>
			<extension base="tns:InfectiousDiseaseControlStrategyLibraryItem">
				<sequence>
					<element name="individualTreatment" type="tns:Treatment"
						maxOccurs="1" minOccurs="1">
						<annotation>
							<documentation source="none" />
						</annotation>
					</element>
					<element name="supplySchedule" type="nonNegativeInteger"
						maxOccurs="unbounded" minOccurs="1">
						<annotation>
							<documentation
								source="http://purl.obolibrary.org/obo/APOLLO_SV_00000051" />
						</annotation>
					</element>
					<element name="administrationCapacity" type="nonNegativeInteger"
						maxOccurs="unbounded" minOccurs="1">
						<annotation>
							<documentation
								source="http://purl.obolibrary.org/obo/APOLLO_SV_00000052" />
						</annotation>
					</element>
					<element name="targetPopulationsAndPrioritizations"
						type="tns:ControlMeasureTargetPopulationsAndPrioritization"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="Vaccination">
		<complexContent>
			<extension base="tns:Treatment">
				<sequence>

					<element name="vaccine" type="tns:Vaccine" maxOccurs="1"
						minOccurs="1" />
					<element name="vaccinationEfficacies" type="tns:VaccinationEfficacy"
						maxOccurs="unbounded" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="RingIndividualTreatmentControlStrategy">
		<complexContent>
			<extension base="tns:IndividualTreatmentControlStrategy">
				<sequence>
					<element name="ringDiameterInMeters" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1">
						<annotation>
							<documentation source="none" />

						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RingIndividualTreatmentControlStrategyLibraryItem">
		<complexContent>
			<extension base="tns:IndividualTreatmentControlStrategyLibraryItem">
				<sequence>
					<element name="ringDiameter" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1">
						<annotation>
							<documentation source="none" />

						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Infection">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="pathogenTaxonID" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1">
						<annotation>
							<documentation source="none" />
						</annotation>
					</element>
					<element name="hostTaxonID" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />

					<element name="infectiousPeriod" type="tns:NumericParameterValue"
						maxOccurs="1" minOccurs="1">
						<annotation>
							<documentation
								source="http://purl.obolibrary.org/obo/APOLLO_SV_00000016" />

						</annotation>
					</element>

					<element name="latentPeriod" type="tns:NumericParameterValue"
						maxOccurs="1" minOccurs="1">
						<annotation>
							<documentation
								source="http://purl.obolibrary.org/obo/APOLLO_SV_00000017" />

						</annotation>
					</element>


					<element name="infectionAcquisition" type="tns:InfectionAcquisition"
						maxOccurs="unbounded" minOccurs="1">
						<annotation>
							<documentation
								source="http://purl.obolibrary.org/obo/APOLLO_SV_00000043" />

						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>







	<complexType name="PopulationInfectionAndImmunityCensus">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="description" type="string" maxOccurs="1"
						minOccurs="1" />
					<element name="date" type="dateTime" maxOccurs="1"
						minOccurs="1" />
					<element name="populationSpecies" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />
					<element name="censusData"
						type="tns:PopulationImmunityAndInfectionCensusData" maxOccurs="1"
						minOccurs="1">
						<annotation>
							<documentation source="none" />
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PopulationImmunityAndInfectionCensusData">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />

			<element name="location" type="tns:LocationDefinition"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000039" />

				</annotation>
			</element>
			<element name="censusDataCells"
				type="tns:PopulationImmunityAndInfectionCensusDataCell" maxOccurs="unbounded"
				minOccurs="1">
				<annotation>
					<documentation source="none" />
				</annotation>
			</element>
			<element name="exceptionSubpopulations" type="tns:PopulationImmunityAndInfectionCensusData"
				maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation source="none" />
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="PopulationTreatmentCensusData">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />

			<element name="location" type="tns:LocationDefinition"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000039" />

				</annotation>
			</element>
			<element name="treatmentCensusDataCells" type="tns:PopulationTreatmentCensusDataCell"
				maxOccurs="unbounded" minOccurs="1">
				<annotation>
					<documentation source="none" />
				</annotation>
			</element>
			<element name="exceptionSubpopulations" type="tns:PopulationTreatmentCensusData"
				maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation source="none" />
				</annotation>
			</element>
		</sequence>
	</complexType>


	<complexType name="ApolloSimulatorMessage">
		<sequence>
			<element name="simulatorIdentification" type="tns:SoftwareIdentification"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>
			<element name="authentication" type="tns:Authentication"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>
			<element name="simulatorTimeSpecification" type="tns:SimulatorTimeSpecification"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>

			<element minOccurs="1" maxOccurs="1" name="scenario"
				type="tns:InfectiousDiseaseScenarioInformation">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>



		</sequence>
	</complexType>

	<complexType name="UrlOutputResource">
		<sequence>
			<element name="description" type="string" />
			<element name="URL" type="anySimpleType" />
		</sequence>
	</complexType>

	<complexType name="ServiceResult">
		<sequence>
			<element name="description" type="string" />
			<element name="URL" type="anyURI" />
		</sequence>
	</complexType>

	<complexType name="AgentLevelPopulationAndEnvironmentCensusDescription">
		<sequence>
			<element name="serviceIdentification" type="tns:SoftwareIdentification" />

			<element name="authentication" type="tns:Authentication" />
			<element name="requesterIdentification" type="tns:RequesterIdentification" />


			<element name="countiesOfInterest" type="tns:INCITS31"
				maxOccurs="unbounded" minOccurs="1" />

			<element name="householdCharacteristics" type="token"
				maxOccurs="4" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="SoftwareIdentification">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="softwareDeveloper" type="token" maxOccurs="1"
						minOccurs="1">
						<annotation>
							<documentation
								source="http://purl.obolibrary.org/obo/APOLLO_SV_00000105" />

						</annotation>
					</element>
					<element name="softwareName" type="token" maxOccurs="1"
						minOccurs="1">
						<annotation>
							<documentation
								source="http://purl.obolibrary.org/obo/APOLLO_SV_00000109" />

						</annotation>
					</element>
					<element name="softwareVersion" type="token" maxOccurs="1"
						minOccurs="1">
						<annotation>
							<documentation
								source="http://purl.obolibrary.org/obo/APOLLO_SV_00000108" />

						</annotation>
					</element>
					<element name="softwareType" type="tns:ApolloSoftwareType"
						maxOccurs="1" minOccurs="1">
						<annotation>
							<documentation source="none" />

						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="INCITS31">
		<restriction base="positiveInteger">
			<totalDigits value="5" fixed="true" />
		</restriction>
	</simpleType>

	<complexType name="RequesterIdentification">
		<sequence>
			<element name="requesterName" type="token" />
			<element name="requesterCompany" type="token" />
			<element name="requesterEmail" type="token" />
		</sequence>
	</complexType>

	<complexType name="Vaccine">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />

			<element name="vaccineIdentifier" type="token" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000117" />

				</annotation>
			</element>
			<element name="valence" type="positiveInteger" maxOccurs="unbounded"
				minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000137" />

				</annotation>
			</element>
		</sequence>
	</complexType>


	<complexType name="AgeGroupEfficacy">
		<sequence>
			<element name="ageRange" type="tns:AgeRange" />
			<element name="vaccineEfficacy" type="tns:Fraction" />
		</sequence>
	</complexType>

	<complexType name="VaccineContraindications">
		<sequence>
			<element name="infants" type="boolean" maxOccurs="1"
				minOccurs="0" />

			<element name="preschoolers" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="schoolAgeChildren" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="youngAdults" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="olderAdults" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="elderly" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="pregnantAdultsRestricted" type="boolean"
				maxOccurs="1" minOccurs="0" />

		</sequence>
	</complexType>

	<complexType name="Antiviral">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="antiviralId" type="token" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000122" />

				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="BatchRunSimulatorConfiguration">
		<sequence>
			<element name="batchConfigurationFile" type="anyURI" />
			<element name="acceptCachedResults" type="boolean" />
			<element name="softwareIdentification" type="tns:SoftwareIdentification" />
		</sequence>
	</complexType>

	<complexType name="BatchRunResult">
		<sequence>
			<element name="completedFile" type="anyURI" />
			<element name="runId" type="tns:RunIdentification" />
		</sequence>
	</complexType>



	<complexType name="AntiviralTreatment">
		<complexContent>
			<extension base="tns:Treatment">
				<sequence>
					<element name="antiviral" type="tns:Antiviral" maxOccurs="1"
						minOccurs="1" />
					<element name="antiviralTreatmentEfficacy" type="tns:AntiviralTreatmentEfficacy" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="ArrayDimensionsDefinition" />


	<complexType name="PopulationStrataDefinition">
		<complexContent>
			<extension base="tns:ArrayDimensionsDefinition">
				<sequence>
					<element name="ageRanges" type="tns:AgeRange" maxOccurs="unbounded"
						minOccurs="0">
						<annotation>
							<documentation source="none" />

						</annotation>
					</element>
					<element name="genders" type="tns:Gender" maxOccurs="unbounded"
						minOccurs="0">
						<annotation>
							<documentation source="none" />

						</annotation>
					</element>

					<element name="diseaseStates" type="tns:InfectionState"
						maxOccurs="unbounded" minOccurs="0">
						<annotation>
							<documentation source="none" />

						</annotation>
					</element>

				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="PopulationImmunityAndInfectionCensusDataCell">
		<sequence>
			<element name="ageRange" type="tns:AgeRange" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>
			<element name="gender" type="tns:Gender" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>

			<element name="infectionState" type="tns:InfectionState"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>

			<element name="fractionInInfectionState" type="tns:Fraction"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="PopulationTreatmentCensusDataCell">
		<complexContent>
			<extension base="tns:ArrayDimensionsDefinition">
				<sequence>
					<element name="ageRange" type="tns:AgeRange" maxOccurs="1"
						minOccurs="0">
						<annotation>
							<documentation source="none" />

						</annotation>
					</element>
					<element name="gender" type="tns:Gender" maxOccurs="1"
						minOccurs="0">
						<annotation>
							<documentation source="none" />

						</annotation>
					</element>

					<element name="treatmentState" type="tns:TreatmentState"
						maxOccurs="1" minOccurs="1">
						<annotation>
							<documentation source="none" />

						</annotation>
					</element>

					<element name="fractionInInfectionState" type="tns:Fraction"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PopulationStrataArray">
		<sequence>
			<element name="description" type="tns:PopulationStrataDefinition"
				maxOccurs="1" minOccurs="1" />
			<element name="values" type="tns:Fraction" maxOccurs="unbounded"
				minOccurs="1" />

		</sequence>
	</complexType>



	<complexType name="TemporalArrayDimensionsDefinition">
		<complexContent>
			<extension base="tns:ArrayDimensionsDefinition">
				<sequence>
					<element name="time" type="nonNegativeInteger" maxOccurs="unbounded"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>




	<simpleType name="InfectionState">
		<restriction base="string">
			<enumeration value="susceptible" />
			<enumeration value="exposed" />
			<enumeration value="infectious" />
			<enumeration value="recovered" />
			<enumeration value="newly_sick" />
		</restriction>
	</simpleType>

	<simpleType name="TreatmentState">
		<restriction base="string">
			<enumeration value="treated" />
			<enumeration value="not_treated" />
		</restriction>
	</simpleType>

	<complexType name="AgeRange">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="lowerBound" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1" />
					<element name="upperBound" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="FacilityCategory">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="facility" type="tns:FacilityEnum"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	
		<complexType name="FacilityCategory">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="gender" type="tns:Gender"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="SimulatorTimeRange">
		<sequence>
			<element name="lowerBound" type="nonNegativeInteger" />
			<element name="upperBound" type="nonNegativeInteger" />
		</sequence>
	</complexType>



	<complexType name="TargetPriorityPopulation">
		<sequence>
			<element name="label" type="token" maxOccurs="1" minOccurs="1" />
			<element name="fractionOfTargetPopulationToPrioritize" type="tns:Fraction"
				maxOccurs="1" minOccurs="1" />

			<element name="priority" type="nonNegativeInteger" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>
			<choice>
				<element name="targetPopulationDefinition" type="tns:PopulationStrataDefinition"
					maxOccurs="1" minOccurs="1">
					<annotation>
						<documentation source="none" />

					</annotation>
				</element>
				<element name="targetPopulationDefinitionEnum" type="tns:TargetPopulationDefinitionEnum"
					maxOccurs="1" minOccurs="1">
					<annotation>
						<documentation source="none" />

					</annotation>
				</element>
			</choice>
		</sequence>
	</complexType>

	<complexType name="ControlMeasureTargetPopulationsAndPrioritization">
		<sequence>
			<element name="controlMeasureNamedPrioritizationScheme" type="token"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="none" />
				</annotation>
			</element>
			<element name="controlMeasureTargetPopulationsAndPrioritization"
				type="tns:TargetPriorityPopulation" maxOccurs="unbounded" minOccurs="0">
				<annotation>
					<documentation source="none" />
				</annotation>
			</element>
		</sequence>
	</complexType>


	<complexType name="InfectiousDiseaseControlStrategy">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="description" type="string" maxOccurs="1"
						minOccurs="1" />

					<element name="controlMeasureStartTime" type="tns:ControlMeasureStartTime"
						maxOccurs="1" minOccurs="1" />

					<element name="controlMeasureResponseDelay" type="tns:NumericParameterValue"
						maxOccurs="1" minOccurs="1">
						<annotation>
							<documentation source="none" />
						</annotation>
					</element>
					<element name="controlMeasureCompliance" type="tns:ProbabilisticParameterValue"
						maxOccurs="1" minOccurs="1">
						<annotation>
							<documentation source="none" />
						</annotation>
					</element>
					<element name="controlMeasureReactiveEndPointFraction"
						type="tns:Fraction" maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="InfectiousDiseaseControlStrategyLibraryItem">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="description" type="string" maxOccurs="1"
						minOccurs="1" />

					<element name="controlMeasureStartTime" type="tns:ControlMeasureStartTime"
						maxOccurs="1" minOccurs="0" />

					<element name="controlMeasureResponseDelay" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="0">
						<annotation>
							<documentation source="none" />
						</annotation>
					</element>
					<element name="controlMeasureCompliance" type="tns:Fraction"
						maxOccurs="1" minOccurs="0">
						<annotation>
							<documentation source="none" />
						</annotation>
					</element>
					<element name="controlMeasureReactiveEndPointFraction"
						type="tns:Fraction" maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>



	<complexType name="ReactiveTriggersDefinition">
		<sequence>
			<element name="reactiveControlMeasureTest" type="token"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>
			<element name="reactiveControlMeasureThreshold" type="tns:Fraction"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>
			<element name="ascertainmentFraction" type="tns:Fraction"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>
			<element name="ascertainmentDelay" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>
		</sequence>
	</complexType>





	<simpleType name="TargetPopulationDefinitionEnum">
		<restriction base="token">
			<enumeration value="household_member_of_infant" />
		</restriction>

	</simpleType>



	<complexType name="SchoolClosureControlMeasure">
		<complexContent>
			<extension base="tns:InfectiousDiseaseControlStrategy">
				<sequence>
					<element name="schoolClosureDuration" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1">
						<annotation>
							<documentation source="none" />

						</annotation>
					</element>
					<element name="schoolClosureTargetFacilities" type="tns:SchoolClosureTargetFacilities"
						maxOccurs="1" minOccurs="1">
						<annotation>
							<documentation source="none" />

						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<simpleType name="ApolloSoftwareType">
		<restriction base="string">
			<enumeration value="simulator" />
			<enumeration value="visualizer" />
			<enumeration value="syntheticPopulationGenerator" />
		</restriction>
	</simpleType>

	<complexType name="RunAndSoftwareIdentification">
		<sequence>
			<element name="runId" type="tns:RunIdentification" />
			<element name="softwareId" type="tns:SoftwareIdentification" />
		</sequence>
	</complexType>


	<simpleType name="SchoolClosureTargetFacilities">
		<restriction base="token">
			<enumeration value="all" />
			<enumeration value="individual" />
		</restriction>
	</simpleType>

	<complexType name="VisualizerResult">
		<sequence>
			<element name="runId" type="tns:RunIdentification" />
			<element name="visualizerOutputResource" type="tns:UrlOutputResource"
				maxOccurs="unbounded" minOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="SyntheticPopulationResult">
		<sequence>
			<element name="runId" type="tns:RunIdentification" />
			<element name="syntheticPopulationOutputResource" type="tns:UrlOutputResource"
				maxOccurs="unbounded" minOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="ServiceRegistrationResult">
		<sequence>
			<element name="actionSuccessful" type="boolean" />
			<element name="message" type="string" />
		</sequence>
	</complexType>


	<complexType name="DiscreteNonparametricProbabilityDistribution">
		<complexContent>
			<extension base="tns:UnconditionalProbabilityDistribution">
				<sequence>
					<element name="probabilityValuePairs" type="tns:ProbabilityValuePair"
						maxOccurs="unbounded" minOccurs="1" />

				</sequence>
			</extension>
		</complexContent>
	</complexType>




	<complexType name="TreatmentContraindication">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="0" />

			<element name="simulatorReferencablePopulation" type="tns:PopulationStrataDefinition"
				maxOccurs="1" minOccurs="0" />

			<element name="fractionOfSimulatorReferencablePopulation"
				type="tns:Fraction" maxOccurs="1" minOccurs="0" />

			<element name="pregnancy" type="boolean" maxOccurs="1"
				minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="ConditionalProbabilityTable">
		<sequence>
			<element name="axisDefinitions" type="tns:ArrayDimensionsDefinition"
				maxOccurs="1" minOccurs="1" />

			<choice>
				<element name="pointProbabilities" type="tns:Probability"
					maxOccurs="unbounded" minOccurs="1" />
				<element name="parametricDistribution" type="tns:Probability"
					maxOccurs="unbounded" minOccurs="1" />
			</choice>
		</sequence>
	</complexType>


	<complexType name="NumericParameterValue">
		<sequence>
			<element name="unitOfMeasure" type="tns:UnitOfMeasure"
				maxOccurs="1" minOccurs="0" />

			<choice>
				<element name="value" type="double" maxOccurs="1" minOccurs="1" />

				<element name="unconditionalProbabilityDistribution" type="tns:UnconditionalProbabilityDistribution"
					maxOccurs="1" minOccurs="1" />

				<element name="conditionalProbabilityDistribution" type="tns:ConditionalProbabilityDistribution"
					maxOccurs="1" minOccurs="1" />

			</choice>
		</sequence>
	</complexType>

	<complexType name="ProbabilisticParameterValue">
		<sequence>


			<choice>
				<element name="value" type="double" maxOccurs="1" minOccurs="1" />

				<element name="unconditionalProbabilityDistribution" type="tns:UnconditionalProbabilityDistribution"
					maxOccurs="1" minOccurs="1" />

				<element name="conditionalProbabilityDistribution" type="tns:ConditionalProbabilityDistribution"
					maxOccurs="1" minOccurs="1" />

			</choice>
		</sequence>
	</complexType>


	<complexType name="TreatmentEfficacy">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />

			<element name="treatment" type="tns:Treatment" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>


	<complexType name="Treatment">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />

			<element name="speciesOfTreatedOrganisms" type="tns:NcbiTaxonId"
				maxOccurs="1" minOccurs="1" />

			<element name="numDosesInTreatmentCourse" type="positiveInteger"
				maxOccurs="1" minOccurs="1" />

			<element name="treatmentContraindications" type="tns:TreatmentContraindication"
				maxOccurs="unbounded" minOccurs="0" />

		</sequence>
	</complexType>


	<complexType name="BayesianNetworkDistribution">
		<complexContent>
			<extension base="tns:ProbabilityDistribution">
				<sequence>
					<element name="networkStructure" type="tns:BayesianNetworkStructureType"
						maxOccurs="1" minOccurs="1" />

					<element name="CPTs" type="tns:ConditionalProbabilityTable"
						maxOccurs="unbounded" minOccurs="0" />

					<element name="PPFs" type="tns:PrototypicalProbabilityFunction"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="GeNIE_XML" type="tns:GeNIE_XMLType"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ControlMeasureStartTime" />

	<complexType name="FixedStartTime">
		<complexContent>
			<extension base="tns:ControlMeasureStartTime">
				<sequence>
					<element name="startTime" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1" />

					<element name="stopTime" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ReactiveStartTime">
		<complexContent>
			<extension base="tns:ControlMeasureStartTime">
				<sequence>
					<element name="trigger" type="tns:ReactiveTriggersDefinition"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>




	<complexType name="TimeDefinition">
		<sequence>
			<element name="simulatorTime" type="int" maxOccurs="1"
				minOccurs="1" />
			<element name="date" type="date" maxOccurs="1" minOccurs="0" />

		</sequence>
	</complexType>



	<simpleType name="VaccinationPreventableOutcome">
		<restriction base="string">
			<enumeration value="infection" />
			<enumeration value="infectiousness" />
			<enumeration value="sickness requiring medical attention" />
		</restriction>
	</simpleType>


	<complexType name="VaccinationEfficacy">
		<complexContent>
			<extension base="tns:TreatmentEfficacy">
				<sequence>

					<element name="vaccineIdentifier" type="token" maxOccurs="1"
						minOccurs="1" />

					<element name="strainIdentifier" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />

					<element name="hostIdentifier" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />

					<element name="forVaccinationPreventableOutcome" type="tns:VaccinationPreventableOutcome"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="AntiviralTreatmentEfficacy">
		<complexContent>
			<extension base="tns:TreatmentEfficacy">
				<sequence>
					<element name="antiviralTreatmentIdentifier" type="token"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>




	<complexType name="Ecosystem">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="bioticEcosystem" type="tns:BioticEcosystem"
				maxOccurs="1" minOccurs="1" />

			<element name="abioticEcosystem" type="tns:AbioticEcosystem"
				maxOccurs="1" minOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="BioticEcosystem">
		<sequence>
			<element name="communities" type="tns:PopulationInfectionAndImmunityCensus"
				maxOccurs="unbounded" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="AbioticEcosystem">
		<sequence>
			<element name="homes" type="string" maxOccurs="unbounded"
				minOccurs="0" />

			<element name="schools" type="token" maxOccurs="unbounded"
				minOccurs="0" />

			<element name="workplaces" type="token" maxOccurs="unbounded"
				minOccurs="0" />

		</sequence>
	</complexType>

	<complexType name="BayesianNetworkStructureType" />


	<complexType name="TreatmentEfficacyValueType" />

	<complexType name="VaccinationEfficacyValue" />




	<complexType name="PrototypicalProbabilityFunction" />

	<complexType name="GeNIE_XMLType">
		<sequence>
			<element name="theXML" type="string" maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>



	<complexType name="VaccinationEfficacyForSimulatorConfiguration">
		<complexContent>
			<extension base="tns:VaccinationEfficacy">
				<sequence>
					<element name="averageVaccinationEfficacy" type="tns:Probability"
						maxOccurs="1" minOccurs="1" />

					<element name="vaccinationEfficacybyAge" type="tns:ProbabilisticParameterValue"
						maxOccurs="unbounded" minOccurs="0" />

					<element name="vaccinationEfficaciesByTimeSinceMostRecentDose"
						type="tns:ProbabilisticParameterValue" maxOccurs="unbounded"
						minOccurs="0" />

				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="AntiviralEfficacyForSimulatorConfiguration">
		<complexContent>
			<extension base="tns:AntiviralTreatmentEfficacy">
				<sequence>
					<element name="averageAntiviralTreatmentEfficacy" type="tns:Probability"
						maxOccurs="1" minOccurs="1" />

				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="VaccinationEfficacyValueForSimulatorConfiguration">
		<sequence>
			<element name="NewElement" type="string" />
		</sequence>
	</complexType>

	<complexType name="TimeAxisCategoryLabels">
		<sequence>
			<element name="label" type="token" maxOccurs="1" minOccurs="1" />

			<element name="simulatorTimeEarliest" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="1" />

			<element name="simulatorTimeLatest" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="LocationDefinition">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="locationsIncluded" type="token" maxOccurs="unbounded"
				minOccurs="1" />
			<element name="locationsExcluded" type="token" maxOccurs="unbounded"
				minOccurs="0" />

		</sequence>
	</complexType>

	<complexType name="VaccinationEfficacyByTimeSinceDose">
		<sequence>
			<element name="numberOfDosesAdministered" type="positiveInteger"
				maxOccurs="1" minOccurs="1" />

			<element name="timeIntervalLabelDefinitions" type="tns:TimeAxisCategoryLabels"
				maxOccurs="unbounded" minOccurs="1" />

			<element name="vaccinationEfficacyByTimeSinceMostRecentDose"
				type="tns:Fraction" maxOccurs="unbounded" minOccurs="1" />

		</sequence>
	</complexType>

	<!-- From here to end are types that are NOT USED IN SIMULATOR CONFIG. They 
		are either library types or BioEcon types -->
	<!-- N.B. They can't be yanked out and used on their own because some inherit 
		from types above and others have member variables that take above type -->

	<complexType name="VaccinationEfficacyInferred">
		<complexContent>
			<extension base="tns:VaccinationEfficacy">
				<sequence>
					<element name="inferredFromTheseStudies" type="tns:VaccinationEfficacyStudy"
						maxOccurs="unbounded" minOccurs="1" />

					<element name="vaccinationEfficacyModel" type="tns:BayesianNetworkDistribution"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CatalogEntryForApolloLibraryItem">
		<sequence>
			<element name="itemDescription" type="string" maxOccurs="1"
				minOccurs="1" />

			<element name="itemSource" type="string" maxOccurs="1"
				minOccurs="1" />

			<element name="itemType" type="token" maxOccurs="1"
				minOccurs="1" />

			<element name="itemUuid" type="token" maxOccurs="1"
				minOccurs="1" />

			<element name="itemIndexingLabels" type="token" maxOccurs="unbounded"
				minOccurs="0" />

			<element name="itemCreationTime" type="dateTime" maxOccurs="1"
				minOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="LibraryItem">
		<sequence>
			<element name="base_type" type="string" />
		</sequence>
	</complexType>

	<complexType name="DecisionAlternative">
		<sequence>
			<element name="singleStrategy" type="string" />
			<element name="combinationStrategy" type="string" />
			<element name="SequentialCombinationStrategy" type="string" />
		</sequence>
	</complexType>

	<complexType name="UtilityFunction">
		<sequence>
			<element name="lambdaFunction" type="string" maxOccurs="1"
				minOccurs="1" />

			<choice>
				<element name="textDescription" type="string" maxOccurs="1"
					minOccurs="1" />
			</choice>
		</sequence>
	</complexType>

	<complexType name="SensitivityAnalysis" />

	<complexType name="SensitivityAnalysisResult" />

	<complexType name="DecisionModel">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="decisionAlternatives" type="tns:DecisionAlternative"
						maxOccurs="unbounded" minOccurs="1" />

					<element name="simulatorConfiguration " type="tns:SimulatorConfiguration"
						maxOccurs="1" minOccurs="0" />

					<element name="utilityFunction" type="tns:UtilityFunction"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DecisionAnalysis">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="decisionModel" type="tns:DecisionModel"
						maxOccurs="1" minOccurs="1" />

					<element name="baseCaseResult " type="tns:BaseCaseResult"
						maxOccurs="1" minOccurs="1" />

					<element name="sensitivityAnalyses" type="tns:SensitivityAnalysis"
						maxOccurs="unbounded" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ExpectedUtility" />

	<complexType name="BaseCaseResult">
		<sequence>
			<element name="decisionAlternatives" type="tns:DecisionAlternative"
				maxOccurs="unbounded" minOccurs="1" />

			<element name="expectedUtilities" type="double" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="VaccinationEfficacyMeasured">
		<complexContent>
			<extension base="tns:VaccinationEfficacy">
				<sequence>
					<element name="measuredEfficacyValue" type="tns:ConditionalProbabilityTable"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="VaccinationEfficacyStudy">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="0" />
			<element name="vaccinationPreventableOutcome" type="tns:VaccinationPreventableOutcome"
				maxOccurs="1" minOccurs="1" />

			<element name="vaccinationEfficacyMeasured" type="tns:VaccinationEfficacyMeasured"
				maxOccurs="unbounded" minOccurs="1" />

			<element name="dataSets" type="string" maxOccurs="unbounded"
				minOccurs="1" />

			<element name="references" type="string" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
	</complexType>


	<complexType name="CuratedLibraryItemContainer">
		<sequence>
			<element name="curatedLibraryItem" type="tns:CatalogEntryForApolloLibraryItem"
				maxOccurs="1" minOccurs="1" />
			<element name="apolloIndexableItem" type="tns:ApolloIndexableItem"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="ApolloIndexableItem" />

	<simpleType name="PathogenTaxonID">
		<restriction base="positiveInteger" />

	</simpleType>

	<simpleType name="DiseaseOutcome">
		<restriction base="string">
			<enumeration value="asymptomatic" />
			<enumeration value="symptomatic" />
			<enumeration value="severely symptomatic" />
		</restriction>
	</simpleType>

	<simpleType name="FacilityEnum">
		<restriction base="string">
			<enumeration value="preschool" />
			<enumeration value="primarySchool" />
			<enumeration value="secondarySchool" />
			<enumeration value="workplace" />
		</restriction>
	</simpleType>

	<complexType name="InfectionAcquisition">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="pathogenTaxonID" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />

					<element name="susceptibleHostTaxonID" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />




					<choice>
						<element name="infectiousHostTaxonID" type="tns:NcbiTaxonId"
							maxOccurs="1" minOccurs="0" />

						<element name="contaminatedMaterialID" type="string"
							maxOccurs="1" minOccurs="0" />

					</choice>
					<element name="reproductionNumber" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="0" />
					<element name="transmissionProbability" type="tns:ProbabilisticParameterValue"
						maxOccurs="1" minOccurs="0" />
					<element name="transmissionCoefficient" type="tns:NumericParameterValue"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="InfectionAcquisitionLibraryItem">
		<sequence>
			<element name="pathogenTaxonID" type="tns:PathogenTaxonID"
				maxOccurs="1" minOccurs="1" />

			<element name="susceptibleHostTaxonID" type="string"
				maxOccurs="1" minOccurs="1" />

			<element name="reproductionNumber" type="tns:PositiveDouble"
				maxOccurs="1" minOccurs="0" />

			<element name="transmissionCoefficient" type="tns:PositiveDouble"
				maxOccurs="1" minOccurs="0" />

			<element name="transmissionProbability" type="tns:Probability"
				maxOccurs="1" minOccurs="0" />

			<choice>
				<element name="infectiousHostTaxonID" type="string"
					maxOccurs="1" minOccurs="0" />

				<element name="contaminatedMaterialID" type="string"
					maxOccurs="1" minOccurs="0" />

			</choice>
		</sequence>
	</complexType>

	<complexType name="SimulatorConfiguration">
		<sequence>
			<element name="simulatorIdentification" type="tns:SoftwareIdentification"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>
			<element name="authentication" type="tns:Authentication"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>
			<element name="simulatorTimeSpecification" type="tns:SimulatorTimeSpecification"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="none" />

				</annotation>
			</element>




			<element name="infectiousDiseaseScenario" type="tns:InfectiousDiseaseScenarioInformation"
				maxOccurs="1" minOccurs="1" />

		</sequence>
	</complexType>



	<complexType name="InfectiousDiseaseScenarioInformation">
		<sequence>


			<element name="scenarioDate" type="dateTime" maxOccurs="1"
				minOccurs="0" />

			<element name="infections" type="tns:Infection" maxOccurs="unbounded"
				minOccurs="1" />

			<element name="diseases" type="tns:InfectiousDisease"
				maxOccurs="unbounded" minOccurs="1" />

			<element name="contaminations" type="tns:Contamination"
				maxOccurs="unbounded" minOccurs="0" />
			<element name="treatments" type="tns:Treatment" maxOccurs="unbounded"
				minOccurs="0" />
			<element name="infectiousDiseaseControlStrategies" type="tns:InfectiousDiseaseControlStrategy"
				maxOccurs="unbounded" minOccurs="0" />
			<element name="populationsAndEnvironsCensus" type="tns:PopulationAndEnvironmentCensus"
				maxOccurs="1" minOccurs="1" />

			<element name="populationInfectionAndImmunityCensuses" type="tns:PopulationInfectionAndImmunityCensus"
				maxOccurs="unbounded" minOccurs="1" />



			<element name="populationTreatmentCensuses" type="tns:PopulationTreatmentCensus"
				maxOccurs="unbounded" minOccurs="0" />

			<element name="contaminationCensuses" type="tns:ContaminationCensus"
				maxOccurs="unbounded" minOccurs="0" />


			<element name="controlMeasureInventoryCensuses" type="tns:ControlMeasureInventoryCensus"
				maxOccurs="unbounded" minOccurs="0" />

		</sequence>
		<attributeGroup ref="tns:NewAttributeGroup" />
	</complexType>

	<complexType name="CompartmentalModelPopulationAndEnvironmentCensus">
		<sequence>
			<element name="bioticEcosystemParts" type="tns:PopulationImmunityAndInfectionCensusData"
				maxOccurs="unbounded" minOccurs="1" />
			<element name="abioticEcosystemParts" type="tns:abioticEcosystemPartCensus"
				maxOccurs="unbounded" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="PopulationTreatmentCensus">
		<sequence>
			<element name="date" type="dateTime" maxOccurs="1" minOccurs="0" />
			<element name="populationSpecies" type="tns:NcbiTaxonId"
				maxOccurs="1" minOccurs="1" />
			<element name="treatment" type="tns:Treatment" maxOccurs="1"
				minOccurs="1" />
			<element name="treatmentCensusData" type="tns:PopulationTreatmentCensusData"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="ContaminationAcquisition">
		<sequence>
			<element name="abioticEcosystemElementID" type="string" />
			<element name="pathogenTaxonID" type="tns:NcbiTaxonId" />

			<element name="infectiousHostSource" type="tns:NcbiTaxonId" />
			<element name="contaminatedSource" type="string" />
			<element name="contaminationProbability" type="tns:Probability" />

		</sequence>
	</complexType>

	<complexType name="ContaminableMaterialEntity" />

	<complexType name="PopulationAndAbioticEcosystemCensusDescription">
		<sequence>
			<element name="populationCensusDescriptions" type="tns:PopulationCensusDescription"
				maxOccurs="unbounded" minOccurs="1" />

			<element name="abioticEcosystemElementCensusDescriptions"
				type="tns:AbioticEcosystemElementCensusDescription" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="PopulationCensusDescription">
		<sequence>
			<element name="populationSpecies" type="tns:NcbiTaxonId"
				maxOccurs="1" minOccurs="1" />

			<element name="characteristics" type="token" maxOccurs="unbounded"
				minOccurs="0" />

			<element name="locations" type="tns:INCITS31" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="AbioticEcosystemElementCensusDescription">
		<sequence>
			<element name="abioticElementID" type="token" maxOccurs="1"
				minOccurs="1" />

			<element name="characteristics" type="token" maxOccurs="unbounded"
				minOccurs="0" />

		</sequence>
	</complexType>

	<complexType name="ContaminationCensus">
		<sequence>
			<element name="contaminatedThings" type="tns:Contamination"
				maxOccurs="1" minOccurs="1" />

			<element name="location" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="contaminationStatusOfAllInstances" type="string"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="abioticEcosystemPartCensus">
		<sequence>
			<element name="abioticEcosystemElementID" type="token"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="InfectiousDisease">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="diseaseID" type="string" maxOccurs="1"
						minOccurs="1" />
					<element name="speciesWithDisease" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />
					<element name="causalPathogen" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />

					<element name="probabilityNeverSymptomatic" type="tns:ProbabilisticParameterValue"
						maxOccurs="1" minOccurs="0" />

					<element name="probabilitySeverelySymptomaticGivenSymptomatic"
						type="tns:ProbabilisticParameterValue" maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ParametersForIndividualBehaviorModel">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="species" type="string" maxOccurs="1"
						minOccurs="1" />

					<element name="behaviors" type="string" maxOccurs="unbounded"
						minOccurs="1" />
					<element name="probabilitiesOfBehaviors" type="string"
						maxOccurs="unbounded" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PopulationAndEnvironmentCensus">
		<sequence>
			<element name="date" type="dateTime" maxOccurs="1" minOccurs="0" />
			<element name="location" type="tns:LocationDefinition"
				maxOccurs="1" minOccurs="1" />

			<element name="simulatorType" type="tns:SimulatorType"
				maxOccurs="1" minOccurs="1" />
			<choice>
				<element name="agentModelEcosystemCensus" type="tns:AgentLevelPopulationAndEnvironmentCensus"
					maxOccurs="1" minOccurs="1" />

				<element name="compartmentalModelEcosystemCensus"
					type="tns:CompartmentalModelPopulationAndEnvironmentCensus"
					maxOccurs="1" minOccurs="1" />

			</choice>
		</sequence>
	</complexType>

	<complexType name="AgentLevelPopulationAndEnvironmentCensus">
		<sequence>
			<element name="agentModelEcosystemCensusDescription"
				type="tns:AgentLevelPopulationAndEnvironmentCensusDescription"
				maxOccurs="1" minOccurs="1" />

			<element name="url" type="tns:UrlOutputResource" maxOccurs="1"
				minOccurs="1" />

		</sequence>
	</complexType>
	<attributeGroup name="NewAttributeGroup" />



	<complexType name="Contamination">
		<sequence>
			<element name="pathogenTaxonID" type="tns:NcbiTaxonId"
				maxOccurs="1" minOccurs="1" />
			<element name="abioticThingTaxonId" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="contaminationAcquisitions" type="tns:ContaminationAcquisition"
				maxOccurs="1" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="ControlMeasureInventoryCensus" />



	<complexType name="ContaminationAndContaminationCensus">
		<sequence>
			<element name="contamination" type="tns:Contamination"
				maxOccurs="1" minOccurs="1" />
			<element name="contaminationCensus" type="tns:ContaminableMaterialEntity"
				maxOccurs="1" minOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="TreatmentControlMeasureAndCensuses" />


	<simpleType name="INCITS">
		<restriction base="positiveInteger">
			<totalDigits value="5" fixed="true" />
		</restriction>
	</simpleType>

	<simpleType name="NcbiTaxonId">
		<restriction base="positiveInteger">
			<totalDigits value="5" fixed="true" />
		</restriction>
	</simpleType>



	<simpleType name="UnitOfMeasure">
		<restriction base="string" />
	</simpleType>



	<complexType name="ProbabilityValuePair">
		<sequence>
			<element name="value" type="double" maxOccurs="1" minOccurs="1" />
			<element name="probability" type="tns:Probability" maxOccurs="1"
				minOccurs="1" />

		</sequence>
	</complexType>



	<complexType name="ProbabilityDistribution" />

	<complexType name="UnconditionalProbabilityDistribution">
		<complexContent>
			<extension base="tns:ProbabilityDistribution" />

		</complexContent>
	</complexType>

	<complexType name="NonparametricDiscreteProbabilityDistribution">
		<complexContent>
			<extension base="tns:UnconditionalProbabilityDistribution" />

		</complexContent>
	</complexType>

	<complexType name="ParametricProbabilityDistribution">
		<complexContent>
			<extension base="tns:UnconditionalProbabilityDistribution" />

		</complexContent>
	</complexType>

	<complexType name="DiscreteParametricProbabilityDistribution">
		<complexContent>
			<extension base="tns:ParametricProbabilityDistribution" />

		</complexContent>
	</complexType>

	<complexType name="ContinuousParametricProbabilityDistribution">
		<complexContent>
			<extension base="tns:ParametricProbabilityDistribution" />

		</complexContent>
	</complexType>


	<complexType name="ConditionalProbabilityDistribution">
		<sequence>
			<element name="firstConditioningVariable" type="tns:ConditioningVariable"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

    <complexType name="ConditioningVariable">
    	<sequence>
    		<element name="variableName" type="string" maxOccurs="1"
    			minOccurs="1"/>
    		
    		<element name="values" type="tns:Category" maxOccurs="unbounded" minOccurs="1"/>
    	</sequence>
    </complexType>

    <complexType name="Category">
    	<sequence>
    		<element name="categoryDefinition"
    			type="tns:CategoryDefinition" maxOccurs="1" minOccurs="1"/>
    		
    		<choice>
                <element name="unconditionalProbabilityDistribution" type="tns:UnconditionalProbabilityDistribution" maxOccurs="1" minOccurs="1" />
                <element name="conditioningVariable"
    				type="tns:ConditioningVariable" maxOccurs="1" minOccurs="1"/>
    			
    			
    		</choice>
    	</sequence>
    </complexType>
    
    <complexType name="CategoryDefinition"> </complexType>

</schema>