trunk/apollo-ws/apollo-common/src/main/resources/Apollo.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://research.rods.pitt.edu/apollo/"
	xmlns:tns="http://research.rods.pitt.edu/apollo/" elementFormDefault="qualified">

	<!-- Types -->

	<simpleType name="FipsType">
		<restriction base="string">
			<pattern value="\d\d\d\d\d" />
		</restriction>
	</simpleType>

	<complexType name="named_string_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="string" />
		</sequence>
	</complexType>

	<complexType name="named_boolean_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="boolean" />
		</sequence>
	</complexType>

	<complexType name="named_decimal_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="decimal" />
		</sequence>
	</complexType>

	<complexType name="named_float_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="float" />
		</sequence>
	</complexType>

	<complexType name="named_double_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="double" />
		</sequence>
	</complexType>

	<complexType name="named_duration_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="duration" />
		</sequence>
	</complexType>

	<complexType name="named_dateTime_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="dateTime" />
		</sequence>
	</complexType>

	<complexType name="named_time_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="time" />
		</sequence>
	</complexType>

	<complexType name="named_date_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="date" />
		</sequence>
	</complexType>

	<complexType name="named_gYearMonth_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="gYearMonth" />
		</sequence>
	</complexType>

	<complexType name="named_gYear_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="gYear" />
		</sequence>
	</complexType>

	<complexType name="named_gMonthDay_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="gMonthDay" />
		</sequence>
	</complexType>

	<complexType name="named_gDay_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="gDay" />
		</sequence>
	</complexType>

	<complexType name="named_gMonth_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="gMonth" />
		</sequence>
	</complexType>

	<complexType name="named_hexBinary_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="hexBinary" />
		</sequence>
	</complexType>

	<complexType name="named_base64Binary_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="base64Binary" />
		</sequence>
	</complexType>

	<complexType name="named_anyURI_value_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="anyURI" />
		</sequence>
	</complexType>


	<!--Define the arrays -->

	<complexType name="named_string_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="string" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_boolean_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="boolean" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_decimal_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="decimal" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_float_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="float" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_double_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="double" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_duration_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="duration" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_dateTime_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="dateTime" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_time_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="time" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_date_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="date" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_gYearMonth_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="gYearMonth" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_gYear_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="gYear" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_gMonthDay_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="gMonthDay" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_gDay_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="gDay" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_gMonth_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="gMonth" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_hexBinary_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="hexBinary" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_base64Binary_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="base64Binary" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="named_anyURI_array_type">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="anyURI" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<!-- Simple -->
	<complexType name="unnamed_double_array_type">
		<sequence>
			<element name="value" type="double" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<!-- Type of all type -->
	<complexType name="SupportedTypeCollectionType">
		<sequence>
			<element name="named_string_value" type="tns:named_string_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_string_array" type="tns:named_string_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_boolean_value" type="tns:named_boolean_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_boolean_array" type="tns:named_boolean_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_decimal_value" type="tns:named_decimal_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_decimal_array" type="tns:named_decimal_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_float_value" type="tns:named_float_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_float_array" type="tns:named_float_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_double_value" type="tns:named_double_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_double_array" type="tns:named_double_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_duration_value" type="tns:named_duration_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_duration_array" type="tns:named_duration_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_dateTime_value" type="tns:named_dateTime_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_dateTime_array" type="tns:named_dateTime_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_time_value" type="tns:named_time_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_time_array" type="tns:named_time_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_date_value" type="tns:named_date_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_date_array" type="tns:named_date_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_gYearMonth_value" type="tns:named_gYearMonth_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_gYearMonth_array" type="tns:named_gYearMonth_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_gYear_value" type="tns:named_gYear_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_gYear_array" type="tns:named_gYear_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_gMonthDay_value" type="tns:named_gMonthDay_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_gMonthDay_array" type="tns:named_gMonthDay_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_gDay_value" type="tns:named_gDay_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_gDay_array" type="tns:named_gDay_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_gMonth_value" type="tns:named_gMonth_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_gMonth_array" type="tns:named_gMonth_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_hexBinary_value" type="tns:named_hexBinary_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_hexBinary_array" type="tns:named_hexBinary_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_base64Binary_value" type="tns:named_base64Binary_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_base64Binary_array" type="tns:named_base64Binary_array_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_anyURI_value" type="tns:named_anyURI_value_type"
				minOccurs="0" maxOccurs="unbounded" />
			<element name="named_anyURI_array" type="tns:named_anyURI_array_type"
				minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="ModelID">
		<sequence>
			<element name="groupid" type="string"></element>
			<element name="modelid" type="string"></element>
			<element name="modeltype" type="string"></element>
			<element name="version" type="string"></element>
			<element name="snomed_cid" type="integer"></element>
		</sequence>
	</complexType>

	<complexType name="UnrecognizedParametersDescriptionObjType">
		<sequence>
			<element name="Required" type="tns:SupportedTypeCollectionType"></element>
			<element name="Optional" type="tns:SupportedTypeCollectionType"></element>
		</sequence>
	</complexType>

	<!-- element name="UnrecognizedParametersDescriptionObj" type="tns:UnrecognizedParametersDescriptionObjType"/ -->

	<simpleType name="TemporalGranularityEnum">
		<restriction base="string">
			<enumeration value="hour" />
			<enumeration value="day" />
			<enumeration value="week" />
			<enumeration value="month" />
			<enumeration value="year" />
		</restriction>
	</simpleType>

	<simpleType name="RunStatusEnum">
		<restriction base="string">
			<enumeration value="SUBMITTED" />
			<enumeration value="QUEUED" />
			<enumeration value="RUNNING" />
			<enumeration value="COMPLETED" />
			<enumeration value="FAILED" />
			<enumeration value="UNAUTHORIZED" />
			<enumeration value="UNKNOWN_ID" />

		</restriction>
	</simpleType>


	<complexType name="RunResultRequestObjType">
		<sequence>
			<element name="RunId" type="int"></element>
			<element name="Username" type="string"></element>
			<element name="Password" type="string"></element>

		</sequence>
	</complexType>

	<complexType name="AerosolReleaseCaseDescriptionObjType">
		<sequence>
			<element name="DateTimePresentedToED" type="dateTime"></element>
			<element name="CensusBlockUnit" type="string"></element>
			<element name="HomeZipCode" type="integer"></element>
		</sequence>
	</complexType>

	<complexType name="BaseModelParamObjType">
		<sequence>
			<element name="TemporalGranularity" type="tns:TemporalGranularityEnum"></element>
			<element name="TemporalIncrement" type="int"></element>
			<element name="RunLength" type="int"></element>
			<element name="Username" type="string"></element>
			<element name="Password" type="string"></element>

		</sequence>
	</complexType>

	<!-- element name="SEIRModelRunRequestObj" type="tns:SEIRModelRunRequestObjType" 
		/ -->
	<complexType name="AnthraxAerosolReleaseRunRequestObjType">
		<sequence>
			<element name="ModelID" type="tns:ModelID" />
			<element name="Parameters">
				<complexType>
					<sequence>
						<element name="registered">
							<complexType>
								<complexContent>
									<extension base="tns:BaseModelParamObjType">
										<sequence>
											<element name="ReleaseQuantityInKilograms" type="double" />
											<element name="ReleaseHeight" type="double" />
											<element name="ReleaseLocation">
												<complexType>
													<sequence>
														<element name="X" type="double" />
														<element name="Y" type="double" />
													</sequence>
												</complexType>
											</element>

											<element name="ReleaseDateTime" type="dateTime" />
											<element name="MaximumDownwindDistanceInMeters" type="double" />
											<element name="MaximumCrosswindDistanceInMeters"
												type="double" />
											<element name="RandomNumberGeneratorSeed" type="integer" />
										</sequence>
									</extension>
								</complexContent>
							</complexType>
						</element>
						<element name="Unregistered" type="tns:SupportedTypeCollectionType" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="AnthraxAerosolReleaseRunResponseObjType">
		<sequence>
			<element name="results">
				<complexType>
					<sequence>
						<element name="registered">
							<complexType>
								<sequence>
									<element name="WindDirection" type="double"></element>
									<element name="WindCorrection" type="double"></element>
									<element name="WindSpeed" type="double"></element>
									<element name="WindStability" type="string"></element>
									<element name="Cases"
										type="tns:AerosolReleaseCaseDescriptionObjType" minOccurs="0"
										maxOccurs="unbounded" />

								</sequence>
							</complexType>
						</element>
						<element name="Unregistered" type="tns:SupportedTypeCollectionType" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>



	<complexType name="SEIRModelRunRequestObjType">
		<sequence>
			<element name="ModelID" type="tns:ModelID" />
			<element name="Parameters">
				<complexType>
					<sequence>
						<element name="registered">
							<complexType>
								<complexContent>
									<extension base="tns:BaseModelParamObjType">
										<sequence>
											<element name="AverageDurationOfInfectiousness" type="double" />
											<element name="AverageLatentPeriod" type="double" />
											<element name="PercentCompliant">
												<simpleType>
													<restriction base="double">
														<minInclusive value="0" />
														<maxInclusive value="100" />
													</restriction>
												</simpleType>
											</element>
											<element name="InitialCompartmentSizes">
												<complexType>
													<sequence>
														<element name="Susceptible">
															<complexType>
																<choice>
																	<element name="Number" type="int"></element>
																	<element name="FIPS" type="tns:FipsType"></element>
																</choice>
															</complexType>
														</element>
														<element name="Exposed" type="int" />
														<element name="Infectious" type="int" />
														<element name="Recovered" type="int" />
													</sequence>
												</complexType>
											</element>
											<element name="r0" type="double" />
											<element name="VaccinationSchedule">
												<complexType>
													<sequence>
														<element name="value" type="double" maxOccurs="unbounded">
														</element>
													</sequence>
												</complexType>
											</element>
										</sequence>
									</extension>
								</complexContent>
							</complexType>
						</element>
						<element name="Unregistered" type="tns:SupportedTypeCollectionType" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<!-- element name="SEIRModelRunResponseObj" type="tns:SEIRModelRunResponseObjType" 
		/ -->
	<complexType name="SEIRModelRunResponseObjType">
		<sequence>
			<element name="results">
				<complexType>
					<sequence>
						<element name="registered">
							<complexType>
								<sequence>
									<element name="EpiCurve">
										<complexType>
											<sequence>
												<element name="Susceptible" type="tns:unnamed_double_array_type"></element>
												<element name="Exposed" type="tns:unnamed_double_array_type"></element>
												<element name="Infectious" type="tns:unnamed_double_array_type"></element>
												<element name="Recovered" type="tns:unnamed_double_array_type"></element>
											</sequence>
										</complexType>
									</element>
									<element name="ControlMeasureAdministrationCurve">
										<complexType>
											<sequence>
												<sequence>
													<element name="ControlMeasure" type="tns:named_double_array_type"
														minOccurs="0" maxOccurs="unbounded" />
												</sequence>
											</sequence>
										</complexType>
									</element>
									<element name="IncidenceCurve" type="tns:unnamed_double_array_type"></element>
									<element name="NumberVaccinated" type="double"></element>
									<element name="NumberSick" type="double"></element>
								</sequence>
							</complexType>
						</element>
						<element name="Unregistered" type="tns:SupportedTypeCollectionType" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<!-- element name="CompartmentModelRunRequestObj" type="tns:CompartmentModelRunRequestObjType" 
		/ -->
	<complexType name="CompartmentModelRunRequestObjType">
		<sequence>
			<element name="ModelID" type="tns:ModelID" />
			<element name="Parameters">
				<complexType>
					<sequence>
						<element name="registered">
							<complexType>
								<complexContent>
									<extension base="tns:BaseModelParamObjType">
										<sequence>
											<element name="InitialCompartmentSizes">
												<complexType>
													<sequence>
														<element name="named_Compartment" type="tns:named_decimal_value_type"
															maxOccurs="unbounded" />
													</sequence>
												</complexType>
											</element>
											<element name="ProphylaxisSchedule">
												<complexType>
													<sequence>
														<element name="value" type="double" maxOccurs="unbounded"></element>
													</sequence>
												</complexType>
											</element>
											<element name="BeginTreatmentInterval" type="int"></element>
											<element name="ProphylaxisEfficacy">
												<simpleType>
													<restriction base="int">
														<minInclusive value="0"></minInclusive>
														<maxInclusive value="100"></maxInclusive>
													</restriction>
												</simpleType>
											</element>
											<element name="ProdromalTreatmentEfficacy">
												<simpleType>
													<restriction base="int">
														<minInclusive value="0"></minInclusive>
														<maxInclusive value="100"></maxInclusive>
													</restriction>
												</simpleType>
											</element>
											<element name="FulminantTreatmentEfficacy">
												<simpleType>
													<restriction base="int">
														<minInclusive value="0"></minInclusive>
														<maxInclusive value="100"></maxInclusive>
													</restriction>
												</simpleType>
											</element>
										</sequence>
									</extension>
								</complexContent>
							</complexType>
						</element>
						<element name="Unregistered" type="tns:SupportedTypeCollectionType" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<!-- element name="CompartmentModelRunResponseObj" type="tns:CompartmentModelRunResponseObjType"/ -->
	<complexType name="CompartmentModelRunResponseObjType">
		<sequence>
			<element name="results">
				<complexType>
					<sequence>
						<element name="registered">
							<complexType>
								<sequence>
									<element name="EpiCurve">
										<complexType>
											<sequence>
												<element name="Prodromal" type="tns:unnamed_double_array_type"></element>
												<element name="Fulminant" type="tns:unnamed_double_array_type"></element>
												<element name="Dead" type="tns:unnamed_double_array_type"></element>
												<element name="Prophylaxed" type="tns:unnamed_double_array_type"></element>
											</sequence>
										</complexType>
									</element>
									<element name="NumberProphylaxed" type="int"></element>
									<element name="NumberIV" type="int"></element>
									<element name="NumberICU" type="int"></element>
									<element name="NumberSick" type="int"></element>
									<element name="NumberDead" type="int"></element>
								</sequence>
							</complexType>
						</element>
						<element name="Unregistered" type="tns:SupportedTypeCollectionType" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<simpleType name="SchoolClosurePolicyEnum">
		<restriction base="string">
			<enumeration value="Global" />
			<enumeration value="Individual" />
			<enumeration value="None" />

		</restriction>
	</simpleType>

	<simpleType name="VaccinationPrioritizationSchemeEnum">
		<restriction base="string">
			<enumeration value="ACIP" />
			<enumeration value="AgeBased" />
			<enumeration value="None" />
		</restriction>
	</simpleType>

	<!-- element name="AgentBasedModelRunRequestObj" type="tns:AgentBasedModelRunRequestObjType"/ -->

	<complexType name="AgentBasedModelRunRequestObjType">
		<sequence>
			<element name="ModelID" type="tns:ModelID" />
			<element name="Parameters">
				<complexType>
					<sequence>
						<element name="registered">
							<complexType>
								<complexContent>
									<extension base="tns:BaseModelParamObjType">
										<sequence>
											<element name="SchoolClosureControlMeasureInfo">
												<complexType>
													<sequence>
														<element name="PolicyType" type="tns:SchoolClosurePolicyEnum"></element>
														<element name="Threshold">
															<simpleType>
																<restriction base="double">
																	<minInclusive value="0"></minInclusive>
																	<maxInclusive value="100"></maxInclusive>
																</restriction>
															</simpleType>
														</element>
														<element name="ClosurePeriod" type="int" />
														<element name="ClosureDelay" type="int" />
													</sequence>
												</complexType>
											</element>
											<element name="VaccinationScheduleControlMeasureInfo">
												<complexType>
													<sequence>
														<element name="VaccineTemporalDistribution">
															<complexType>
																<sequence>
																	<element name="value" type="double" maxOccurs="unbounded"></element>
																</sequence>
															</complexType>
														</element>
														<element name="VaccinationPrioritizationScheme"
															type="tns:VaccinationPrioritizationSchemeEnum"></element>
														<element name="Compliance">
															<simpleType>
																<restriction base="double">
																	<minInclusive value="0"></minInclusive>
																	<maxInclusive value="100"></maxInclusive>
																</restriction>
															</simpleType>
														</element>
													</sequence>
												</complexType>
											</element>
											<element name="NumberOfRuns" type="int" />
											<element name="RandomSeed" type="int" />
											<element name="PercentImmune">
												<simpleType>
													<restriction base="double">
														<minInclusive value="0" />
														<maxInclusive value="100" />
													</restriction>
												</simpleType>
											</element>

										</sequence>
									</extension>
								</complexContent>
							</complexType>
						</element>
						<element name="Unregistered" type="tns:SupportedTypeCollectionType" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<!-- element name="AgentBasedModelRunResponseObj" type="tns:AgentBasedModelRunResponseObjType" 
		/ -->

	<complexType name="AgentBasedModelRunResponseObjType">
		<sequence>
			<element name="results">
				<complexType>
					<sequence>
						<element name="registered">
							<complexType>
								<sequence>
									<element name="EpiCurve">
										<complexType>
											<sequence>
												<element name="Susceptible" type="tns:unnamed_double_array_type"></element>
												<element name="Exposed" type="tns:unnamed_double_array_type"></element>
												<element name="Infectious" type="tns:unnamed_double_array_type"></element>
												<element name="Recovered" type="tns:unnamed_double_array_type"></element>
											</sequence>
										</complexType>
									</element>
									<element name="IncidenceCurve" type="tns:unnamed_double_array_type"></element>
									<element name="NumberVaccinated" type="double"></element>
								</sequence>
							</complexType>
						</element>
						<element name="Unregistered" type="tns:SupportedTypeCollectionType" />
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>

</schema>
