src/main/resources/data_service_3.0.2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ds="http://service.apollo.pitt.edu/dataservice/v3_0_2/"
                  xmlns:common="http://services-common.apollo.pitt.edu/v3_0_2/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="DataService_v3.0.0" targetNamespace="http://service.apollo.pitt.edu/dataservice/v3_0_2/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://service.apollo.pitt.edu/dataservice/v3_0_2/"
                    xmlns:dst="http://data_service_types.apollo.pitt.edu/v3_0_2/"
                    xmlns:common="http://services-common.apollo.pitt.edu/v3_0_2/">

            <xsd:import schemaLocation="services-common_3.0.0.xsd"
                        namespace="http://services-common.apollo.pitt.edu/v3_0_2/"></xsd:import>
            <xsd:import schemaLocation="data_service_3.0.0.xsd"
                        namespace="http://data_service_types.apollo.pitt.edu/v3_0_2/"></xsd:import>

            <xsd:element name="listOutputFilesForSoftware">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listOutputFilesForSoftwareMessage"
                                     type="dst:ListOutputFilesForSoftwareMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="listOutputFilesForSoftwareResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listOutputFilesForSoftwareResult"
                                     type="dst:ListOutputFilesForSoftwareResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>


            <xsd:element name="getOutputFilesURLs">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="runId" type="xsd:positiveInteger"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getOutputFilesURLsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="methodCallStatus" type="common:MethodCallStatus"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getOutputFilesURLAsZip">
                <xsd:complexType>
                    <xsd:sequence>

                        <xsd:element name="runId"
                                     type="xsd:positiveInteger"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getOutputFilesURLAsZipResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="methodCallStatus" type="common:MethodCallStatus"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAllOutputFilesURLAsZip">
                <xsd:complexType>
                    <xsd:sequence>

                        <xsd:element name="runId"
                                     type="xsd:positiveInteger"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAllOutputFilesURLAsZipResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="methodCallStatus" type="common:MethodCallStatus"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getSoftwareIdentificationForRun">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getSoftwreIdentificationForRun"
                                     type="dst:GetSoftwareIdentificationForRunMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getSoftwareIdentificationForRunResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getSoftwareIdentificationForRunResponse"
                                     type="dst:GetSoftwareIdentificationForRunResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getSoftwareIdentificationKeyFromSoftwareIdentification">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getSoftwareIdentificationKey"
                                     type="dst:GetSoftwareIdentificationKeyFromSoftwareIdentificationMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getSoftwareIdentificationKeyFromSoftwareIdentificationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getSoftwareIdentificationKeyFromSoftwareIdentificationResponse"
                                     type="dst:GetSoftwareIdentificationKeyFromSoftwareIdentificationResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getSoftwareIdentificationKeyForRun">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getSoftwareIdentificationKeyForRun"
                                     type="dst:GetSoftwareIdentificationKeyForRunMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getSoftwareIdentificationKeyForRunResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getSoftwareIdentificationKeyForRunResponse"
                                     type="dst:GetSoftwareIdentificationKeyForRunResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addTextDataContent">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="addTextDataContent"
                                     type="dst:AddTextDataContentMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addTextDataContentResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="addTextDataContentResult"
                                     type="dst:AddTextDataContentResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getDataContentForSoftware">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getDataContentForSoftware"
                                     type="dst:GetDataContentForSoftwareMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getDataContentForSoftwareResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getDataContentForSoftwareResponse"
                                     type="dst:GetDataContentForSoftwareResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getRunDataDescriptionId">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getRunDataDescriptionId"
                                     type="dst:GetRunDataDescriptionIdMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getRunDataDescriptionIdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getRunDataDescriptionIdResponse"
                                     type="dst:GetRunDataDescriptionIdResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="associateContentWithRunId">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="associateContentWithRunId"
                                     type="dst:AssociateContentWithRunIdMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="associateContentWithRunIdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="associateContentWithRunIdResponse"
                                     type="dst:AssociateContentWithRunIdResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="updateStatusOfRun">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="updateStatusOfRun"
                                     type="dst:UpdateStatusOfRunMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="updateStatusOfRunResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="updateStatusOfRunResponse"
                                     type="dst:UpdateStatusOfRunResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getStatusOfRun">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getStatusOfRun"
                                     type="dst:GetStatusOfRunMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getStatusOfRunResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getStatusOfRunResponse"
                                     type="dst:GetStatusOfRunResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="removeRunData">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="removeRunData"
                                     type="dst:RemoveRunDataMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="removeRunDataResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="removeRunDataResponse"
                                     type="dst:RemoveRunDataResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addUser">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="addUser"
                                     type="dst:AddUserMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listFilesAssociatedToRunResponse"
                                     type="dst:AddUserResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteUser">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="deleteUser"
                                     type="dst:DeleteUserMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="deleteUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="deleteUserResponse"
                                     type="dst:DeleteUserResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addUserRole">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="addUserRole"
                                     type="dst:AddUserRoleMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addUserRoleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="addUserRoleResponse"
                                     type="dst:AddUserRoleResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addRole">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="addRole"
                                 type="dst:AddRoleMessage"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
            <xsd:element name="addRoleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="addRoleResponse"
                                     type="dst:AddRoleResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getListOfRegisteredSoftware">
                <xsd:complexType>

                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getListOfRegisteredSoftwareResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getListOfRegisteredSoftwareResponse"
                                     type="dst:GetListOfRegisteredSoftwareResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="listFilesAssociatedToRun">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listFilesAssociatedToRun"
                                     type="dst:ListFilesMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="listFilesAssociatedToRunResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listFilesAssociatedToRunResponse"
                                     type="dst:ListFilesResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="listURLsAssociatedToRun">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listURLsAssociatedToRun"
                                     type="dst:ListURLsMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="listURLsAssociatedToRunResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="listURLsAssociatedToRunResponse"
                                     type="dst:ListURLsResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="getFileContent">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getFileContent"
                                     type="dst:GetFileContentMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getFileContentResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getFileContentResponse"
                                     type="dst:GetFileContentResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getURLContent">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getURLContent"
                                     type="dst:GetURLContentMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getURLContentResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="getURLContentResponse"
                                     type="dst:GetURLContentResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="associateFileWithRunId">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="associateFileWithRunId"
                                     type="dst:AssociateFileWithRunIdMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="associateFileWithRunIdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="associateFileWithRunIdResponse"
                                     type="dst:AssociateFileWithRunIdResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="associateURLWithRunId">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="associateURLWithRunId"
                                     type="dst:AssociateURLWithRunIdMessage"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="associateURLWithRunIdResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="associateURLWithRunIdResponse"
                                     type="dst:AssociateURLWithRunIdResult"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="listOutputFilesForSoftwareRequest">
        <wsdl:part name="parameters" element="ds:listOutputFilesForSoftware"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listOutputFilesForSoftwareResponse">
        <wsdl:part name="parameters" element="ds:listOutputFilesForSoftwareResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="getOutputFilesURLsRequest">
        <wsdl:part name="parameters" element="ds:getOutputFilesURLs"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOutputFilesURLsResponse">
        <wsdl:part name="parameters" element="ds:getOutputFilesURLsResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOutputFilesURLAsZipRequest">
        <wsdl:part name="parameters" element="ds:getOutputFilesURLAsZip"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOutputFilesURLAsZipResponse">
        <wsdl:part name="parameters" element="ds:getOutputFilesURLAsZipResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllOutputFilesURLAsZipRequest">
        <wsdl:part name="parameters" element="ds:getAllOutputFilesURLAsZip"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllOutputFilesURLAsZipResponse">
        <wsdl:part name="parameters" element="ds:getAllOutputFilesURLAsZipResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSoftwareIdentificationKeyFromSoftwareIdentificationRequest">
        <wsdl:part name="parameters" element="ds:getSoftwareIdentificationKeyFromSoftwareIdentification"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSoftwareIdentificationKeyFromSoftwareIdentificationResponse">
        <wsdl:part name="parameters" element="ds:getSoftwareIdentificationKeyFromSoftwareIdentificationResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSoftwareIdentificationKeyForRunRequest">
        <wsdl:part name="parameters" element="ds:getSoftwareIdentificationKeyForRun"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSoftwareIdentificationKeyForRunResponse">
        <wsdl:part name="parameters" element="ds:getSoftwareIdentificationKeyForRunResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addTextDataContentRequest">
        <wsdl:part name="parameters" element="ds:addTextDataContent"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addTextDataContentResponse">
        <wsdl:part name="parameters" element="ds:addTextDataContentResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="associateContentWithRunIdRequest">
        <wsdl:part name="parameters" element="ds:associateContentWithRunId"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="associateContentWithRunIdResponse">

        <wsdl:part name="parameters" element="ds:associateContentWithRunIdResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="getDataContentForSoftwareRequest">
        <wsdl:part name="parameters" element="ds:getDataContentForSoftware"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getDataContentForSoftwareResponse">
        <wsdl:part name="parameters" element="ds:getDataContentForSoftwareResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="getRunDataDescriptionIdRequest">
        <wsdl:part name="parameters" element="ds:getRunDataDescriptionId"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getRunDataDescriptionIdResponse">
        <wsdl:part name="parameters" element="ds:getRunDataDescriptionIdResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSoftwareIdentificationForRunRequest">
        <wsdl:part name="parameters" element="ds:getSoftwareIdentificationForRun"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getSoftwareIdentificationForRunResponse">
        <wsdl:part name="parameters" element="ds:getSoftwareIdentificationForRunResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateStatusOfRunRequest">
        <wsdl:part name="parameters" element="ds:updateStatusOfRun"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateStatusOfRunResponse">
        <wsdl:part name="parameters" element="ds:updateStatusOfRunResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getStatusOfRunRequest">
        <wsdl:part name="parameters" element="ds:getStatusOfRun"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getStatusOfRunResponse">
        <wsdl:part name="parameters" element="ds:getStatusOfRunResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="removeRunDataRequest">
        <wsdl:part name="parameters" element="ds:removeRunData"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="removeRunDataResponse">
        <wsdl:part name="parameters" element="ds:removeRunDataResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addUserRequest">
        <wsdl:part name="parameters" element="ds:addUser"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addUserResponse">
        <wsdl:part name="parameters" element="ds:addUserResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteUserRequest">
        <wsdl:part name="parameters" element="ds:deleteUser"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteUserResponse">
        <wsdl:part name="parameters" element="ds:deleteUserResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addUserRoleRequest">
        <wsdl:part name="parameters" element="ds:addUserRole"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addUserRoleResponse">
        <wsdl:part name="parameters" element="ds:addUserRoleResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addRoleRequest">
        <wsdl:part name="parameters" element="ds:addRole"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addRoleResponse">
        <wsdl:part name="parameters" element="ds:addRoleResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getListOfRegisteredSoftwareRequest">
        <wsdl:part name="parameters" element="ds:getListOfRegisteredSoftware"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getListOfRegisteredSoftwareResponse">
        <wsdl:part name="parameters" element="ds:getListOfRegisteredSoftwareResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listFilesAssociatedToRunRequest">
        <wsdl:part name="parameters" element="ds:listFilesAssociatedToRun"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listFilesAssociatedToRunResponse">
        <wsdl:part name="parameters" element="ds:listFilesAssociatedToRunResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listURLsAssociatedToRunRequest">
        <wsdl:part name="parameters" element="ds:listURLsAssociatedToRun"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="listURLsAssociatedToRunResponse">
        <wsdl:part name="parameters" element="ds:listURLsAssociatedToRunResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getFileContentRequest">
        <wsdl:part name="parameters" element="ds:getFileContent"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getFileContentResponse">
        <wsdl:part name="parameters" element="ds:getFileContentResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getURLContentRequest">
        <wsdl:part name="parameters" element="ds:getURLContent"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getURLContentResponse">
        <wsdl:part name="parameters" element="ds:getURLContentResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="associateFileWithRunIdRequest">
        <wsdl:part name="parameters" element="ds:associateFileWithRunId"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="associateFileWithRunIdResponse">
        <wsdl:part name="parameters" element="ds:associateFileWithRunIdResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="associateURLWithRunIdRequest">
        <wsdl:part name="parameters" element="ds:associateURLWithRunId"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="associateURLWithRunIdResponse">
        <wsdl:part name="parameters" element="ds:associateURLWithRunIdResponse"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="DataServiceEI">

        <wsdl:operation name="getDataContentForSoftware">
            <wsdl:input message="ds:getDataContentForSoftwareRequest"></wsdl:input>
            <wsdl:output message="ds:getDataContentForSoftwareResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="associateContentWithRunId">
            <wsdl:input message="ds:associateContentWithRunIdRequest"></wsdl:input>
            <wsdl:output message="ds:associateContentWithRunIdResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addTextDataContent">
            <wsdl:input message="ds:addTextDataContentRequest"></wsdl:input>
            <wsdl:output message="ds:addTextDataContentResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getSoftwareIdentificationForRun">
            <wsdl:input message="ds:getSoftwareIdentificationForRunRequest"></wsdl:input>
            <wsdl:output message="ds:getSoftwareIdentificationForRunResponse"></wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getSoftwareIdentificationKeyFromSoftwareIdentification">
            <wsdl:input message="ds:getSoftwareIdentificationKeyFromSoftwareIdentificationRequest"></wsdl:input>
            <wsdl:output message="ds:getSoftwareIdentificationKeyFromSoftwareIdentificationResponse"></wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getSoftwareIdentificationKeyForRun">
            <wsdl:input message="ds:getSoftwareIdentificationKeyForRunRequest"></wsdl:input>
            <wsdl:output message="ds:getSoftwareIdentificationKeyForRunResponse"></wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="listOutputFilesForSoftware">
            <wsdl:input message="ds:listOutputFilesForSoftwareRequest"></wsdl:input>
            <wsdl:output message="ds:listOutputFilesForSoftwareResponse"></wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getOutputFilesURLs">
            <wsdl:input message="ds:getOutputFilesURLsRequest"></wsdl:input>
            <wsdl:output message="ds:getOutputFilesURLsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputFilesURLAsZip">
            <wsdl:input message="ds:getOutputFilesURLAsZipRequest"></wsdl:input>
            <wsdl:output message="ds:getOutputFilesURLAsZipResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllOutputFilesURLAsZip">
            <wsdl:input message="ds:getAllOutputFilesURLAsZipRequest"></wsdl:input>
            <wsdl:output message="ds:getAllOutputFilesURLAsZipResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getRunDataDescriptionId">
            <wsdl:input message="ds:getRunDataDescriptionIdRequest"></wsdl:input>
            <wsdl:output message="ds:getRunDataDescriptionIdResponse"></wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="updateStatusOfRun">
            <wsdl:input message="ds:updateStatusOfRunRequest"></wsdl:input>
            <wsdl:output message="ds:updateStatusOfRunResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getStatusOfRun">
            <wsdl:input message="ds:getStatusOfRunRequest"></wsdl:input>
            <wsdl:output message="ds:getStatusOfRunResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="removeRunData">
            <wsdl:input message="ds:removeRunDataRequest"></wsdl:input>
            <wsdl:output message="ds:removeRunDataResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUser">
            <wsdl:input message="ds:addUserRequest"></wsdl:input>
            <wsdl:output message="ds:addUserResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteUser">
            <wsdl:input message="ds:deleteUserRequest"></wsdl:input>
            <wsdl:output message="ds:deleteUserResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addUserRole">
            <wsdl:input message="ds:addUserRoleRequest"></wsdl:input>
            <wsdl:output message="ds:addUserRoleResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addRole">
            <wsdl:input message="ds:addRoleRequest"></wsdl:input>
            <wsdl:output message="ds:addRoleResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getListOfRegisteredSoftware">
            <wsdl:input message="ds:getListOfRegisteredSoftwareRequest"></wsdl:input>
            <wsdl:output message="ds:getListOfRegisteredSoftwareResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listFilesAssociatedToRun">
            <wsdl:input message="ds:listFilesAssociatedToRunRequest"></wsdl:input>
            <wsdl:output message="ds:listFilesAssociatedToRunResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="listURLsAssociatedToRun">
            <wsdl:input message="ds:listURLsAssociatedToRunRequest"></wsdl:input>
            <wsdl:output message="ds:listURLsAssociatedToRunResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getFileContent">
            <wsdl:input message="ds:getFileContentRequest"></wsdl:input>
            <wsdl:output message="ds:getFileContentResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getURLContent">
            <wsdl:input message="ds:getURLContentRequest"></wsdl:input>
            <wsdl:output message="ds:getURLContentResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="associateFileWithRunId">
            <wsdl:input message="ds:associateFileWithRunIdRequest"></wsdl:input>
            <wsdl:output message="ds:associateFileWithRunIdResponse"></wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="associateURLWithRunId">
            <wsdl:input message="ds:associateURLWithRunIdRequest"></wsdl:input>
            <wsdl:output message="ds:associateURLWithRunIdResponse"></wsdl:output>
        </wsdl:operation>


    </wsdl:portType>
    <wsdl:binding name="DataServiceBinding" type="ds:DataServiceEI">

        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>

    </wsdl:binding>
    <wsdl:service name="DataService_v3.0.0">
        <wsdl:port binding="ds:DataServiceBinding" name="DataServiceEndpoint">
            <soap:address
                    location="http://localhost:8080/dataservice3.0.0/services/libraryservice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>