src/main/resources/library_service_3.0.2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/libraryservice/v3_0_2/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="LibraryService_v3.0.0" targetNamespace="http://service.apollo.pitt.edu/libraryservice/v3_0_2/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/libraryservice/v3_0_2/"
			xmlns:lst="http://library-service-types.apollo.pitt.edu/v3_0_2/">

			<xsd:import schemaLocation="library_service_3.0.0.xsd"
				namespace="http://library-service-types.apollo.pitt.edu/v3_0_2/">
			</xsd:import>



			<xsd:element name="getLibraryItemContainer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getLibraryItemContainerMessage"
							type="lst:GetLibraryItemContainerMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLibraryItemContainerResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getLibraryItemContainerResult"
							type="lst:GetLibraryItemContainerResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="addLibraryItemContainer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="addLibraryItemContainerMessage"
							type="lst:AddLibraryItemContainerMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addLibraryItemContainerResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="addLibraryItemContainerResult"
							type="lst:AddLibraryItemContainerResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateLibraryItemContainer">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="updateLibraryItemContainerMessage"
							type="lst:UpdateLibraryItemContainerMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateLibraryItemContainerResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="updateLibraryItemContainerResult"
							type="lst:UpdateLibraryItemContainerResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setReleaseVersionForLibraryItem">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="setReleaseVersionForLibraryItemMessage"
							type="lst:SetReleaseVersionMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setReleaseVersionForLibraryItemResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="setReleaseVersionForLibraryItemResult"
							type="lst:SetReleaseVersionResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addReviewerCommentToLibraryItem">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="addReviewerCommentToLibraryItemMessage"
							type="lst:AddReviewerCommentMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addReviewerCommentToLibraryItemResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="addReviewerCommentToLibraryItemResult"
							type="lst:AddReviewerCommentResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getCommentsForLibraryItem">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getCommentsForLibraryItemMessage"
							type="lst:GetCommentsMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getCommentsForLibraryItemResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getCommentsForLibraryItemResult"
							type="lst:GetCommentsResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getVersionNumbersForLibraryItem">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getVersionNumbersForLibraryItemMessage"
							type="lst:GetVersionsMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getVersionNumbersForLibraryItemResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getVersionNumbersForLibraryItemResult"
							type="lst:GetVersionsResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLibraryItemReleaseVersion">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getLibraryItemReleaseVersionMessage"
							type="lst:GetReleaseVersionMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLibraryItemReleaseVersionResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getLibraryItemReleaseVersionResult"
							type="lst:GetReleaseVersionResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="query">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="queryMessage" type="lst:QueryMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="queryResult" type="lst:QueryResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="grantGroupAccessToLibraryItem">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="grantGroupAccessToLibraryItemMessage"
							type="lst:ModifyGroupOwnershipMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="grantGroupAccessToLibraryItemResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="grantGroupAccessToLibraryItemResult"
							type="lst:ModifyGroupOwnershipResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeGroupAccessToLibraryItem">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="removeGroupAccessToLibraryItemMessage"
							type="lst:ModifyGroupOwnershipMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeGroupAccessToLibraryItemResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="removeGroupAccessToLibraryItemResult"
							type="lst:ModifyGroupOwnershipResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getLibraryItemURNs">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getLibraryItemURNsMessage" type="lst:GetLibraryItemURNsMessage"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLibraryItemURNsResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getLibraryItemURNsResult" type="lst:GetLibraryItemURNsResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getChangeLogForLibraryItemsModifiedSinceDateTime">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="getChangeLogForLibraryItemsModifiedSinceDateTimeMessage"
							type="lst:GetChangeLogForLibraryItemsModifiedSinceDateTimeMessage"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				name="getChangeLogForLibraryItemsModifiedSinceDateTimeResponse">
								<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="getChangeLogForLibraryItemsModifiedSinceDateTimeResult"
							type="lst:GetChangeLogForLibraryItemsModifiedSinceDateTimeResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
				
			</xsd:element>
			<xsd:element name="setLibraryItemAsNotReleased">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="setLibraryItemAsNotReleasedMessage" type="lst:SetLibraryItemAsNotReleasedMessage"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setLibraryItemAsNotReleasedResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="setLibraryItemAsNotReleasedResult" type="lst:SetLibraryItemAsNotReleasedResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getLibraryItemContainerRequest">
		<wsdl:part name="parameters" element="tns:getLibraryItemContainer"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemContainerResponse">
		<wsdl:part name="parameters" element="tns:getLibraryItemContainerResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addLibraryItemContainerRequest">
		<wsdl:part name="parameters" element="tns:addLibraryItemContainer"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addLibraryItemContainerResponse">
		<wsdl:part name="parameters" element="tns:addLibraryItemContainerResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateLibraryItemContainerRequest">
		<wsdl:part name="parameters" element="tns:updateLibraryItemContainer"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateLibraryItemContainerResponse">
		<wsdl:part name="parameters" element="tns:updateLibraryItemContainerResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setReleaseVersionForLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:setReleaseVersionForLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setReleaseVersionForLibraryItemResponse">
		<wsdl:part name="parameters"
			element="tns:setReleaseVersionForLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addReviewerCommentToLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:addReviewerCommentToLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addReviewerCommentToLibraryItemResponse">
		<wsdl:part name="parameters"
			element="tns:addReviewerCommentToLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCommentsForLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:getCommentsForLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCommentsForLibraryItemResponse">
		<wsdl:part name="parameters" element="tns:getCommentsForLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVersionNumbersForLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:getVersionNumbersForLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVersionNumbersForLibraryItemResponse">
		<wsdl:part name="parameters"
			element="tns:getVersionNumbersForLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemReleaseVersionRequest">
		<wsdl:part name="parameters" element="tns:getLibraryItemReleaseVersion"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemReleaseVersionResponse">
		<wsdl:part name="parameters" element="tns:getLibraryItemReleaseVersionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryRequest">
		<wsdl:part name="parameters" element="tns:query"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryResponse">
		<wsdl:part name="parameters" element="tns:queryResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="grantGroupAccessToLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:grantGroupAccessToLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="grantGroupAccessToLibraryItemResponse">
		<wsdl:part name="parameters" element="tns:grantGroupAccessToLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeGroupAccessToLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:removeGroupAccessToLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeGroupAccessToLibraryItemResponse">
		<wsdl:part name="parameters" element="tns:removeGroupAccessToLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemURNsRequest">
		<wsdl:part name="parameters" element="tns:getLibraryItemURNs"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemURNsResponse">
		<wsdl:part name="parameters" element="tns:getLibraryItemURNsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getChangeLogForLibraryItemsModifiedSinceDateTimeRequest">
		<wsdl:part name="parameters"
			element="tns:getChangeLogForLibraryItemsModifiedSinceDateTime"></wsdl:part>
	</wsdl:message>
	<wsdl:message
		name="getChangeLogForLibraryItemsModifiedSinceDateTimeResponse">
		<wsdl:part name="parameters"
			element="tns:getChangeLogForLibraryItemsModifiedSinceDateTimeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setLibraryItemAsNotReleasedRequest">
		<wsdl:part name="parameters" element="tns:setLibraryItemAsNotReleased"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setLibraryItemAsNotReleasedResponse">
		<wsdl:part name="parameters" element="tns:setLibraryItemAsNotReleasedResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LibraryServiceEI">
		<wsdl:operation name="getLibraryItemURNs">
			<wsdl:input message="tns:getLibraryItemURNsRequest"></wsdl:input>
			<wsdl:output message="tns:getLibraryItemURNsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getLibraryItemContainer">
			<wsdl:input message="tns:getLibraryItemContainerRequest"></wsdl:input>
			<wsdl:output message="tns:getLibraryItemContainerResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getChangeLogForLibraryItemsModifiedSinceDateTime">
			<wsdl:input
				message="tns:getChangeLogForLibraryItemsModifiedSinceDateTimeRequest"></wsdl:input>
			<wsdl:output
				message="tns:getChangeLogForLibraryItemsModifiedSinceDateTimeResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addLibraryItemContainer">
			<wsdl:input message="tns:addLibraryItemContainerRequest"></wsdl:input>
			<wsdl:output message="tns:addLibraryItemContainerResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateLibraryItemContainer">
			<wsdl:input message="tns:updateLibraryItemContainerRequest"></wsdl:input>
			<wsdl:output message="tns:updateLibraryItemContainerResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="setReleaseVersionForLibraryItem">
			<wsdl:input message="tns:setReleaseVersionForLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:setReleaseVersionForLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addReviewerCommentToLibraryItem">
			<wsdl:input message="tns:addReviewerCommentToLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:addReviewerCommentToLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCommentsForLibraryItem">
			<wsdl:input message="tns:getCommentsForLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:getCommentsForLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVersionNumbersForLibraryItem">
			<wsdl:input message="tns:getVersionNumbersForLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:getVersionNumbersForLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getLibraryItemReleaseVersion">
			<wsdl:input message="tns:getLibraryItemReleaseVersionRequest"></wsdl:input>
			<wsdl:output message="tns:getLibraryItemReleaseVersionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="grantGroupAccessToLibraryItem">
			<wsdl:input message="tns:grantGroupAccessToLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:grantGroupAccessToLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeGroupAccessToLibraryItem">
			<wsdl:input message="tns:removeGroupAccessToLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:removeGroupAccessToLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="query">
			<wsdl:input message="tns:queryRequest"></wsdl:input>
			<wsdl:output message="tns:queryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setLibraryItemAsNotReleased">
			<wsdl:input message="tns:setLibraryItemAsNotReleasedRequest"></wsdl:input>
			<wsdl:output message="tns:setLibraryItemAsNotReleasedResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LibraryServiceBinding" type="tns:LibraryServiceEI">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getLibraryItemContainer">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/libraryservice/v3_0_2/getLibraryItemContainer" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addLibraryItemContainer">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/libraryservice/v3_0_2/addLibraryItemContainer" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateLibraryItemContainer">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/libraryservice/v3_0_2/updateLibraryItemContainer" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setReleaseVersionForLibraryItem">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/libraryservice/v3_0_2/setReleaseVersionForLibraryItem" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addReviewerCommentToLibraryItem">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/libraryservice/v3_0_2/addReviewerCommentToLibraryItem" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCommentsForLibraryItem">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/libraryservice/v3_0_2/getCommentsForLibraryItem" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVersionNumbersForLibraryItem">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/libraryservice/v3_0_2/getVersionNumbersForLibraryItem" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getLibraryItemReleaseVersion">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/libraryservice/v3_0_2/getLibraryItemReleaseVersion" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="query">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/libraryservice/v3_0_2/query" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="grantGroupAccessToLibraryItem">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/libraryservice/v3_0_2/grantGroupAccessToLibraryItem" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeGroupAccessToLibraryItem">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/libraryservice/v3_0_2/removeGroupAccessToLibraryItem" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getLibraryItemURNs">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/libraryservice/v3_0_2/getLibraryItemURNs" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getChangeLogForLibraryItemsModifiedSinceDateTime">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/libraryservice/v3_0_2/getChangeLogForLibraryItemsModifiedSinceDateTime" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LibraryService_v3.0.0">
		<wsdl:port binding="tns:LibraryServiceBinding" name="LibraryServiceEndpoint">
			<soap:address
				location="http://localhost:8080/libraryservice3.0.0/services/libraryservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>