src/main/resources/library_service_3.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://library-service-types.apollo.pitt.edu/v3_0_0/"
	xmlns:tns="http://library-service-types.apollo.pitt.edu/v3_0_0/"
	elementFormDefault="qualified" xmlns:pref="http://services-common.apollo.pitt.edu/v3_0_0/"
	xmlns:Q1="http://types.apollo.pitt.edu/v3_0_0/">

	<import schemaLocation="apollo-types_3.0.0.xsd" namespace="http://types.apollo.pitt.edu/v3_0_0/"></import>
	<import schemaLocation="services-common_3.0.0.xsd"
		namespace="http://services-common.apollo.pitt.edu/v3_0_0/"></import>
	<complexType name="LibraryItemContainer">
		<sequence>
			<element name="catalogEntry" type="tns:CatalogEntry"
				maxOccurs="1" minOccurs="1" />
			<element name="libraryItem" type="Q1:ApolloIndexableItem"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="CatalogEntry">
		<sequence>
			<element name="itemDescription" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="itemType" type="string" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="GetLibraryItemContainerResult">
		<sequence>
			<element name="status" type="pref:MethodCallStatus"></element>
			<element name="libraryItemContainer" type="tns:LibraryItemContainer"></element>
		</sequence>
	</complexType>

	<complexType name="AddLibraryItemContainerResult">
		<sequence>
			<element name="status" type="pref:MethodCallStatus"></element>
			<element name="version" type="int"></element>
            <element name="urn" type="int"></element>
		</sequence>
	</complexType>
    
    <complexType name="UpdateLibraryItemContainerResult">
		<sequence>
			<element name="status" type="pref:MethodCallStatus"></element>
			<element name="version" type="int"></element>
		</sequence>
	</complexType>

	<complexType name="GetDiffResult">
		<sequence>
			<element name="status" type="pref:MethodCallStatus"></element>
			<element name="diff" type="string"></element>
		</sequence>
	</complexType>

	<complexType name="GetCommentsResult">
		<sequence>
			<element name="status" type="pref:MethodCallStatus"></element>
			<element name="commitComment" type="tns:CommentFromLibrary"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="reviewerComments" type="tns:CommentFromLibrary"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="releaseVersionComments" type="tns:CommentFromLibrary"
				minOccurs="0" maxOccurs="unbounded">
			</element>
		</sequence>
	</complexType>

	<complexType name="CommentFromLibrary">
		<sequence>
			<element name="commenter" type="token"></element>
			<element name="time" type="dateTime"></element>
			<element name="comment" type="string"></element>
		</sequence>
	</complexType>

	<complexType name="AddLibraryItemContainerMessage">
		<sequence>
			<element name="authentication" type="pref:Authentication"></element>
			<element name="libraryItemContainer" type="tns:LibraryItemContainer">
			</element>
			<element name="comment" type="string"></element>
		</sequence>
	</complexType>
    
    <complexType name="UpdateLibraryItemContainerMessage">
		<sequence>
			<element name="authentication" type="pref:Authentication"></element>
			<element name="urn" type="int"></element>
			<element name="libraryItemContainer" type="tns:LibraryItemContainer">
			</element>
			<element name="comment" type="string"></element>
		</sequence>
	</complexType>

	<complexType name="GetLibraryItemContainerMessage">
		<sequence>
			<element name="authentication" type="pref:Authentication"
				maxOccurs="1" minOccurs="1"></element>
			<element name="urn" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="version" type="int" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="GetLibraryItemURNsMessage">
		<sequence>
			<element name="authentication" type="pref:Authentication"
				maxOccurs="1" minOccurs="1"></element>
			<element name="itemType" type="token" minOccurs="0"
				maxOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="GetLibraryItemURNsResult">
		<sequence>
			<element name="status" type="pref:MethodCallStatus"></element>
			<element name="URNs" type="int" minOccurs="0" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="SetReleaseVersionMessage">
		<sequence>
			<element name="authentication" type="pref:Authentication"
				maxOccurs="1" minOccurs="1"></element>
			<element name="urn" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="version" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="comment" type="string" maxOccurs="1"
				minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="AddReviewerCommentMessage">
		<sequence>
			<element name="authentication" type="pref:Authentication"
				maxOccurs="1" minOccurs="1"></element>
			<element name="urn" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="version" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="comment" type="string" maxOccurs="1"
				minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="GetCommentsMessage">
		<sequence>
			<element name="authentication" type="pref:Authentication"
				maxOccurs="1" minOccurs="1"></element>
			<element name="urn" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="version" type="int" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="ModifyGroupOwnershipMessage">
		<sequence>
			<element name="authentication" type="pref:Authentication"
				maxOccurs="1" minOccurs="1"></element>
			<element name="urn" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="group" type="token" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="GetGroupsMessage">
		<sequence>
			<element name="authentication" type="pref:Authentication"
				maxOccurs="1" minOccurs="1"></element>
			<element name="urn" type="int" maxOccurs="1" minOccurs="1"></element>

		</sequence>
	</complexType>
	<complexType name="GetReleaseVersionMessage">
		<sequence>
			<element name="authentication" type="pref:Authentication"
				maxOccurs="1" minOccurs="1"></element>
			<element name="urn" type="int" maxOccurs="1" minOccurs="1"></element>

		</sequence>
	</complexType>

	<complexType name="GetDiffMessage">
		<sequence>
			<element name="authentication" type="pref:Authentication"
				maxOccurs="1" minOccurs="1"></element>
			<element name="urn" type="int" maxOccurs="1" minOccurs="1"></element>
			<element name="version1" type="token" maxOccurs="1"
				minOccurs="1"></element>
			<element name="version2" type="token" maxOccurs="1"
				minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="QueryResult">
		<sequence>
			<element name="status" type="pref:MethodCallStatus"></element>
			<element name="columnNames" type="token" maxOccurs="unbounded"
				minOccurs="0"></element>
			<element name="table" type="string" maxOccurs="unbounded"
				minOccurs="0"></element>

		</sequence>
	</complexType>

	<complexType name="SetReleaseVersionResult">
		<sequence>
			<element name="status" type="pref:MethodCallStatus"></element>
		</sequence>
	</complexType>

	<complexType name="AddReviewerCommentResult">
		<sequence>
			<element name="status" type="pref:MethodCallStatus"></element>
		</sequence>
	</complexType>

	<complexType name="GetVersionsResult">
		<sequence>
			<element name="status" type="pref:MethodCallStatus"></element>
			<element name="versions" type="int" maxOccurs="unbounded"
				minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="GetReleaseVersionResult">
		<sequence>
			<element name="status" type="pref:MethodCallStatus"></element>
			<element name="version" type="int"></element>
			<element name="hasReleasedVersion" type="boolean" maxOccurs="1"
				minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="ModifyGroupOwnershipResult">
		<sequence>
			<element name="status" type="pref:MethodCallStatus"></element>
		</sequence>
	</complexType>

	<complexType name="QueryMessage">
		<sequence>
			<element name="authentication" type="pref:Authentication"
				maxOccurs="1" minOccurs="1"></element>
			<element name="query" type="string"></element>
		</sequence>
	</complexType>

	<complexType name="GetVersionsMessage">
		<sequence>
			<element name="authentication" type="pref:Authentication"></element>
			<element name="urn" type="int"></element>
		</sequence>
	</complexType>

    <complexType name="GetChangeLogForLibraryItemsModifiedSinceDateTimeMessage">
    	<sequence>
    		<element name="authentication" type="pref:Authentication"></element>
    		<element name="dateTime" type="dateTime"></element>
		</sequence>    
    </complexType>
    

    <complexType name="GetChangeLogForLibraryItemsModifiedSinceDateTimeResult">
    	<sequence>
    		<element name="status" type="pref:MethodCallStatus"></element>
    		<element name="changeLogEntries" type="tns:ChangeLogEntry" minOccurs="0" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>

    <complexType name="ChangeLogEntry">
    	<sequence>
    		<element name="urn" type="int"></element>
    		<element name="version" type="int"></element>
    		<element name="actionPerformed" type="tns:LibraryActionTypeEnum"></element>
            <element name="dateOfAction" type="dateTime"></element>
    	</sequence>
    </complexType>
    
    <simpleType name="LibraryActionTypeEnum">
		<restriction base="string">
			<enumeration value="addedItem" />
			<enumeration value="updatedItem" />
			<enumeration value="addedReviewerComment" />
			<enumeration value="setAsReleaseVersion" />
			<enumeration value="removedAsReleaseVersion" />
		</restriction>
	</simpleType>

    <complexType name="SetLibraryItemAsNotReleasedMessage">
    	<sequence>
    		<element name="authentication" type="pref:Authentication"></element>
    		<element name="urn" type="int"></element>
    	</sequence>
    </complexType>
    
     <complexType name="SetLibraryItemAsNotReleasedResult">
    	<sequence>
    		<element name="status" type="pref:MethodCallStatus"></element>
    		<element name="version" type="int">
    		</element>
    	</sequence>
    </complexType>
</schema>