src/main/resources/services-common_3.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://services-common.apollo.pitt.edu/v3_0_0/"
	xmlns:tns="http://services-common.apollo.pitt.edu/v3_0_0/"
	elementFormDefault="qualified">

	<!-- need to add an element here for any class you want to be able to serialize with JAXB -->
	<element name="MethodCallStatusElement" type="tns:MethodCallStatus"/>
	<element name="SoftwareLicenseIdentificationElement" type="tns:SoftwareLicenseIdentification"/>
	<element name="SoftwareIdentificationElement" type="tns:SoftwareIdentification"/>
	<element name="RunResultElement" type="tns:RunResult"/>
	<element name="RunStatusElement" type="tns:RunStatus"/>
	<element name="RunIdentificationAndLabelElement" type="tns:RunIdentificationAndLabel"/>
	<element name="TerminateRunRequestElement" type="tns:TerminateRunRequest"/>
	<element name="ServiceRegistrationRecordElement" type="tns:ServiceRegistrationRecord"/>
	<element name="UrlOutputResourceElement" type="tns:UrlOutputResource"/>
	<element name="ServiceRecordElement" type="tns:ServiceRecord"/>
	<element name="TerminteRunResultElement" type="tns:TerminteRunResult"/>
	<element name="RunIdentificationElement" type="tns:RunIdentification"/>
	<element name="FileAndURLDescriptionElement" type="tns:SoftwareIdentification"/>
	<element name="ObjectSerializationInformationElement" type="tns:ObjectSerializationInformation"/>
	<element name="RequestMetaElement" type="tns:RequestMeta"/>
	<element name="ResponseMetaElement" type="tns:ResponseMeta"/>
	<element name="RequestElement" type="tns:Request"/>
	<element name="ResponseElement" type="tns:Response"/>
	<element name="RunMessageElement" type="tns:RunMessage"/>
	<element name="InsertRunResultElement" type="tns:InsertRunResult"/>


	<simpleType name="SoftwareOutputStratificationGranularity">
		<restriction base="string">
			<enumeration value="byTopLevelLocationAndInfectionStateOverTime" />
			<enumeration value="allStratificationsAtTheFinestGranularity" />
		</restriction>
	</simpleType>
	
	<simpleType name="ApolloSoftwareTypeEnum">
		<restriction base="string">
			<enumeration value="simulator" />
			<enumeration value="batchSimulator" />
			<enumeration value="visualizer" />
			<enumeration value="syntheticPopulationGenerator" />
			<enumeration value="translator" />
			<enumeration value="data" />
			<enumeration value="broker" />
            <enumeration value="endUserApplication" />
            <enumeration value="runManager" />
		</restriction>
	</simpleType>
        
	<simpleType name="ContentDataTypeEnum">
		<restriction base="string">
			<enumeration value="SIMULATOR_LOG_FILE" />
			<enumeration value="CONFIGURATION_FILE" />
			<enumeration value="IMAGE" />
			<enumeration value="MOVIE" />
			<enumeration value="RUN_SIMULATION_MESSAGE" />
			<enumeration value="RUN_SIMULATIONS_MESSAGE" />
			<enumeration value="RUN_VISUALIZATION_MESSAGE" />
			<enumeration value="DATA_RETRIEVAL_REQUEST_MESSAGE" />
		</restriction>
	</simpleType>

	<simpleType name="ContentDataFormatEnum">
		<restriction base="string">
			<enumeration value="TEXT" />
			<enumeration value="URL" />
			<enumeration value="ZIP" />
		</restriction>
	</simpleType>

	<complexType name="RunMessage">
		<sequence>
			<element name="authentication" type="tns:Authentication"></element>
			<element name="softwareIdentification" type="tns:SoftwareIdentification"></element>
		</sequence>
	</complexType>

	<complexType name="SoftwareLicenseIdentification">
		<sequence>
			<element name="licenseLocation" type="anyURI"></element>
			<element name="licenseVersion" type="token"></element>
			<element name="licenseName" type="token"></element>
			<element name="attributionNotice" type="string"></element>
		</sequence>
	</complexType>

	<complexType name="SoftwareIdentification">
		<sequence>
			<element name="softwareDeveloper" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="softwareName" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="softwareVersion" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="softwareType" type="tns:ApolloSoftwareTypeEnum"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="softwareLicenseIdentification" type="tns:SoftwareLicenseIdentification"
				minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="RunResult">
		<sequence>
			<element name="runId" type="tns:RunIdentification" />
			<element name="methodCallStatus" type="tns:MethodCallStatus">
			</element>
		</sequence>
	</complexType>

	<complexType name="InsertRunResult">
		<sequence>
			<element name="runId" type="tns:RunIdentification" />
			<element name="runCached" type="boolean">
			</element>
		</sequence>
	</complexType>

	<complexType name="RunStatus">
		<sequence>
			<element name="runId" type="tns:RunIdentification" />
			<element name="status" type="tns:MethodCallStatusEnum"
				maxOccurs="1" minOccurs="1" />
			<element name="message" type="string" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="RunIdentificationAndLabel">
		<sequence>
			<element name="runIdentification" type="tns:RunIdentification">
			</element>
			<element name="runLabel" type="string"></element>
		</sequence>
	</complexType>
	<complexType name="TerminateRunRequest">
		<sequence>
			<element name="runIdentification" type="tns:RunIdentification">
			</element>
			<element name="authentication" type="tns:Authentication"></element>
		</sequence>
	</complexType>

	<complexType name="ServiceRegistrationRecord">
		<complexContent>
			<extension base="tns:ServiceRecord">
				<sequence>
					<element name="authentication" type="tns:Authentication" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="UrlOutputResource">
		<sequence>
			<element name="description" type="string" />
			<element name="URL" type="token" />
		</sequence>
	</complexType>

	<complexType name="ServiceResult">
		<sequence>
			<element name="description" type="string" />
			<element name="URL" type="anyURI" />
		</sequence>
	</complexType>


	<complexType name="TerminteRunResult">
		<sequence>
			<element name="methodCallStatus" type="tns:MethodCallStatus">
			</element>
		</sequence>
	</complexType>
	<complexType name="Role">
		<sequence>
			<element name="softwareIdentification" type="tns:SoftwareIdentification">
			</element>
			<element name="can_run" type="boolean"></element>
			<element name="can_view_cached_results" type="boolean"></element>
		</sequence>
	</complexType>

	<complexType name="ServiceRecord">
		<sequence>
			<element name="url" type="anyURI" />
			<element name="softwareIdentification" type="tns:SoftwareIdentification" />
		</sequence>
	</complexType>
	<simpleType name="RunIdentification">
		<restriction base="unsignedLong" />
	</simpleType>
	<complexType name="Authentication">
		<sequence>
			<element name="requesterId" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="requesterPassword" type="token" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>


	<simpleType name="MethodCallStatusEnum">
		<restriction base="string">
			<enumeration value="exiting" />
			<enumeration value="held" />
			<enumeration value="queued" />
			<enumeration value="called_translator" />
			<enumeration value="called_visualizer" />
			<enumeration value="called_simulator" />
			<enumeration value="called_data_service" />
			<enumeration value="translating" />
			<enumeration value="translation_completed" />
			<enumeration value="initializing" />
			<enumeration value="log_files_written" />
			<enumeration value="loading_run_config_into_database" />
			<enumeration value="loaded_run_config_into_database" />
			<enumeration value="staging" />
			<enumeration value="running" />
			<enumeration value="moving" />
			<enumeration value="waiting" />
			<enumeration value="completed" />
			<enumeration value="failed" />
			<enumeration value="unauthorized" />
			<enumeration value="unknown_runid" />
			<enumeration value="run_terminated" />
			<enumeration value="authentication_failure" />
		</restriction>
	</simpleType>

	<complexType name="MethodCallStatus">
		<sequence>
			<element name="status" type="tns:MethodCallStatusEnum"
				maxOccurs="1" minOccurs="1" />
			<element name="message" type="string" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<simpleType name="RunActionEnum">
		<restriction base="string">
			<enumeration value="start" />
			<enumeration value="terminate" />
		</restriction>
	</simpleType>

	<complexType name="FileAndURLDescription">
		<sequence>
			<element name="sourceSoftwareIdentification" type="tns:SoftwareIdentification"
					 maxOccurs="1" minOccurs="1" />
			<element name="destinationSoftwareIdentification" type="tns:SoftwareIdentification"
					 maxOccurs="1" minOccurs="1" />
			<element name="name" type="string" maxOccurs="1"
					 minOccurs="1" />
			<element name="contentType" type="tns:ContentDataTypeEnum" minOccurs="1" maxOccurs="1"/>
			<element name="contentFormat" type="tns:ContentDataFormatEnum" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>

	<simpleType name="SerializationFormat">
		<restriction base="string">
			<enumeration value="JSON" />
			<enumeration value="XML" />
		</restriction>
	</simpleType>

	<complexType name="ObjectSerializationInformation">
		<sequence>
			<element name="format" type="tns:SerializationFormat"></element>
			<element name="className" type="token"
					 maxOccurs="1" minOccurs="1">
			</element>
			<element name="classNameSpace" type="token"
					 maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>
	<complexType name="RequestMeta">
		<sequence>
			<element name="requestBodySerializationInformation" type="tns:ObjectSerializationInformation" minOccurs="1" maxOccurs="1"></element>
			<element name="isBodySerialized" type="boolean"></element>
		</sequence>
	</complexType>

	<complexType name="ResponseMeta">
		<sequence>
			<element name="status" type="positiveInteger"
					 maxOccurs="1" minOccurs="1">
			</element>
			<element name="statusMessage" type="token"
					 maxOccurs="1" minOccurs="1">
			</element>
			<element name="source" type="token" maxOccurs="1"
					 minOccurs="1">
			</element>
			<element name="numberOfReturnedResults" type="positiveInteger" minOccurs="1" maxOccurs="1">
			</element>
			<element name="responseBodySerializationInformation" type="tns:ObjectSerializationInformation" minOccurs="1" maxOccurs="1"></element>
			<element name="isBodySerialized" type="boolean"></element>
		</sequence>
	</complexType>

	<complexType name="Response">
		<sequence>
			<element name="responseMeta" type="tns:ResponseMeta"
					 maxOccurs="1" minOccurs="1" />
			<element name="responseBody" type="token" maxOccurs="unbounded"
					 minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="Request">
		<sequence>
			<element name="requestMeta" type="tns:RequestMeta"
					 maxOccurs="1" minOccurs="1" />
			<element name="requestBody" type="token" maxOccurs="1"
					 minOccurs="1" />
		</sequence>
	</complexType>

</schema>
	