src/main/resources/simulatorservice300.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/simulatorservice/v3_0_0/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="SimulatorService_v3.0.0" targetNamespace="http://service.apollo.pitt.edu/simulatorservice/v3_0_0/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/simulatorservice/v3_0_0/"
			xmlns:sst="http://simulator-service-types.apollo.pitt.edu/v3_0_0/"
			xmlns:services="http://services-common.apollo.pitt.edu/v3_0_0/">

			<xsd:import schemaLocation="simulator_service_3.0.0.xsd"
				namespace="http://simulator-service-types.apollo.pitt.edu/v3_0_0/">
			</xsd:import>
			<xsd:import schemaLocation="services-common_3.0.0.xsd"
				namespace="http://services-common.apollo.pitt.edu/v3_0_0/">
			</xsd:import>
			<xsd:element name="runSimulation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulationRunId" type="xsd:positiveInteger">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runSimulationResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="methodCallStatus" type="services:MethodCallStatus">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getScenarioLocationCodesSupportedBySimulator">

				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getScenarioLocationCodesSupportedBySimulatorResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getLocationsSupportedBySimulatorResult"
							type="sst:GetScenarioLocationCodesSupportedBySimulatorResult"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runSimulations">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulationRunId" type="xsd:positiveInteger"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runSimulationsResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runSimulationsResult" type="services:RunResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForSimulation">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="services:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForSimulationResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="configurationFile"
							type="sst:GetConfigurationFileForSimulationResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPopulationAndEnvironmentCensus">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="location" type="xsd:token"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPopulationAndEnvironmentCensusResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getPopulationAndEnvironmentCensusResult"
							type="sst:GetPopulationAndEnvironmentCensusResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="terminateRun">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="terminateRunRequest" type="services:TerminateRunRequest"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="terminateRunResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="terminateRunResult" type="services:TerminteRunResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="runSimulationRequest">
		<wsdl:part element="tns:runSimulation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="runSimulationResponse">
		<wsdl:part element="tns:runSimulationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getScenarioLocationCodesSupportedBySimulatorRequest">
		<wsdl:part name="parameters"
			element="tns:getScenarioLocationCodesSupportedBySimulator"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getScenarioLocationCodesSupportedBySimulatorResponse">
		<wsdl:part name="parameters"
			element="tns:getScenarioLocationCodesSupportedBySimulatorResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runSimulationsRequest">
		<wsdl:part name="parameters" element="tns:runSimulations"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runSimulationsResponse">
		<wsdl:part name="parameters" element="tns:runSimulationsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForSimulationRequest">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForSimulation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForSimulationResponse">
		<wsdl:part name="parameters"
			element="tns:getConfigurationFileForSimulationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPopulationAndEnvironmentCensusRequest">
		<wsdl:part name="parameters" element="tns:getPopulationAndEnvironmentCensus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPopulationAndEnvironmentCensusResponse">
		<wsdl:part name="parameters"
			element="tns:getPopulationAndEnvironmentCensusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="terminateRunRequest">
		<wsdl:part name="parameters" element="tns:terminateRun"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="terminateRunResponse">
		<wsdl:part name="parameters" element="tns:terminateRunResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SimulatorServiceEI">
		<wsdl:operation name="runSimulation">
			<wsdl:input message="tns:runSimulationRequest" />
			<wsdl:output message="tns:runSimulationResponse" />
		</wsdl:operation>
		<wsdl:operation name="getScenarioLocationCodesSupportedBySimulator">
			<wsdl:input message="tns:getScenarioLocationCodesSupportedBySimulatorRequest"></wsdl:input>
			<wsdl:output
				message="tns:getScenarioLocationCodesSupportedBySimulatorResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runSimulations">
			<wsdl:input message="tns:runSimulationsRequest"></wsdl:input>
			<wsdl:output message="tns:runSimulationsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPopulationAndEnvironmentCensus">
			<wsdl:input message="tns:getPopulationAndEnvironmentCensusRequest"></wsdl:input>
			<wsdl:output message="tns:getPopulationAndEnvironmentCensusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="terminateRun">
			<wsdl:input message="tns:terminateRunRequest"></wsdl:input>
			<wsdl:output message="tns:terminateRunResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SimulatorServiceBinding" type="tns:SimulatorServiceEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="runSimulation">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/v3_0_0/runSimulation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getScenarioLocationCodesSupportedBySimulator">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/v3_0_0/getScenarioLocationCodesSupportedBySimulator" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runSimulations">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/v3_0_0/runSimulations" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getPopulationAndEnvironmentCensus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/v3_0_0/getPopulationAndEnvironmentCensus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="terminateRun">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/v3_0_0/terminateRun" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SimulatorService_v3.0.0">
		<wsdl:port binding="tns:SimulatorServiceBinding" name="SimulatorServiceEndpoint">
			<soap:address
				location="http://localhost:8080/simulatorservice202/services/simulatorservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
