src/main/resources/visualizerservice300.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/visualizerservice/v3_0_0/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="VisualizerService_v3.0.0" targetNamespace="http://service.apollo.pitt.edu/visualizerservice/v3_0_0/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/visualizerservice/v3_0_0/"
			xmlns:vst="http://visualizer-service-types.apollo.pitt.edu/v3_0_0/"
            xmlns:services="http://services-common.apollo.pitt.edu/v3_0_0/">
			<xsd:import schemaLocation="visualizer_service_3.0.0.xsd"
				namespace="http://visualizer-service-types.apollo.pitt.edu/v3_0_0/">
                </xsd:import>
            <xsd:import schemaLocation="services-common_3.0.0.xsd"
				namespace="http://services-common.apollo.pitt.edu/v3_0_0/">
			</xsd:import>
			<xsd:element name="runVisualization">
				<xsd:complexType>
					<xsd:sequence>
                        <xsd:element name="visualizationRunId" type="services:RunIdentification">
						</xsd:element>
                        <xsd:element name="runVisualizationMessage"
							type="vst:RunVisualizationMessage" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runVisualizationResponse">
				<xsd:complexType>
					<xsd:sequence>
						
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="runVisualizationRequest">
		<wsdl:part element="tns:runVisualization" name="parameters" />
	</wsdl:message>
	<wsdl:message name="runVisualizationResponse">
		<wsdl:part element="tns:runVisualizationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForRunRequest">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForRun"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForRunResponse">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForRunResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="VisualizerServiceEI">
		<wsdl:operation name="runVisualization">
			<wsdl:input message="tns:runVisualizationRequest" />
			<wsdl:output message="tns:runVisualizationResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="VisualizerServiceBinding"
		type="tns:VisualizerServiceEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="runVisualization">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/visualizerservice/v3_0_0/runVisualization" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VisualizerService_v3.0.0">
		<wsdl:port binding="tns:VisualizerServiceBinding" name="VisualizerServiceEndpoint">
			<soap:address
				location="http://localhost:8080/visualizerservice202/services/visualizerservice" />
		</wsdl:port>
		
	</wsdl:service>
</wsdl:definitions>
