apollo-ws/service-skeletons/java/trunk/translator-service-skeleton/src/main/resources/translatorservice202.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/translatorservice/v2_0_2/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="TranslatorService_v2.0.2" targetNamespace="http://service.apollo.pitt.edu/translatorservice/v2_0_2/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/translatorservice/v2_0_2/"
			xmlns:apollo="http://types.apollo.pitt.edu/v2_0_2/">

			<xsd:import schemaLocation="apollo-types_2.0.2.xsd" namespace="http://types.apollo.pitt.edu/v2_0_2/">
			</xsd:import>
			<xsd:element name="translateRunSimulationMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulationRunId"
							type="apollo:RunIdentification">
						</xsd:element>
						<xsd:element name="runSimulationMessage"
							type="apollo:RunSimulationMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="translateRunSimulationMessageResponse">
				<xsd:complexType>
					<xsd:sequence>
						
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getRunStatus">
				<xsd:complexType>
					<xsd:sequence>
                        <xsd:element name="runIdentification" type="apollo:RunIdentification"></xsd:element>
                    </xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatusResponse">
				<xsd:complexType>
					<xsd:sequence>
                        <xsd:element name="methodCallStatus" type="apollo:MethodCallStatus"></xsd:element>
                    </xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="translateRunSimulationMessageRequest">
		<wsdl:part element="tns:translateRunSimulationMessage" name="parameters" />
	</wsdl:message>
	<wsdl:message name="translateRunSimulationMessageResponse">
		<wsdl:part element="tns:translateRunSimulationMessageResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TranslatorServiceEI">
		<wsdl:operation name="translateRunSimulationMessage">
			<wsdl:input message="tns:translateRunSimulationMessageRequest" />
			<wsdl:output message="tns:translateRunSimulationMessageResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TranslatorServiceBinding"
		type="tns:TranslatorServiceEI">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="translateRunSimulationMessage">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/translatorservice/v2_0_2/translateRunSimulationMessage" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TranslatorService_v2.0.2">
		<wsdl:port binding="tns:TranslatorServiceBinding" name="TranslatorServiceEndpoint">
			<soap:address
				location="http://localhost:8080/translatorservice202/services/translatorservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
