apollo-ws/service-skeletons/java/trunk/translator-service-skeleton/src/main/resources/translatorservice300.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/translatorservice/v3_0_0/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="TranslatorService_v3.0.0" targetNamespace="http://service.apollo.pitt.edu/translatorservice/v3_0_0/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/translatorservice/v3_0_0/"
            xmlns:sst="http://simulator-service-types.apollo.pitt.edu/v3_0_0/"
			xmlns:services="http://services-common.apollo.pitt.edu/v3_0_0/">

			<xsd:import schemaLocation="simulator_service_3.0.0.xsd"
				namespace="http://simulator-service-types.apollo.pitt.edu/v3_0_0/">
                </xsd:import>
                        <xsd:import schemaLocation="services-common_3.0.0.xsd"
				namespace="http://services-common.apollo.pitt.edu/v3_0_0/">
			</xsd:import>
			<xsd:element name="translateRunSimulationMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulationRunId"
							type="services:RunIdentification">
						</xsd:element>
						<xsd:element name="runSimulationMessage"
							type="sst:RunSimulationMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="translateRunSimulationMessageResponse">
				<xsd:complexType>
					<xsd:sequence>
						
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="translateRunSimulationMessageRequest">
		<wsdl:part element="tns:translateRunSimulationMessage" name="parameters" />
	</wsdl:message>
	<wsdl:message name="translateRunSimulationMessageResponse">
		<wsdl:part element="tns:translateRunSimulationMessageResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="TranslatorServiceEI">
		<wsdl:operation name="translateRunSimulationMessage">
			<wsdl:input message="tns:translateRunSimulationMessageRequest" />
			<wsdl:output message="tns:translateRunSimulationMessageResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TranslatorServiceBinding"
		type="tns:TranslatorServiceEI">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="translateRunSimulationMessage">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/translatorservice/v3_0_0/translateRunSimulationMessage" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TranslatorService_v3.0.0">
		<wsdl:port binding="tns:TranslatorServiceBinding" name="TranslatorServiceEndpoint">
			<soap:address
				location="http://localhost:8080/translatorservice210/services/translatorservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
