apollo-ws/service-skeletons/java/trunk/src/main/resources/apolloservice300.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/apolloservice/v3_0_0/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ApolloService_v3.0.0" targetNamespace="http://service.apollo.pitt.edu/apolloservice/v3_0_0/">
	<wsdl:types>

		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/apolloservice/v3_0_0/"
			xmlns:apollo="http://types.apollo.pitt.edu/v3_0_0/"
			xmlns:apollo-service="http://apollo-service-types.apollo.pitt.edu/v3_0_0/"
			xmlns:sst="http://simulator-service-types.apollo.pitt.edu/v3_0_0/"
			xmlns:vst="http://visualizer-service-types.apollo.pitt.edu/v3_0_0/"
			xmlns:lst="http://library-service-types.apollo.pitt.edu/v3_0_0/"
            xmlns:dst="http://data-service-types.apollo.pitt.edu/v3_0_0/"
			xmlns:spst="http://synthetic-population-service-types.apollo.pitt.edu/v3_0_0/"
			xmlns:services="http://services-common.apollo.pitt.edu/v3_0_0/">
			<xsd:import schemaLocation="apollo-types_3.0.0.xsd"
				namespace="http://types.apollo.pitt.edu/v3_0_0/">
			</xsd:import>

			<xsd:import schemaLocation="simulator_service_3.0.0.xsd"
				namespace="http://simulator-service-types.apollo.pitt.edu/v3_0_0/">
			</xsd:import>

			<xsd:import schemaLocation="apollo_service_3.0.0.xsd"
				namespace="http://apollo-service-types.apollo.pitt.edu/v3_0_0/" />

			<xsd:import schemaLocation="services-common_3.0.0.xsd"
				namespace="http://services-common.apollo.pitt.edu/v3_0_0/">
			</xsd:import>
			<xsd:import schemaLocation="visualizer_service_3.0.0.xsd"
				namespace="http://visualizer-service-types.apollo.pitt.edu/v3_0_0/">
			</xsd:import>
			<xsd:import schemaLocation="synthetic_population_service_3.0.0.xsd"
				namespace="http://synthetic-population-service-types.apollo.pitt.edu/v3_0_0/">
			</xsd:import>
			<xsd:import schemaLocation="library_service_3.0.0.xsd"
				namespace="http://library-service-types.apollo.pitt.edu/v3_0_0/">

                </xsd:import>
                <xsd:import schemaLocation="data_service_3.0.0.xsd"
				namespace="http://data-service-types.apollo.pitt.edu/v3_0_0/">
                </xsd:import>
                
             
            <xsd:element name="getOutputFilesURLAsZip">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getOutputFilesURLAsZipMessage"
							type="dst:GetOutputFilesURLAsZipMessage"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getOutputFilesURLAsZipResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getOutputFilesURLAsZipResult" type="dst:GetOutputFilesURLAsZipResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>     
            <xsd:element name="getAllOutputFilesURLAsZip">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getAllOutputFilesURLAsZipMessage"
							type="dst:GetAllOutputFilesURLAsZipMessage"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>    
            <xsd:element name="getAllOutputFilesURLAsZipResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getAllOutputFilesURLAsZipResult" type="dst:GetAllOutputFilesURLAsZipResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>             
             <xsd:element name="getOutputFilesURLs">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getOutputFilesURLsMessage" type="dst:GetOutputFilesURLsMessage"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getOutputFilesURLsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getOutputFilesURLsResult" type="dst:GetOutputFilesURLsResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
              <xsd:element name="listOutputFilesForSoftware">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="listOutputFilesForSoftwareMessage"
							type="dst:ListOutputFilesForSoftwareMessage"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listOutputFilesForSoftwareResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="listOutputFilesForSoftwareResult"
							type="dst:ListOutputFilesForSoftwareResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
                
                	<xsd:element name="getLibraryItemContainer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getLibraryItemContainerMessage"
							type="lst:GetLibraryItemContainerMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLibraryItemContainerResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getLibraryItemContainerResult"
							type="lst:GetLibraryItemContainerResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="addLibraryItemContainer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="addLibraryItemContainerMessage"
							type="lst:AddLibraryItemContainerMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addLibraryItemContainerResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="addLibraryItemContainerResult"
							type="lst:AddLibraryItemContainerResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateLibraryItemContainer">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="updateLibraryItemContainerMessage"
							type="lst:UpdateLibraryItemContainerMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateLibraryItemContainerResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="updateLibraryItemContainerResult"
							type="lst:UpdateLibraryItemContainerResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setReleaseVersionForLibraryItem">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="setReleaseVersionForLibraryItemMessage"
							type="lst:SetReleaseVersionMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setReleaseVersionForLibraryItemResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="setReleaseVersionForLibraryItemResult"
							type="lst:SetReleaseVersionResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addReviewerCommentToLibraryItem">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="addReviewerCommentToLibraryItemMessage"
							type="lst:AddReviewerCommentMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addReviewerCommentToLibraryItemResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="addReviewerCommentToLibraryItemResult"
							type="lst:AddReviewerCommentResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getCommentsForLibraryItem">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getCommentsForLibraryItemMessage"
							type="lst:GetCommentsMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getCommentsForLibraryItemResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getCommentsForLibraryItemResult"
							type="lst:GetCommentsResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getVersionNumbersForLibraryItem">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getVersionNumbersForLibraryItemMessage"
							type="lst:GetVersionsMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getVersionNumbersForLibraryItemResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getVersionNumbersForLibraryItemResult"
							type="lst:GetVersionsResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLibraryItemReleaseVersion">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getLibraryItemReleaseVersionMessage"
							type="lst:GetReleaseVersionMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLibraryItemReleaseVersionResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getLibraryItemReleaseVersionResult"
							type="lst:GetReleaseVersionResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="query">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="queryMessage" type="lst:QueryMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="queryResult" type="lst:QueryResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="grantGroupAccessToLibraryItem">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="grantGroupAccessToLibraryItemMessage"
							type="lst:ModifyGroupOwnershipMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="grantGroupAccessToLibraryItemResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="grantGroupAccessToLibraryItemResult"
							type="lst:ModifyGroupOwnershipResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeGroupAccessToLibraryItem">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="removeGroupAccessToLibraryItemMessage"
							type="lst:ModifyGroupOwnershipMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeGroupAccessToLibraryItemResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="removeGroupAccessToLibraryItemResult"
							type="lst:ModifyGroupOwnershipResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getLibraryItemURNs">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getLibraryItemURNsMessage" type="lst:GetLibraryItemURNsMessage"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLibraryItemURNsResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="getLibraryItemURNsResult" type="lst:GetLibraryItemURNsResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getChangeLogForLibraryItemsModifiedSinceDateTime">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="getChangeLogForLibraryItemsModifiedSinceDateTimeMessage"
							type="lst:GetChangeLogForLibraryItemsModifiedSinceDateTimeMessage"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element
				name="getChangeLogForLibraryItemsModifiedSinceDateTimeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element
							name="getChangeLogForLibraryItemsModifiedSinceDateTimeResult"
							type="lst:GetChangeLogForLibraryItemsModifiedSinceDateTimeResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>

			</xsd:element>
			<xsd:element name="setLibraryItemAsNotReleased">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="setLibraryItemAsNotReleasedMessage"
							type="lst:SetLibraryItemAsNotReleasedMessage"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="setLibraryItemAsNotReleasedResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="setLibraryItemAsNotReleasedResult"
							type="lst:SetLibraryItemAsNotReleasedResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="runSimulation">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runSimulationMessage" type="sst:RunSimulationMessage" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runSimulationResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulationResult" type="services:RunResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runVisualization">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runVisualizationMessage" type="vst:RunVisualizationMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runVisualizationResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="visualizationResult" type="services:RunResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runSyntheticPopulationGeneration">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runSyntheticPopulationGenerationMessage"
							type="spst:RunSyntheticPopulationGenerationMessage"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runSyntheticPopulationGenerationResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="syntheticPopulationGenerationResult"
							type="spst:SyntheticPopulationGenerationResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatus">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runIdentification" type="services:RunIdentification">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatusResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runStatus" type="services:MethodCallStatus"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registerService">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceRegistrationRecord" type="services:ServiceRegistrationRecord"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registerServiceResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="methodCallStatus" type="services:MethodCallStatus">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="unRegisterService">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceRegistrationRecord" type="services:ServiceRegistrationRecord"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="unRegisterServiceResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="methodCallStatus" type="services:MethodCallStatus">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRegisteredServices">

				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRegisteredServicesResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceRecords" type="services:ServiceRecord"
							maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runSimulations">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runSimulationsMessage" type="apollo-service:RunSimulationsMessage"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runSimulationsResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runSimulationsResult" type="services:RunResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForSimulation">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runIdentification" type="services:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForSimulationResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getConfigurationFileForSimulationResult"
							type="sst:GetConfigurationFileForSimulationResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getPopulationAndEnvironmentCensus">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulatorIdentification" type="services:SoftwareIdentification"></xsd:element>
						<xsd:element name="location" type="apollo:ApolloLocationCode"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPopulationAndEnvironmentCensusResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getPopulationAndEnvironmentCensusResult"
							type="sst:GetPopulationAndEnvironmentCensusResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getScenarioLocationCodesSupportedBySimulator">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulatorIdentification" type="services:SoftwareIdentification">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getScenarioLocationCodesSupportedBySimulatorResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getLocationsSupportedBySimulatorResult"
							type="sst:GetScenarioLocationCodesSupportedBySimulatorResult"
							maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="getVisualizerOutputResources">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runIdentification" type="services:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getVisualizerOutputResourcesResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getVisualizerOutputResourcesResult"
							type="vst:GetVisualizerOutputResourcesResult" maxOccurs="1"
							minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="terminateRun">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="terminateRunRequest" type="services:TerminateRunRequest"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="terminateRunResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="terminateRunResult" type="services:TerminteRunResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

    <wsdl:message name="listOutputFilesForSoftwareRequest">
		<wsdl:part name="parameters" element="tns:listOutputFilesForSoftware"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="listOutputFilesForSoftwareResponse">
		<wsdl:part name="parameters" element="tns:listOutputFilesForSoftwareResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOutputFilesURLsRequest">
		<wsdl:part name="parameters" element="tns:getOutputFilesURLs"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOutputFilesURLsResponse">
		<wsdl:part name="parameters" element="tns:getOutputFilesURLsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOutputFilesURLAsZipRequest">
		<wsdl:part name="parameters" element="tns:getOutputFilesURLAsZip"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOutputFilesURLAsZipResponse">
		<wsdl:part name="parameters" element="tns:getOutputFilesURLAsZipResponse"></wsdl:part>
	</wsdl:message>
    	<wsdl:message name="getAllOutputFilesURLAsZipRequest">
		<wsdl:part name="parameters" element="tns:getAllOutputFilesURLAsZip"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllOutputFilesURLAsZipResponse">
		<wsdl:part name="parameters" element="tns:getAllOutputFilesURLAsZipResponse"></wsdl:part>
	</wsdl:message>
    <wsdl:message name="getLibraryItemContainerRequest">

		<wsdl:part name="parameters" element="tns:getLibraryItemContainer"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemContainerResponse">
		<wsdl:part name="parameters" element="tns:getLibraryItemContainerResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addLibraryItemContainerRequest">
		<wsdl:part name="parameters" element="tns:addLibraryItemContainer"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addLibraryItemContainerResponse">
		<wsdl:part name="parameters" element="tns:addLibraryItemContainerResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateLibraryItemContainerRequest">
		<wsdl:part name="parameters" element="tns:updateLibraryItemContainer"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="updateLibraryItemContainerResponse">
		<wsdl:part name="parameters" element="tns:updateLibraryItemContainerResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setReleaseVersionForLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:setReleaseVersionForLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setReleaseVersionForLibraryItemResponse">
		<wsdl:part name="parameters"
			element="tns:setReleaseVersionForLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addReviewerCommentToLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:addReviewerCommentToLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addReviewerCommentToLibraryItemResponse">
		<wsdl:part name="parameters"
			element="tns:addReviewerCommentToLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCommentsForLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:getCommentsForLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCommentsForLibraryItemResponse">
		<wsdl:part name="parameters" element="tns:getCommentsForLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVersionNumbersForLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:getVersionNumbersForLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVersionNumbersForLibraryItemResponse">
		<wsdl:part name="parameters"
			element="tns:getVersionNumbersForLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemReleaseVersionRequest">
		<wsdl:part name="parameters" element="tns:getLibraryItemReleaseVersion"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemReleaseVersionResponse">
		<wsdl:part name="parameters" element="tns:getLibraryItemReleaseVersionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryRequest">
		<wsdl:part name="parameters" element="tns:query"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryResponse">
		<wsdl:part name="parameters" element="tns:queryResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="grantGroupAccessToLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:grantGroupAccessToLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="grantGroupAccessToLibraryItemResponse">
		<wsdl:part name="parameters" element="tns:grantGroupAccessToLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeGroupAccessToLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:removeGroupAccessToLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeGroupAccessToLibraryItemResponse">
		<wsdl:part name="parameters" element="tns:removeGroupAccessToLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemURNsRequest">
		<wsdl:part name="parameters" element="tns:getLibraryItemURNs"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemURNsResponse">
		<wsdl:part name="parameters" element="tns:getLibraryItemURNsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getChangeLogForLibraryItemsModifiedSinceDateTimeRequest">
		<wsdl:part name="parameters"
			element="tns:getChangeLogForLibraryItemsModifiedSinceDateTime"></wsdl:part>
	</wsdl:message>
	<wsdl:message
		name="getChangeLogForLibraryItemsModifiedSinceDateTimeResponse">
		<wsdl:part name="parameters"
			element="tns:getChangeLogForLibraryItemsModifiedSinceDateTimeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setLibraryItemAsNotReleasedRequest">
		<wsdl:part name="parameters" element="tns:setLibraryItemAsNotReleased"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="setLibraryItemAsNotReleasedResponse">
		<wsdl:part name="parameters" element="tns:setLibraryItemAsNotReleasedResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runSimulationRequest">
		<wsdl:part element="tns:runSimulation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="runSimulationResponse">
		<wsdl:part element="tns:runSimulationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="registerServiceRequest">
		<wsdl:part name="parameters" element="tns:registerService"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerServiceResponse">
		<wsdl:part name="parameters" element="tns:registerServiceResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="unRegisterServiceRequest">
		<wsdl:part name="parameters" element="tns:unRegisterService"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="unRegisterServiceResponse">
		<wsdl:part name="parameters" element="tns:unRegisterServiceResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRegisteredServicesRequest">
		<wsdl:part name="parameters" element="tns:getRegisteredServices"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRegisteredServicesResponse">
		<wsdl:part name="parameters" element="tns:getRegisteredServicesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runVisualizationRequest">
		<wsdl:part name="parameters" element="tns:runVisualization"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runVisualizationResponse">
		<wsdl:part name="parameters" element="tns:runVisualizationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runSimulationsRequest">
		<wsdl:part name="parameters" element="tns:runSimulations"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runSimulationsResponse">
		<wsdl:part name="parameters" element="tns:runSimulationsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runSyntheticPopulationGenerationRequest">
		<wsdl:part name="parameters" element="tns:runSyntheticPopulationGeneration"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runSyntheticPopulationGenerationResponse">
		<wsdl:part name="parameters"
			element="tns:runSyntheticPopulationGenerationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForSimulationRequest">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForSimulation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForSimulationResponse">
		<wsdl:part name="parameters"
			element="tns:getConfigurationFileForSimulationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryForDiseaseConfigurationRequest">
		<wsdl:part name="parameters" element="tns:queryForDiseaseConfiguration"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryForDiseaseConfigurationResponse">
		<wsdl:part name="parameters" element="tns:queryForDiseaseConfigurationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getItemsReadyToBeIndexedRequest">
		<wsdl:part name="parameters" element="tns:getItemsReadyToBeIndexed"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getItemsReadyToBeIndexedResponse">
		<wsdl:part name="parameters" element="tns:getItemsReadyToBeIndexedResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPopulationAndEnvironmentCensusRequest">
		<wsdl:part name="parameters" element="tns:getPopulationAndEnvironmentCensus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPopulationAndEnvironmentCensusResponse">
		<wsdl:part name="parameters"
			element="tns:getPopulationAndEnvironmentCensusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getScenarioLocationCodesSupportedBySimulatorRequest">
		<wsdl:part name="parameters"
			element="tns:getScenarioLocationCodesSupportedBySimulator"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getScenarioLocationCodesSupportedBySimulatorResponse">
		<wsdl:part name="parameters"
			element="tns:getScenarioLocationCodesSupportedBySimulatorResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVisualizerOutputResourcesRequest">
		<wsdl:part name="parameters" element="tns:getVisualizerOutputResources"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVisualizerOutputResourcesResponse">
		<wsdl:part name="parameters" element="tns:getVisualizerOutputResourcesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="terminateRunRequest">
		<wsdl:part name="parameters" element="tns:terminateRun"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="terminateRunResponse">
		<wsdl:part name="parameters" element="tns:terminateRunResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ApolloServiceEI">

    <wsdl:operation name="listOutputFilesForSoftware">
	<wsdl:input message="tns:listOutputFilesForSoftwareRequest"></wsdl:input>
	<wsdl:output message="tns:listOutputFilesForSoftwareResponse"></wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getOutputFilesURLs">
			<wsdl:input message="tns:getOutputFilesURLsRequest"></wsdl:input>
			<wsdl:output message="tns:getOutputFilesURLsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOutputFilesURLAsZip">
			<wsdl:input message="tns:getOutputFilesURLAsZipRequest"></wsdl:input>
			<wsdl:output message="tns:getOutputFilesURLAsZipResponse"></wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="getAllOutputFilesURLAsZip">
			<wsdl:input message="tns:getAllOutputFilesURLAsZipRequest"></wsdl:input>
			<wsdl:output message="tns:getAllOutputFilesURLAsZipResponse"></wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="getLibraryItemURNs">

			<wsdl:input message="tns:getLibraryItemURNsRequest"></wsdl:input>
			<wsdl:output message="tns:getLibraryItemURNsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getLibraryItemContainer">
			<wsdl:input message="tns:getLibraryItemContainerRequest"></wsdl:input>
			<wsdl:output message="tns:getLibraryItemContainerResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getChangeLogForLibraryItemsModifiedSinceDateTime">
			<wsdl:input
				message="tns:getChangeLogForLibraryItemsModifiedSinceDateTimeRequest"></wsdl:input>
			<wsdl:output
				message="tns:getChangeLogForLibraryItemsModifiedSinceDateTimeResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addLibraryItemContainer">
			<wsdl:input message="tns:addLibraryItemContainerRequest"></wsdl:input>
			<wsdl:output message="tns:addLibraryItemContainerResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateLibraryItemContainer">
			<wsdl:input message="tns:updateLibraryItemContainerRequest"></wsdl:input>
			<wsdl:output message="tns:updateLibraryItemContainerResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="setReleaseVersionForLibraryItem">
			<wsdl:input message="tns:setReleaseVersionForLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:setReleaseVersionForLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addReviewerCommentToLibraryItem">
			<wsdl:input message="tns:addReviewerCommentToLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:addReviewerCommentToLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCommentsForLibraryItem">
			<wsdl:input message="tns:getCommentsForLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:getCommentsForLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVersionNumbersForLibraryItem">
			<wsdl:input message="tns:getVersionNumbersForLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:getVersionNumbersForLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getLibraryItemReleaseVersion">
			<wsdl:input message="tns:getLibraryItemReleaseVersionRequest"></wsdl:input>
			<wsdl:output message="tns:getLibraryItemReleaseVersionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="grantGroupAccessToLibraryItem">
			<wsdl:input message="tns:grantGroupAccessToLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:grantGroupAccessToLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeGroupAccessToLibraryItem">
			<wsdl:input message="tns:removeGroupAccessToLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:removeGroupAccessToLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="query">
			<wsdl:input message="tns:queryRequest"></wsdl:input>
			<wsdl:output message="tns:queryResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setLibraryItemAsNotReleased">
			<wsdl:input message="tns:setLibraryItemAsNotReleasedRequest"></wsdl:input>
			<wsdl:output message="tns:setLibraryItemAsNotReleasedResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runSimulation">
			<wsdl:input message="tns:runSimulationRequest" />
			<wsdl:output message="tns:runSimulationResponse" />
		</wsdl:operation>
		<wsdl:operation name="runSimulations">
			<wsdl:input message="tns:runSimulationsRequest"></wsdl:input>
			<wsdl:output message="tns:runSimulationsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runVisualization">
			<wsdl:input message="tns:runVisualizationRequest"></wsdl:input>
			<wsdl:output message="tns:runVisualizationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runSyntheticPopulationGeneration">
			<wsdl:input message="tns:runSyntheticPopulationGenerationRequest"></wsdl:input>
			<wsdl:output message="tns:runSyntheticPopulationGenerationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<wsdl:input message="tns:getRunStatusRequest"></wsdl:input>
			<wsdl:output message="tns:getRunStatusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfigurationFileForSimulation">
			<wsdl:input message="tns:getConfigurationFileForSimulationRequest"></wsdl:input>
			<wsdl:output message="tns:getConfigurationFileForSimulationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPopulationAndEnvironmentCensus">
			<wsdl:input message="tns:getPopulationAndEnvironmentCensusRequest"></wsdl:input>
			<wsdl:output message="tns:getPopulationAndEnvironmentCensusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getScenarioLocationCodesSupportedBySimulator">
			<wsdl:input message="tns:getScenarioLocationCodesSupportedBySimulatorRequest"></wsdl:input>
			<wsdl:output
				message="tns:getScenarioLocationCodesSupportedBySimulatorResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerService">
			<wsdl:input message="tns:registerServiceRequest"></wsdl:input>
			<wsdl:output message="tns:registerServiceResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRegisteredServices">
			<wsdl:input message="tns:getRegisteredServicesRequest"></wsdl:input>
			<wsdl:output message="tns:getRegisteredServicesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unRegisterService">
			<wsdl:input message="tns:unRegisterServiceRequest"></wsdl:input>
			<wsdl:output message="tns:unRegisterServiceResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVisualizerOutputResources">
			<wsdl:input message="tns:getVisualizerOutputResourcesRequest"></wsdl:input>
			<wsdl:output message="tns:getVisualizerOutputResourcesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="terminateRun">
			<wsdl:input message="tns:terminateRunRequest"></wsdl:input>
			<wsdl:output message="tns:terminateRunResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ApolloServiceBinding"
		type="tns:ApolloServiceEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getLibraryItemContainer">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getLibraryItemContainer" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addLibraryItemContainer">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/addLibraryItemContainer" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="updateLibraryItemContainer">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/updateLibraryItemContainer" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setReleaseVersionForLibraryItem">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/setReleaseVersionForLibraryItem" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addReviewerCommentToLibraryItem">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/addReviewerCommentToLibraryItem" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getCommentsForLibraryItem">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getCommentsForLibraryItem" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVersionNumbersForLibraryItem">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getVersionNumbersForLibraryItem" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getLibraryItemReleaseVersion">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getLibraryItemReleaseVersion" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="query">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/query" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="grantGroupAccessToLibraryItem">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/grantGroupAccessToLibraryItem" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeGroupAccessToLibraryItem">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/removeGroupAccessToLibraryItem" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getLibraryItemURNs">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getLibraryItemURNs" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation
			name="getChangeLogForLibraryItemsModifiedSinceDateTime">

			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getChangeLogForLibraryItemsModifiedSinceDateTime" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runSimulations">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/runSimulations" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runVisualization">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/runVisualization" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getRunStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerService">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/registerService" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unRegisterService">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/unRegisterService" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRegisteredServices">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getRegisteredServices" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runSimulation">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/runSimulation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runSyntheticPopulationGeneration">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/runSyntheticPopulationGeneration" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfigurationFileForSimulation">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getConfigurationFileForSimulation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPopulationAndEnvironmentCensus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getPopulationAndEnvironmentCensus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation
			name="getScenarioLocationCodesSupportedBySimulator">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getScenarioLocationCodesSupportedBySimulator" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVisualizerOutputResources">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getVisualizerOutputResources" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="terminateRun">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/terminateRun" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listOutputFilesForSoftware">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/listOutputFilesForSoftware" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOutputFilesURLs">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getOutputFilesURLs" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOutputFilesURLAsZip">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getOutputFilesURLAsZip" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAllOutputFilesURLAsZip">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/getAllOutputFilesURLAsZip" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setLibraryItemAsNotReleased">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v3_0_0/setLibraryItemAsNotReleased" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ApolloService_v3.0.0">
		<wsdl:port binding="tns:ApolloServiceBinding" name="ApolloServiceEndpoint">
			<soap:address
				location="http://localhost:8080/apolloservice202/services/apolloservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
