apollo-ws/service-skeletons/java/trunk/src/main/resources/apolloservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/apolloservice/07/03/2013/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApolloService_v1.3"
	targetNamespace="http://service.apollo.pitt.edu/apolloservice/07/03/2013/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/apolloservice/07/03/2013/"
			xmlns:apollo="http://types.apollo.pitt.edu/07/03/2013/">
			<xsd:import schemaLocation="apollo-types_1.3.xsd" namespace="http://types.apollo.pitt.edu/07/03/2013/">
			</xsd:import>
			<xsd:element name="runSimulation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulatorConfiguration" type="apollo:SimulatorConfiguration" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runSimulationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunIdentification" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatus">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runAndSoftwareIdentification"
							type="apollo:RunAndSoftwareIdentification">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatusResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runStatus" type="apollo:RunStatus"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registerService">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceRegistrationRecord" type="apollo:ServiceRegistrationRecord"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registerServiceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceRegistrationResult" type="apollo:ServiceRegistrationResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="unRegisterService">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceRegistrationRecord" type="apollo:ServiceRegistrationRecord"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="unRegisterServiceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceRegistrationResult" type="apollo:ServiceRegistrationResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRegisteredServices">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRegisteredServicesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceRecords" type="apollo:ServiceRecord"
							maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runVisualization">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="visualizerConfiguration" type="apollo:VisualizerConfiguration"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runVisualizationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="visualizerResult"
							type="apollo:VisualizerResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="batchRunSimulation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="batchRunSimulatorConfiguration"
							type="apollo:BatchRunSimulatorConfiguration"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="batchRunSimulationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="batchRunSimulatorResult" type="apollo:BatchRunResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="generateSyntheticPopulation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="syntheticPopulationConfiguration" type="apollo:SyntheticPopulationConfiguration"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="generateSyntheticPopulationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="syntheticPopulationResult" type="apollo:SyntheticPopulationResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForRun">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runAndSoftwareIdentification" type="apollo:RunAndSoftwareIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForRunResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="configurationFile" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryForDiseaseConfiguration">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="diseaseName"
							type="xsd:token" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="infectiousPeriod"
							type="xsd:double" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="latentPeriod"
							type="xsd:double" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="reproductionNumber"
							type="xsd:double" maxOccurs="1" minOccurs="0">
						</xsd:element>
						<xsd:element name="asymptomaticInfectionFraction"
							type="xsd:double" maxOccurs="1" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="queryForDiseaseConfigurationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="diseases"
							type="apollo:InfectiousDisease" maxOccurs="unbounded"
							minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getItemsReadyToBeIndexed">
				<xsd:complexType>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getItemsReadyToBeIndexedResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getUuidsForLibraryItemsCreatedSinceDateTime">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="creationDateTime" type="xsd:dateTime" maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getUuidsForLibraryItemsCreatedSinceDateTimeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="uuids" type="xsd:token" maxOccurs="unbounded" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLibraryItem">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="uuid" type="xsd:token"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLibraryItemResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="curatedLibraryItemContainer" type="apollo:CuratedLibraryItemContainer"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLibraryItemsGivenType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="type" type="xsd:token"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getLibraryItemsGivenTypeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="curatedLibraryItemContainer" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getUuidsForLibraryItemsGivenType">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="type" type="xsd:token"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getUuidsForLibraryItemsGivenTypeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="uuids" type="xsd:token"
							maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addLibraryItem">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="apolloIndexableItem"
							type="apollo:ApolloIndexableItem">
						</xsd:element>
						<xsd:element name="itemDescription"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="itemSource"
							type="xsd:string">
						</xsd:element>
						<xsd:element name="itemType" type="xsd:token">
						</xsd:element>
						<xsd:element name="itemIndexingLabels"
							type="xsd:token" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addLibraryItemResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="uuid" type="xsd:token" maxOccurs="1" minOccurs="0"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="runSimulationRequest">
		<wsdl:part element="tns:runSimulation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="runSimulationResponse">
		<wsdl:part element="tns:runSimulationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="registerServiceRequest">
		<wsdl:part name="parameters" element="tns:registerService"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerServiceResponse">
		<wsdl:part name="parameters" element="tns:registerServiceResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="unRegisterServiceRequest">
		<wsdl:part name="parameters" element="tns:unRegisterService"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="unRegisterServiceResponse">
		<wsdl:part name="parameters" element="tns:unRegisterServiceResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRegisteredServicesRequest">
		<wsdl:part name="parameters" element="tns:getRegisteredServices"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRegisteredServicesResponse">
		<wsdl:part name="parameters" element="tns:getRegisteredServicesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runVisualizationRequest">
		<wsdl:part name="parameters" element="tns:runVisualization"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runVisualizationResponse">
		<wsdl:part name="parameters" element="tns:runVisualizationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="batchRunSimulationRequest">
		<wsdl:part name="parameters" element="tns:batchRunSimulation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="batchRunSimulationResponse">
		<wsdl:part name="parameters" element="tns:batchRunSimulationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="generateSyntheticPopulationRequest">
		<wsdl:part name="parameters" element="tns:generateSyntheticPopulation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="generateSyntheticPopulationResponse">
		<wsdl:part name="parameters" element="tns:generateSyntheticPopulationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForRunRequest">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForRun"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForRunResponse">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForRunResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryForDiseaseConfigurationRequest">
		<wsdl:part name="parameters" element="tns:queryForDiseaseConfiguration"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryForDiseaseConfigurationResponse">
		<wsdl:part name="parameters" element="tns:queryForDiseaseConfigurationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getItemsReadyToBeIndexedRequest">
		<wsdl:part name="parameters" element="tns:getItemsReadyToBeIndexed"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getItemsReadyToBeIndexedResponse">
		<wsdl:part name="parameters" element="tns:getItemsReadyToBeIndexedResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUuidsForLibraryItemsCreatedSinceDateTImeRequest">
		<wsdl:part name="parameters" element="tns:getUuidsForLibraryItemsCreatedSinceDateTIme"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUuidsForLibraryItemsCreatedSinceDateTImeResponse">
		<wsdl:part name="parameters" element="tns:getUuidsForLibraryItemsCreatedSinceDateTImeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUuidsForLibraryItemsCreatedSinceDateTimeRequest">
		<wsdl:part name="parameters" element="tns:getUuidsForLibraryItemsCreatedSinceDateTime"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUuidsForLibraryItemsCreatedSinceDateTimeResponse">
		<wsdl:part name="parameters" element="tns:getUuidsForLibraryItemsCreatedSinceDateTimeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:getLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemResponse">
		<wsdl:part name="parameters" element="tns:getLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemsGivenTypeRequest">
		<wsdl:part name="parameters" element="tns:getLibraryItemsGivenType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemsGivenTypeResponse">
		<wsdl:part name="parameters" element="tns:getLibraryItemsGivenTypeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUuidsForLibraryItemsGivenTypeRequest">
		<wsdl:part name="parameters" element="tns:getUuidsForLibraryItemsGivenType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUuidsForLibraryItemsGivenTypeResponse">
		<wsdl:part name="parameters" element="tns:getUuidsForLibraryItemsGivenTypeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:addLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addLibraryItemResponse">
		<wsdl:part name="parameters" element="tns:addLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ApolloServiceEI">
		<wsdl:operation name="runSimulation">
			<wsdl:input message="tns:runSimulationRequest" />
			<wsdl:output message="tns:runSimulationResponse" />
		</wsdl:operation>
		<wsdl:operation name="runVisualization">
			<wsdl:input message="tns:runVisualizationRequest"></wsdl:input>
			<wsdl:output message="tns:runVisualizationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<wsdl:input message="tns:getRunStatusRequest"></wsdl:input>
			<wsdl:output message="tns:getRunStatusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerService">
			<wsdl:input message="tns:registerServiceRequest"></wsdl:input>
			<wsdl:output message="tns:registerServiceResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unRegisterService">
			<wsdl:input message="tns:unRegisterServiceRequest"></wsdl:input>
			<wsdl:output message="tns:unRegisterServiceResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRegisteredServices">
			<wsdl:input message="tns:getRegisteredServicesRequest"></wsdl:input>
			<wsdl:output message="tns:getRegisteredServicesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="batchRunSimulation">
			<wsdl:input message="tns:batchRunSimulationRequest"></wsdl:input>
			<wsdl:output message="tns:batchRunSimulationResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="generateSyntheticPopulation">
			<wsdl:input message="tns:generateSyntheticPopulationRequest"></wsdl:input>
			<wsdl:output message="tns:generateSyntheticPopulationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfigurationFileForRun">
			<wsdl:input message="tns:getConfigurationFileForRunRequest"></wsdl:input>
			<wsdl:output message="tns:getConfigurationFileForRunResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUuidsForLibraryItemsCreatedSinceDateTime">
			<wsdl:input message="tns:getUuidsForLibraryItemsCreatedSinceDateTimeRequest"></wsdl:input>
			<wsdl:output message="tns:getUuidsForLibraryItemsCreatedSinceDateTimeResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getLibraryItem">
			<wsdl:input message="tns:getLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:getLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUuidsForLibraryItemsGivenType">
			<wsdl:input message="tns:getUuidsForLibraryItemsGivenTypeRequest"></wsdl:input>
			<wsdl:output message="tns:getUuidsForLibraryItemsGivenTypeResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addLibraryItem">
			<wsdl:input message="tns:addLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:addLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ApolloServiceBinding"
		type="tns:ApolloServiceEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="runSimulation">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/07/03/2013/runSimulation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runVisualization">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/07/03/2013/runVisualization" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/07/03/2013/getRunStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerService">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/07/03/2013/registerService" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unRegisterService">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/07/03/2013/unRegisterService" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRegisteredServices">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/07/03/2013/getRegisteredServices" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="batchRunSimulation">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/07/03/2013/batchRunSimulation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="generateSyntheticPopulation">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/07/03/2013/generateSyntheticPopulation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfigurationFileForRun">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/07/03/2013/getConfigurationFileForRun" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation
			name="getUuidsForLibraryItemsCreatedSinceDateTime">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/07/03/2013/getUuidsForLibraryItemsCreatedSinceDateTime" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getLibraryItem">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/07/03/2013/getLibraryItem" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUuidsForLibraryItemsGivenType">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/07/03/2013/getUuidsForLibraryItemsGivenType" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ApolloService_v1.3">
		<wsdl:port binding="tns:ApolloServiceBinding" name="ApolloServiceEndpoint">
			<soap:address
				location="http://localhost:8080/apolloservice13/services/apolloservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
