apollo-ws/service-skeletons/java/trunk/src/main/resources/apollo-types.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://types.apollo.pitt.edu/"
	xmlns:tns="http://types.apollo.pitt.edu/" elementFormDefault="qualified">

	<simpleType name="Probability">
		<restriction base="double">
			<minInclusive value="0" />
			<maxInclusive value="1" />
		</restriction>
	</simpleType>
	
	<simpleType name="Fraction">
		<restriction base="double">
			<minInclusive value="0" />
			<maxInclusive value="1" />
		</restriction>
	</simpleType>

	<complexType name="ProbabilityArray">
		<sequence>
			<element name="value" type="tns:Probability" maxOccurs="unbounded"
				minOccurs="0"></element>
		</sequence>
	</complexType>

	<simpleType name="PositiveDouble">
		<restriction base="double">
			<minExclusive value="0" />
		</restriction>
	</simpleType>

	<simpleType name="NonNegativeDouble">
		<restriction base="double">
			<minInclusive value="0" />
		</restriction>
	</simpleType>

	<simpleType name="TimeStepUnit">
		<restriction base="string">
			<enumeration value="year"></enumeration>
			<enumeration value="month"></enumeration>
			<enumeration value="day"></enumeration>
			<enumeration value="hour"></enumeration>
			<enumeration value="minute"></enumeration>
			<enumeration value="second"></enumeration>
			<enumeration value="millisecond"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="RunStatusEnum">
		<restriction base="string">
			<enumeration value="exiting"></enumeration>
			<enumeration value="held"></enumeration>
			<enumeration value="queued"></enumeration>
			<enumeration value="running"></enumeration>
			<enumeration value="moving"></enumeration>
			<enumeration value="waiting"></enumeration>
			<enumeration value="completed"></enumeration>
			<enumeration value="failed"></enumeration>
			<enumeration value="unauthorized"></enumeration>
			<enumeration value="authentication_failure"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="RunStatus">
		<sequence>
			<element name="status" type="tns:RunStatusEnum"></element>
			<element name="message" type="string"></element>
		</sequence>
	</complexType>

	<simpleType name="AgeRange">
		<restriction base="string">
			<enumeration value="decile0-9"></enumeration>
			<enumeration value="decile10-19"></enumeration>
			<enumeration value="decile20-29"></enumeration>
			<enumeration value="decile30-39"></enumeration>
			<enumeration value="decile40-49"></enumeration>
			<enumeration value="decile50-59"></enumeration>
			<enumeration value="decile60-69"></enumeration>
			<enumeration value="decile70-79"></enumeration>
			<enumeration value="decile80-89"></enumeration>
			<enumeration value="decile90-99"></enumeration>
			<enumeration value="decile100-109"></enumeration>
			<enumeration value="decile110-119"></enumeration>
			<enumeration value="decile120-129"></enumeration>
			<enumeration value="preschoolers"></enumeration>
			<enumeration value="schoolAgeChildren"></enumeration>
			<enumeration value="youngAdults"></enumeration>
			<enumeration value="olderAdults"></enumeration>
			<enumeration value="elderly"></enumeration>
			
		</restriction>
	</simpleType>

	<simpleType name="Gender">
		<restriction base="string">
			<enumeration value="M"></enumeration>
			<enumeration value="F"></enumeration>
			<enumeration value="U"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="SupportedPopulationLocation">
		<sequence>
			<element name="populationLocation" type="token"></element>
			<element name="populationLocationDescription" type="token">
			</element>
		</sequence>
	</complexType>

	<complexType name="Authentication">
		<sequence>
			<element name="requesterId" type="token" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/asv/ASV_00000006">
					</documentation>
				</annotation>
			</element>
			<element name="requesterPassword" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="VisualizationOptions">
		<sequence>
			<element name="runId" type="token"></element>
			<element name="location" type="token"></element>
			<element name="outputFormat" type="token"></element>
		</sequence>
	</complexType>


	<complexType name="VisualizerConfiguration">
		<sequence>
			<element name="visualizerIdentification" type="string">
			</element>
			<element name="authentication" type="tns:Authentication"></element>
			<element name="visualizationOptions" type="tns:VisualizationOptions"></element>
		</sequence>
	</complexType>

	<simpleType name="RunId">
		<restriction base="token"></restriction>
	</simpleType>

	<complexType name="ServiceRegistrationRecord">
		<sequence>
			<element name="authentication" type="tns:Authentication"></element>
			<element name="url" type="anyURI"></element>
			<element name="softwareIdentification" type="tns:SoftwareIdentification"></element>
			<element name="softwareType" type="token"></element>
		</sequence>
	</complexType>



	<complexType name="SimulatorTimeSpecification">
		<sequence>
			<element name="timeStepUnit" type="tns:TimeStepUnit"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000014">
					</documentation>
				</annotation>
			</element>

			<element name="timeStepValue" maxOccurs="1" minOccurs="1"
				type="tns:PositiveDouble">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000012">
					</documentation>
				</annotation>
			</element>

			<element name="runLength" type="positiveInteger" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000015">
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="AntiviralControlMeasure">
		<sequence>
			<element name="antiviralCmCompliance" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000050">
					</documentation>
				</annotation>
			</element>
			<element name="antiviralSupplySchedule" type="tns:NonNegativeDouble"
				maxOccurs="unbounded" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000051">
					</documentation>
				</annotation>
			</element>
			<element name="antiviralAdminSchedule" type="tns:NonNegativeDouble"
				maxOccurs="unbounded" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000052">
					</documentation>
				</annotation>
			</element>
			<element name="antiviralEfficacy" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000048">
					</documentation>
				</annotation>
			</element>
			<element name="antiviralEfficacyDelay" type="tns:NonNegativeDouble"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000049">
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="VaccinationControlMeasure">
		<sequence>
			<element name="vaccineCmCompliance" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation
						source="http://purl.obolibrary.org/obo/APOLLO_SV_00000024">
					</documentation>
				</annotation>
			</element>

			<element name="vaccineSupplySchedule"
				type="tns:NonNegativeDouble" maxOccurs="unbounded" minOccurs="1">
				<annotation>
					<documentation
						source="http://purl.obolibrary.org/obo/APOLLO_SV_00000046">
					</documentation>
				</annotation>
			</element>

			<element name="vaccinationAdminSchedule"
				type="tns:NonNegativeDouble" maxOccurs="unbounded" minOccurs="1">
				<annotation>
					<documentation
						source="http://purl.obolibrary.org/obo/APOLLO_SV_00000047">
					</documentation>
				</annotation>
			</element>
			<element name="vaccineEfficacy" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation
						source="http://purl.obolibrary.org/obo/APOLLO_SV_00000025">
					</documentation>
				</annotation>
			</element>
			<element name="vaccineEfficacyDelay"
				type="tns:NonNegativeDouble" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation
						source="http://purl.obolibrary.org/obo/APOLLO_SV_00000044">
					</documentation>
				</annotation>
			</element>
			<element name="label" type="token"></element>
			<element name="NewElement" type="string"></element>
		</sequence>
	</complexType>
	
	
	<complexType name="Disease">
		<sequence>
			<element name="diseaseName" type="token" maxOccurs="1" minOccurs="1"></element>
			<element name="infectiousPeriod" type="tns:NonNegativeDouble" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000016">
					</documentation>
				</annotation>
			</element>

			<element name="latentPeriod" type="tns:NonNegativeDouble" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000017">
					</documentation>
				</annotation>
			</element>

			<element name="reproductionNumber" type="tns:NonNegativeDouble"	maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000043">
					</documentation>
				</annotation>
			</element>

			<element name="asymptomaticInfectionFraction" type="tns:Probability" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000045">
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	
	<complexType name="PopulationDiseaseState">
		<sequence>
			<element name="diseaseState" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="popCount" type="nonNegativeInteger" maxOccurs="1"
				minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="SimulatedPopulation">
		<sequence>
			<element name="populationLocation" type="token" maxOccurs="1"
				minOccurs="1"></element>
			<element name="gender" type="tns:Gender" maxOccurs="1"
				minOccurs="0"></element>
			<element name="ageRange" type="tns:AgeRange" maxOccurs="1"
				minOccurs="0">
			</element>
			<choice>
				<element name="populationDiseaseState" type="tns:PopulationDiseaseState"
					maxOccurs="unbounded" minOccurs="1">
				</element>
				<element name="subpopulation" type="tns:SimulatedPopulation"
					maxOccurs="unbounded" minOccurs="1">
				</element>
			</choice>
		</sequence>
	</complexType>

	<complexType name="SimulatorConfiguration">
		<sequence>
			<element name="simulatorIdentification" type="tns:SoftwareIdentification"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="authentication" type="tns:Authentication"
				maxOccurs="1" minOccurs="1"></element>
			<element name="simulatorTimeSpecification" type="tns:SimulatorTimeSpecification"
				maxOccurs="1" minOccurs="1">
			</element>

			<element minOccurs="1" maxOccurs="1" name="populationInitialization"
				type="tns:SimulatedPopulation"></element>
			<element name="disease" type="tns:Disease" maxOccurs="1"
				minOccurs="1">
			</element>

			<element name="antiviralControlMeasure" type="tns:AntiviralControlMeasure"
				maxOccurs="1" minOccurs="0">
			</element>

			<element name="vaccinationControlMeasure" type="tns:VaccinationControlMeasure"
				maxOccurs="1" minOccurs="0">
			</element>
		</sequence>
	</complexType>

	<complexType name="VisualizerOutputResource">
		<sequence>
			<element name="description" type="token"></element>
			<element name="URL" type="anySimpleType"></element>
		</sequence>
	</complexType>
	
	<complexType name="ServiceResult">
		<sequence>
			<element name="description" type="token"></element>
			<element name="URL" type="anyURI"></element>
		</sequence>
	</complexType>

	<complexType name="SyntheticPopulationConfiguration">
		<sequence>
			<element name="serviceIdentification"
				type="tns:SoftwareIdentification">
			</element>
			<element name="authentication" type="tns:Authentication"></element>
            <element name="requesterIdentification" type="tns:RequesterIdentification"></element>
            <element name="householdCharacteristics" type="token"
				maxOccurs="4" minOccurs="1">
			</element>

			<element name="countiesOfInterest" type="tns:INCITS31"
				maxOccurs="unbounded" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="SoftwareIdentification">
		<sequence>
			<element name="softwareDeveloper" type="token"></element>
			<element name="softwareName" type="token"></element>
			<element name="softwareVersion" type="token"></element>
		</sequence>
	</complexType>

	<simpleType name="INCITS31">
		<restriction base="positiveInteger">
			<totalDigits value="5" fixed="true" />
		</restriction>
	</simpleType>

	<complexType name="RequesterIdentification">
		<sequence>
			<element name="requesterName" type="token"></element>
			<element name="requesterCompany" type="token"></element>
			<element name="requesterEmail" type="token"></element>
		</sequence>
	</complexType>

	<complexType name="Vaccine">
		<sequence>
            <element name="controlMeasureLabel" type="token"></element>
            <element name="vaccineId" type="token"></element>
			<element name="vaccineEfficacyBuildupSchedule"
				type="tns:Fraction" maxOccurs="unbounded" minOccurs="1">
			</element>
            <element name="vaccineEfficacyByAgeGroup" type="tns:AgeGroupEfficacy" maxOccurs="unbounded" minOccurs="0">
			</element>
        </sequence>
	</complexType>

	<complexType name="EfficacyByDiseaseState">
		<sequence>
			<element name="forSusceptibility" type="tns:Fraction"></element>
			<element name="forInfectiousness" type="tns:Fraction"></element>
			<element name="forIllnessGivenInfection" type="tns:Fraction"></element>
		</sequence>
	</complexType>

	<complexType name="AgeGroupEfficacy">
		<sequence>
			<element name="ageRange" type="tns:AgeRange"></element>
			<element name="vaccineEfficacy" type="tns:Fraction"></element>
		</sequence>
	</complexType>

	<complexType name="VaccineAdministrationContraindicated">
		<sequence>
			<element name="infants" type="tns:Fraction" maxOccurs="1" minOccurs="0"></element>
			<element name="preschoolers" type="tns:Fraction" maxOccurs="1" minOccurs="0"></element>
			<element name="schoolAgeChildren" type="tns:Fraction" maxOccurs="1" minOccurs="0"></element>
			<element name="youngAdults" type="tns:Fraction" maxOccurs="1" minOccurs="0"></element>
			<element name="olderAdults" type="tns:Fraction" maxOccurs="1" minOccurs="0"></element>
			<element name="elderly" type="tns:Fraction" maxOccurs="1" minOccurs="0"></element>
			<element name="pregnantAdultsRestricted" type="boolean" maxOccurs="1" minOccurs="0"></element>
			
		</sequence>
	</complexType>

	<complexType name="Antiviral">
		<sequence>
			<element name="label" type="token"></element>
			<element name="antiviralId" type="token"></element>
			<element name="antiviralEfficacy" type="tns:Fraction"></element>
			<element name="antiviralEfficacyDelay" type="tns:NonNegativeDouble"></element>
		</sequence>
	</complexType>

	<complexType name="BatchRunSimulatorConfiguration">
		<sequence>
			<element name="batchConfigurationFile" type="anyURI"></element>
			<element name="acceptCachedResults" type="boolean"></element>
			<element name="softwareIdentification" type="tns:SoftwareIdentification"></element>
		</sequence>
	</complexType>
	
    <complexType name="BatchRunSimulatorResult">
    	<sequence>
    		<element name="errorFile" type="anyURI"></element>
    		<element name="completedFile" type="anyURI"></element>
    	</sequence>
    </complexType>
</schema>