apollo-ws/service-skeletons/java/trunk/src/main/resources/apolloservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/apolloservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApolloService"
	targetNamespace="http://service.apollo.pitt.edu/apolloservice/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/apolloservice/"
			xmlns:apollo="http://types.apollo.pitt.edu/">
			<xsd:import schemaLocation="apollo-types.xsd" namespace="http://types.apollo.pitt.edu/">
			</xsd:import>
			<xsd:element name="runSimulation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulatorConfiguration" type="apollo:SimulatorConfiguration" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runSimulationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunIdentification" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatus">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runAndSoftwareIdentification"
							type="apollo:RunAndSoftwareIdentification">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatusResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runStatus" type="apollo:RunStatus"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registerService">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceRegistrationRecord" type="apollo:ServiceRegistrationRecord"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registerServiceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="registrationSuccessful" type="xsd:boolean"></xsd:element>
						<xsd:element name="message" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="unRegisterService">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceRegistrationRecord" type="apollo:ServiceRegistrationRecord"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="unRegisterServiceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="unRegistrationSuccessful" type="xsd:boolean">
						</xsd:element>
						<xsd:element name="message" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRegisteredServices">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRegisteredServicesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceRecords" type="apollo:ServiceRecord"
							maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runVisualization">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="visualizerConfiguration" type="apollo:VisualizerConfiguration"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runVisualizationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="visualizerResult"
							type="apollo:VisualizerResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="batchRunSimulation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="batchRunSimulatorConfiguration"
							type="apollo:BatchRunSimulatorConfiguration"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="batchRunSimulationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="batchRunSimulatorResult" type="apollo:BatchRunResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="generateSyntheticPopulation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="syntheticPopulationConfiguration" type="apollo:SyntheticPopulationConfiguration"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="generateSyntheticPopulationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="syntheticPopulationResult" type="apollo:SyntheticPopulationResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForRun">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForRunResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="configurationFile" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="runSimulationRequest">
		<wsdl:part element="tns:runSimulation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="runSimulationResponse">
		<wsdl:part element="tns:runSimulationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="registerServiceRequest">
		<wsdl:part name="parameters" element="tns:registerService"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerServiceResponse">
		<wsdl:part name="parameters" element="tns:registerServiceResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="unRegisterServiceRequest">
		<wsdl:part name="parameters" element="tns:unRegisterService"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="unRegisterServiceResponse">
		<wsdl:part name="parameters" element="tns:unRegisterServiceResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRegisteredServicesRequest">
		<wsdl:part name="parameters" element="tns:getRegisteredServices"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRegisteredServicesResponse">
		<wsdl:part name="parameters" element="tns:getRegisteredServicesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runVisualizationRequest">
		<wsdl:part name="parameters" element="tns:runVisualization"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runVisualizationResponse">
		<wsdl:part name="parameters" element="tns:runVisualizationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="batchRunSimulationRequest">
		<wsdl:part name="parameters" element="tns:batchRunSimulation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="batchRunSimulationResponse">
		<wsdl:part name="parameters" element="tns:batchRunSimulationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="generateSyntheticPopulationRequest">
		<wsdl:part name="parameters" element="tns:generateSyntheticPopulation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="generateSyntheticPopulationResponse">
		<wsdl:part name="parameters" element="tns:generateSyntheticPopulationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForRunRequest">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForRun"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForRunResponse">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForRunResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ApolloServiceEI">
		<wsdl:operation name="runSimulation">
			<wsdl:input message="tns:runSimulationRequest" />
			<wsdl:output message="tns:runSimulationResponse" />
		</wsdl:operation>
		<wsdl:operation name="runVisualization">
			<wsdl:input message="tns:runVisualizationRequest"></wsdl:input>
			<wsdl:output message="tns:runVisualizationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<wsdl:input message="tns:getRunStatusRequest"></wsdl:input>
			<wsdl:output message="tns:getRunStatusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerService">
			<wsdl:input message="tns:registerServiceRequest"></wsdl:input>
			<wsdl:output message="tns:registerServiceResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unRegisterService">
			<wsdl:input message="tns:unRegisterServiceRequest"></wsdl:input>
			<wsdl:output message="tns:unRegisterServiceResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRegisteredServices">
			<wsdl:input message="tns:getRegisteredServicesRequest"></wsdl:input>
			<wsdl:output message="tns:getRegisteredServicesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="batchRunSimulation">
			<wsdl:input message="tns:batchRunSimulationRequest"></wsdl:input>
			<wsdl:output message="tns:batchRunSimulationResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="generateSyntheticPopulation">
			<wsdl:input message="tns:generateSyntheticPopulationRequest"></wsdl:input>
			<wsdl:output message="tns:generateSyntheticPopulationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfigurationFileForRun">
			<wsdl:input message="tns:getConfigurationFileForRunRequest"></wsdl:input>
			<wsdl:output message="tns:getConfigurationFileForRunResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ApolloServiceBinding"
		type="tns:ApolloServiceEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getRunStatus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/getRunStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerService">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/registerService" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unRegisterService">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/unRegisterService" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRegisteredServices">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/getRegisteredServices" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runSimulation">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/runSimulation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runVisualization">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/runVisualization" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="batchRunSimulation">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/batchRunSimulation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ApolloService">
		<wsdl:port binding="tns:ApolloServiceBinding" name="ApolloServiceEndpoint">
			<soap:address
				location="http://localhost:8080/apolloservice/services/apolloservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
