apollo-ws/service-skeletons/java/trunk/src/main/resources/apollo-types_2.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://types.apollo.pitt.edu/v2_0/"
	xmlns:tns="http://types.apollo.pitt.edu/v2_0/" elementFormDefault="qualified">
	<simpleType name="Probability">
		<restriction base="double">
			<minInclusive value="0" />
			<maxInclusive value="1" />
		</restriction>
	</simpleType>

	<simpleType name="Fraction">
		<restriction base="double">
			<minInclusive value="0" />
			<maxInclusive value="1" />
		</restriction>
	</simpleType>

	<simpleType name="PositiveDouble">
		<restriction base="double">
			<minExclusive value="0" />
		</restriction>
	</simpleType>

	<simpleType name="NonNegativeDouble">
		<restriction base="double">
			<minInclusive value="0" />
		</restriction>
	</simpleType>

	<simpleType name="SimulatorType">
		<restriction base="string">
			<enumeration value="agent-based" />
			<enumeration value="compartmental" />
		</restriction>
	</simpleType>

	<simpleType name="UnitOfTime">
		<restriction base="string">
			<enumeration value="year" />
			<enumeration value="month" />
			<enumeration value="day" />
			<enumeration value="hour" />
			<enumeration value="minute" />
			<enumeration value="second" />
			<enumeration value="millisecond" />
		</restriction>
	</simpleType>

	<simpleType name="MethodCallStatusEnum">
		<restriction base="string">
			<enumeration value="exiting" />
			<enumeration value="held" />
			<enumeration value="queued" />
			<enumeration value="running" />
			<enumeration value="moving" />
			<enumeration value="waiting" />
			<enumeration value="completed" />
			<enumeration value="failed" />
			<enumeration value="unauthorized" />
			<enumeration value="authentication_failure" />
		</restriction>
	</simpleType>

	<complexType name="MethodCallStatus">
		<sequence>
			<element name="status" type="tns:MethodCallStatusEnum"
				maxOccurs="1" minOccurs="1" />
			<element name="message" type="string" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<simpleType name="Gender">
		<restriction base="string">
			<enumeration value="M" />
			<enumeration value="F" />
			<enumeration value="U" />
		</restriction>
	</simpleType>

	<complexType name="Authentication">
		<sequence>
			<element name="requesterId" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="requesterPassword" type="token" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="VisualizationOptions">
		<sequence>
			<element name="runId" type="token" />
			<element name="location" type="token" />
			<element name="outputFormat" type="token" />
		</sequence>
	</complexType>

	<complexType name="RunVisualizationMessage">
		<sequence>
			<element name="visualizerIdentification" type="tns:SoftwareIdentification" />
			<element name="authentication" type="tns:Authentication" />
			<element name="visualizationOptions" type="tns:VisualizationOptions" />
		</sequence>
	</complexType>

	<simpleType name="RunIdentification">
		<restriction base="token" />
	</simpleType>

	<complexType name="ServiceRecord">
		<sequence>
			<element name="url" type="anyURI" />
			<element name="softwareIdentification" type="tns:SoftwareIdentification" />
		</sequence>
	</complexType>

	<complexType name="ServiceRegistrationRecord">
		<complexContent>
			<extension base="tns:ServiceRecord">
				<sequence>
					<element name="authentication" type="tns:Authentication" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SimulatorTimeSpecification">
		<sequence>
			<element name="unitOfTimeForSimulatorTimeStep" type="tns:UnitOfTime"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="numberOfUnitsOfTimeInOneSimulatorTimeStep"
				maxOccurs="1" minOccurs="1" type="tns:PositiveDouble">
			</element>
			<element name="runLength" type="positiveInteger" maxOccurs="1"
				minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="IndividualTreatmentControlStrategy">
		<complexContent>
			<extension base="tns:InfectiousDiseaseControlStrategy">
				<sequence>
					<element name="individualTreatment" type="tns:Treatment"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="delayFromSymptomsToTreatment" type="tns:Duration"
						maxOccurs="1" minOccurs="0">
					</element>
					<element name="treatmentSystemLogistics" type="tns:TreatmentSystemLogistics"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="targetPopulationsAndPrioritizations"
						type="tns:ControlStrategyTargetPopulationsAndPrioritization"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>




	<complexType name="Vaccination">
		<complexContent>
			<extension base="tns:Treatment">
				<sequence>
					<element name="vaccine" type="tns:Vaccine" maxOccurs="1"
						minOccurs="1" />
					<element name="vaccinationEfficacies" type="tns:VaccinationEfficacy"
						maxOccurs="unbounded" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RingIndividualTreatmentControlStrategy">
		<complexContent>
			<extension base="tns:IndividualTreatmentControlStrategy">
				<sequence>
					<element name="ringDiameterInMeters" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Infection">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="pathogenTaxonID" type="tns:ApolloPathogenCode"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="hostTaxonID" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />
					<element name="infectiousPeriodDuration" type="tns:Duration"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="infectiousnessProfile"
						type="tns:ContinuousParametricProbabilityDistribution" maxOccurs="1"
						minOccurs="0">
					</element>
					<element name="latentPeriodDuration" type="tns:Duration"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="infectionAcquisition" type="tns:InfectionAcquisition"
						maxOccurs="unbounded" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Contamination">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="pathogenTaxonID" type="tns:ApolloPathogenCode"
						maxOccurs="1" minOccurs="1" />
					<element name="abioticEcosystemElement" type="tns:AbioticEcosystemEnum"
						maxOccurs="1" minOccurs="1" />
					<element name="contaminationPeriod" type="tns:Duration"
						maxOccurs="1" minOccurs="1" />
					<element name="contaminationAcquisition" type="tns:ContaminationAcquisition"
						maxOccurs="unbounded" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PopulationInfectionAndImmunityCensus">
		<complexContent>
			<extension base="tns:Census">
				<sequence>
					<element name="populationSpecies" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />
					<element name="pathogen" type="tns:ApolloPathogenCode"
						maxOccurs="1" minOccurs="1"></element>
					<element name="censusData"
						type="tns:PopulationInfectionAndImmunityCensusData" maxOccurs="1"
						minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PopulationInfectionAndImmunityCensusData">
		<complexContent>
			<extension base="tns:CensusData">
				<sequence>
					<element name="censusDataCells"
						type="tns:PopulationInfectionAndImmunityCensusDataCell" maxOccurs="unbounded"
						minOccurs="1">
					</element>
					<element name="exceptionSubpopulations"
						type="tns:PopulationInfectionAndImmunityCensusData" maxOccurs="unbounded"
						minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PopulationTreatmentCensusData">
		<complexContent>
			<extension base="tns:CensusData">
				<sequence>

					<element name="treatmentCensusDataCells" type="tns:PopulationTreatmentCensusDataCell"
						maxOccurs="unbounded" minOccurs="1">
					</element>
					<element name="exceptionSubpopulations" type="tns:PopulationTreatmentCensusData"
						maxOccurs="unbounded" minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="UrlOutputResource">
		<sequence>
			<element name="description" type="string" />
			<element name="URL" type="anySimpleType" />
		</sequence>
	</complexType>

	<complexType name="ServiceResult">
		<sequence>
			<element name="description" type="string" />
			<element name="URL" type="anyURI" />
		</sequence>
	</complexType>


	<complexType name="SoftwareIdentification">
		<sequence>
			<element name="softwareDeveloper" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="softwareName" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="softwareVersion" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="softwareType" type="tns:ApolloSoftwareType"
				maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<simpleType name="ApolloLocationCode">
		<restriction base="token">
			<pattern value="[A-Z0-9]{2,17}"></pattern>
		</restriction>
	</simpleType>

	<complexType name="RequesterIdentification">
		<sequence>
			<element name="requesterName" type="token" />
			<element name="requesterCompany" type="token" />
			<element name="requesterEmail" type="token" />
		</sequence>
	</complexType>

	<complexType name="Vaccine">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="vaccineIdentifier" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="valence" type="positiveInteger" maxOccurs="unbounded"
				minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="AgeGroupEfficacy">
		<sequence>
			<element name="ageRange" type="tns:AgeRangeCategory" />
			<element name="vaccineEfficacy" type="tns:Fraction" />
		</sequence>
	</complexType>

	<complexType name="VaccineContraindications">
		<sequence>
			<element name="infants" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="preschoolers" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="schoolAgeChildren" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="youngAdults" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="olderAdults" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="elderly" type="boolean" maxOccurs="1"
				minOccurs="0" />
			<element name="pregnantAdultsRestricted" type="boolean"
				maxOccurs="1" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="Antiviral">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="antiviralId" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="RunSimulationsMessage">
		<sequence>
			<element name="batchConfigurationFile" type="anyURI" />
			<element name="acceptCachedResults" type="boolean" />
			<element name="softwareIdentification" type="tns:SoftwareIdentification" />
		</sequence>
	</complexType>

	<complexType name="RunSimulationsResult">
		<sequence>
			<element name="completedFile" type="anyURI" />
			<element name="runId" type="tns:RunIdentification" />
		</sequence>
	</complexType>

	<complexType name="AntiviralTreatment">
		<complexContent>
			<extension base="tns:Treatment">
				<sequence>
					<element name="antiviral" type="tns:Antiviral" maxOccurs="1"
						minOccurs="1" />
					<element name="antiviralTreatmentEfficacy" type="tns:AntiviralTreatmentEfficacy" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ArrayDimensionsDefinition" />
	<complexType name="PopulationStrataDefinition">
		<complexContent>
			<extension base="tns:ArrayDimensionsDefinition">
				<sequence>
					<element name="ageRanges" type="tns:AgeRangeCategory"
						maxOccurs="unbounded" minOccurs="0">
					</element>
					<element name="genders" type="tns:Gender" maxOccurs="unbounded"
						minOccurs="0">
					</element>
					<element name="diseaseOutcomes" type="tns:DiseaseOutcome"
						maxOccurs="unbounded" minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="PopulationInfectionAndImmunityCensusDataCell">
		<sequence>
			<element name="ageRange" type="tns:AgeRangeCategory"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="gender" type="tns:Gender" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="infectionState" type="tns:InfectionState"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="fractionInInfectionState" type="tns:Fraction"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="PopulationTreatmentCensusDataCell">
		<sequence>
			<element name="ageRange" type="tns:AgeRangeCategory"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="gender" type="tns:Gender" maxOccurs="1"
				minOccurs="0"></element>
			<element name="treatmentState" type="tns:TreatmentState"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="fractionInInfectionState" type="tns:Fraction"
				maxOccurs="1" minOccurs="1" />
		</sequence>

	</complexType>

	<complexType name="PopulationStrataArray">
		<sequence>
			<element name="description" type="tns:PopulationStrataDefinition"
				maxOccurs="1" minOccurs="1" />
			<element name="values" type="tns:Fraction" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="TemporalArrayDimensionsDefinition">
		<complexContent>
			<extension base="tns:ArrayDimensionsDefinition">
				<sequence>
					<element name="time" type="nonNegativeInteger" maxOccurs="unbounded"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="InfectionState">
		<restriction base="string">
			<enumeration value="susceptible" />
			<enumeration value="exposed" />
			<enumeration value="infectious" />
			<enumeration value="recovered" />
			<enumeration value="immuneAndActsLikeImmune" />
			<enumeration value="immuneButActsLikeNotImmune" />
			<enumeration value="newly_sick" />
		</restriction>
	</simpleType>

	<simpleType name="TreatmentState">
		<restriction base="string">
			<enumeration value="treated" />
			<enumeration value="not_treated" />
		</restriction>
	</simpleType>

	<complexType name="AgeRangeCategory">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="unitOfTimeForLowerBound" type="tns:UnitOfTime"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="lowerBound" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1" />
					<element name="unitOfTimeForUpperBound" type="tns:UnitOfTime"
						maxOccurs="1" minOccurs="1"></element>
					<element name="upperBound" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TimeSpanCategory">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="unitOfTime" type="tns:UnitOfTime" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="timeZeroReference" type="tns:timeScaleEnum"
						maxOccurs="1" minOccurs="1"></element>
					<element name="startOfTimeSpan" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1" />
					<element name="durationInTimeUnits" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<simpleType name="timeScaleEnum">
		<restriction base="string">
			<enumeration value="simulatorTimeScale" />
			<enumeration value="controlStrategyTimeScale" />
			<enumeration value="individualTreatmentTimeScale" />
		</restriction>
	</simpleType>

	<complexType name="FacilityCategory">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="facility" type="tns:FacilityEnum" maxOccurs="1"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="GenderCategory">
		<complexContent>
			<extension base="tns:CategoryDefinition">
				<sequence>
					<element name="gender" type="tns:Gender" maxOccurs="1"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SimulatorTimeRange">
		<sequence>
			<element name="lowerBound" type="nonNegativeInteger" />
			<element name="upperBound" type="nonNegativeInteger" />
		</sequence>
	</complexType>

	<complexType name="TargetPriorityPopulation">
		<sequence>
			<element name="label" type="token" maxOccurs="1" minOccurs="1" />
			<element name="fractionOfTargetPopulationToPrioritize" type="tns:Fraction"
				maxOccurs="1" minOccurs="1" />
			<element name="priority" type="nonNegativeInteger" maxOccurs="1"
				minOccurs="1">
			</element>
			<choice>
				<element name="targetPopulationDefinition" type="tns:PopulationStrataDefinition"
					maxOccurs="1" minOccurs="1">
				</element>
				<element name="targetPopulationDefinitionEnum" type="tns:TargetPopulationDefinitionEnum"
					maxOccurs="1" minOccurs="1">
				</element>
			</choice>
		</sequence>
	</complexType>

	<complexType name="ControlStrategyTargetPopulationsAndPrioritization">
		<sequence>
			<choice>
				<element name="controlStrategyTargetPopulationsAndPrioritization"
					type="tns:TargetPriorityPopulation" maxOccurs="unbounded"
					minOccurs="1">
				</element>
				<element name="controlStrategyNamedPrioritizationScheme"
					type="token" maxOccurs="1" minOccurs="1">
				</element>
			</choice>
		</sequence>
	</complexType>

	<complexType name="InfectiousDiseaseControlStrategy">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="description" type="string" maxOccurs="1"
						minOccurs="1" />
					<element name="controlStrategyStartTime" type="tns:ControlStrategyStartTime"
						maxOccurs="1" minOccurs="1" />
					<element name="controlStrategyResponseDelay" type="tns:Duration"
						maxOccurs="1" minOccurs="1" />
					<element name="controlStrategyCompliance" type="tns:ProbabilisticParameter"
						maxOccurs="1" minOccurs="1" />
					<element name="controlStrategyReactiveEndPointFraction"
						type="tns:Fraction" maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ReactiveTriggerDefinition">
		<sequence>
			<element name="reactiveControlStrategyTest" type="token"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="reactiveControlStrategyThreshold" type="tns:Fraction"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="newCaseDetection" type="tns:DiseaseSurveillanceCapability"
				maxOccurs="1" minOccurs="1">
			</element>

		</sequence>
	</complexType>

	<simpleType name="TargetPopulationDefinitionEnum">
		<restriction base="token">
			<enumeration value="household_member_of_infant" />
		</restriction>
	</simpleType>



	<simpleType name="ApolloSoftwareType">
		<restriction base="string">
			<enumeration value="simulator" />
			<enumeration value="visualizer" />
			<enumeration value="syntheticPopulationGenerator" />
		</restriction>
	</simpleType>

	<complexType name="RunAndSoftwareIdentification">
		<sequence>
			<element name="runId" type="tns:RunIdentification" />
			<element name="softwareId" type="tns:SoftwareIdentification" />
		</sequence>
	</complexType>

	<simpleType name="SchoolClosureTargetFacilities">
		<restriction base="token">
			<enumeration value="all" />
			<enumeration value="individual" />
		</restriction>
	</simpleType>

	<complexType name="VisualizerResult">
		<sequence>
			<element name="runId" type="tns:RunIdentification" />
			<element name="visualizerOutputResource" type="tns:UrlOutputResource"
				maxOccurs="unbounded" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="SyntheticPopulationGenerationResult">
		<sequence>
			<element name="runId" type="tns:RunIdentification" />
			<element name="syntheticPopulationOutputResource" type="tns:UrlOutputResource"
				maxOccurs="unbounded" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="DiscreteNonparametricProbabilityDistribution">
		<complexContent>
			<extension base="tns:UnconditionalProbabilityDistribution">
				<sequence>
					<element name="probabilityValuePairs" type="tns:ProbabilityValuePair"
						maxOccurs="unbounded" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TreatmentContraindication">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="0" />
			<element name="simulatorReferencablePopulation" type="tns:PopulationStrataDefinition"
				maxOccurs="1" minOccurs="0" />
			<element name="fractionOfSimulatorReferencablePopulation"
				type="tns:Fraction" maxOccurs="1" minOccurs="0" />
			<element name="pregnancy" type="boolean" maxOccurs="1"
				minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="ConditionalProbabilityTable">
		<sequence>
			<element name="axisDefinitions" type="tns:ArrayDimensionsDefinition"
				maxOccurs="1" minOccurs="1" />
			<choice>
				<element name="pointProbabilities" type="tns:Probability"
					maxOccurs="unbounded" minOccurs="1" />
				<element name="parametricDistribution" type="tns:Probability"
					maxOccurs="unbounded" minOccurs="1" />
			</choice>
		</sequence>
	</complexType>

	<complexType name="Duration">
		<sequence>
			<element name="unitOfTime" type="tns:UnitOfTime" maxOccurs="1"
				minOccurs="1" />
			<choice>
				<element name="value" type="tns:NonNegativeDouble"
					maxOccurs="1" minOccurs="1" />
				<element name="probabilityDistribution" type="tns:ProbabilityDistribution"
					maxOccurs="1" minOccurs="1" />
			</choice>
		</sequence>
	</complexType>

	<complexType name="ProbabilisticParameter">
		<sequence>
			<choice>
				<element name="probability" type="tns:Probability"
					maxOccurs="1" minOccurs="1" />
				<element name="probabilityDistribution" type="tns:ProbabilityDistribution"
					maxOccurs="1" minOccurs="1" />
			</choice>
		</sequence>
	</complexType>

	<complexType name="TreatmentEfficacy">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="Treatment">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="description" type="string" maxOccurs="1"
						minOccurs="1" />
					<choice>
						<element name="vaccineId" type="tns:vaccineOntologyId"
							maxOccurs="1" minOccurs="1">
						</element>
						<element name="DrugId" type="token" maxOccurs="1"
							minOccurs="1">
						</element>
					</choice>
					<element name="speciesOfTreatedOrganism" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />
					<element name="numDosesInTreatmentCourse" type="positiveInteger"
						maxOccurs="1" minOccurs="1" />
					<element name="durationOfTreatmentCourse" type="duration"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="treatmentContraindications" type="tns:TreatmentContraindication"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="treatmentEfficacies" type="tns:TreatmentEfficacy"
						maxOccurs="unbounded" minOccurs="1">
					</element>

				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BayesianNetworkDistribution">
		<complexContent>
			<extension base="tns:ProbabilityDistribution">
				<sequence>
					<element name="networkStructure" type="tns:BayesianNetworkStructureType"
						maxOccurs="1" minOccurs="1" />
					<element name="CPTs" type="tns:ConditionalProbabilityTable"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="PPFs" type="tns:PrototypicalProbabilityFunction"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="GeNIE_XML" type="tns:GeNIE_XMLType"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ControlStrategyStartTime" />
	<complexType name="FixedStartTime">
		<complexContent>
			<extension base="tns:ControlStrategyStartTime">
				<sequence>
					<element name="startTimeRelativeToScenarioDate" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="1" />
					<element name="stopTimeRelativeToScenarioDate" type="nonNegativeInteger"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ReactiveStartTime">
		<complexContent>
			<extension base="tns:ControlStrategyStartTime">
				<sequence>
					<element name="triggers" type="tns:ReactiveTriggerDefinition"
						maxOccurs="unbounded" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TimeDefinition">
		<sequence>
			<element name="simulatorTime" type="int" maxOccurs="1"
				minOccurs="1" />
			<element name="dateTime" type="dateTime" maxOccurs="1"
				minOccurs="0" />
		</sequence>
	</complexType>

	<simpleType name="VaccinationPreventableOutcome">
		<restriction base="string">
			<enumeration value="infection" />
			<enumeration value="infectiousness" />
			<enumeration value="sickness requiring medical attention" />
		</restriction>
	</simpleType>

	<complexType name="VaccinationEfficacy">
		<complexContent>
			<extension base="tns:TreatmentEfficacy">
				<sequence>
					<element name="vaccineIdentifier" type="token" maxOccurs="1"
						minOccurs="1" />
					<element name="strainIdentifier" type="tns:ApolloPathogenCode"
						maxOccurs="1" minOccurs="1" />
					<element name="hostIdentifier" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />
					<element name="forVaccinationPreventableOutcome" type="tns:VaccinationPreventableOutcome"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="AntiviralTreatmentEfficacy">
		<complexContent>
			<extension base="tns:TreatmentEfficacy">
				<sequence>
					<element name="antiviralTreatmentIdentifier" type="token"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Ecosystem">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="bioticEcosystem" type="tns:BioticEcosystem"
				maxOccurs="1" minOccurs="1" />
			<element name="abioticEcosystem" type="tns:AbioticEcosystem"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="BioticEcosystem">
		<sequence>
			<element name="communities" type="tns:PopulationInfectionAndImmunityCensus"
				maxOccurs="unbounded" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="AbioticEcosystem">
		<sequence>
			<element name="homes" type="string" maxOccurs="unbounded"
				minOccurs="0" />
			<element name="schools" type="token" maxOccurs="unbounded"
				minOccurs="0" />
			<element name="workplaces" type="token" maxOccurs="unbounded"
				minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="BayesianNetworkStructureType" />
	<complexType name="TreatmentEfficacyValueType" />
	<complexType name="VaccinationEfficacyValue" />
	<complexType name="PrototypicalProbabilityFunction" />
	<complexType name="GeNIE_XMLType">
		<sequence>
			<element name="theXML" type="string" maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="VaccinationEfficacyForSimulatorConfiguration">
		<complexContent>
			<extension base="tns:VaccinationEfficacy">
				<sequence>
					<element name="averageVaccinationEfficacy" type="tns:Probability"
						maxOccurs="1" minOccurs="1" />
					<element name="vaccinationEfficacybyAgeRange" type="tns:ProbabilisticParameter"
						maxOccurs="1" minOccurs="0" />
					<element name="vaccinationEfficaciesByTimeSinceMostRecentDose"
						type="tns:VaccinationEfficacyByTimeSinceDose" maxOccurs="1"
						minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="AntiviralEfficacyForSimulatorConfiguration">
		<complexContent>
			<extension base="tns:AntiviralTreatmentEfficacy">
				<sequence>
					<element name="averageAntiviralTreatmentEfficacy" type="tns:Probability"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TimeAxisCategoryLabels">
		<sequence>
			<element name="label" type="token" maxOccurs="1" minOccurs="1" />
			<element name="simulatorTimeEarliest" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="1" />
			<element name="simulatorTimeLatest" type="nonNegativeInteger"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="LocationDefinition">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="locationsIncluded" type="tns:ApolloLocationCode"
				maxOccurs="unbounded" minOccurs="1" />
			<element name="locationsExcluded" type="tns:ApolloLocationCode"
				maxOccurs="unbounded" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="VaccinationEfficacyByTimeSinceDose">
		<sequence>
			<element name="numberOfDosesAdministered" type="positiveInteger"
				maxOccurs="1" minOccurs="1" />
			<element name="timeIntervalLabelDefinitions" type="tns:TimeAxisCategoryLabels"
				maxOccurs="unbounded" minOccurs="1" />
			<element name="vaccinationEfficacyByTimeSinceMostRecentDose"
				type="tns:Fraction" maxOccurs="unbounded" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="VaccinationEfficacyInferred">
		<complexContent>
			<extension base="tns:VaccinationEfficacy">
				<sequence>
					<element name="inferredFromTheseStudies" type="tns:VaccinationEfficacyStudy"
						maxOccurs="unbounded" minOccurs="1" />
					<element name="vaccinationEfficacyModel" type="tns:BayesianNetworkDistribution"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CatalogEntryForApolloLibraryItem">
		<sequence>
			<element name="itemDescription" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="itemSource" type="string" maxOccurs="1"
				minOccurs="1" />
			<element name="itemType" type="tns:ApolloIndexableItemTypeEnum"
				maxOccurs="1" minOccurs="1" />
			<element name="itemUuid" type="token" maxOccurs="1"
				minOccurs="1" />
			<element name="itemIndexingLabels" type="token" maxOccurs="unbounded"
				minOccurs="0" />
			<element name="itemCreationTime" type="dateTime" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="LibraryItem">
		<sequence>
			<element name="base_type" type="string" />
		</sequence>
	</complexType>

	<complexType name="DecisionAlternative">
		<sequence>
			<element name="singleStrategy" type="string" />
			<element name="combinationStrategy" type="string" />
			<element name="SequentialCombinationStrategy" type="string" />
		</sequence>
	</complexType>

	<complexType name="UtilityFunction">
		<sequence>
			<element name="lambdaFunction" type="string" maxOccurs="1"
				minOccurs="1" />
			<choice>
				<element name="textDescription" type="string" maxOccurs="1"
					minOccurs="1" />
			</choice>
		</sequence>
	</complexType>

	<complexType name="SensitivityAnalysis" />
	<complexType name="SensitivityAnalysisResult" />
	<complexType name="DecisionModel">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="decisionAlternatives" type="tns:DecisionAlternative"
						maxOccurs="unbounded" minOccurs="1" />
					<element name="simulatorConfiguration " type="tns:RunSimulationMessage"
						maxOccurs="1" minOccurs="0" />
					<element name="utilityFunction" type="tns:UtilityFunction"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="DecisionAnalysis">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="decisionModel" type="tns:DecisionModel"
						maxOccurs="1" minOccurs="1" />
					<element name="baseCaseResult " type="tns:BaseCaseResult"
						maxOccurs="1" minOccurs="1" />
					<element name="sensitivityAnalyses" type="tns:SensitivityAnalysis"
						maxOccurs="unbounded" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ExpectedUtility" />
	<complexType name="BaseCaseResult">
		<sequence>
			<element name="decisionAlternatives" type="tns:DecisionAlternative"
				maxOccurs="unbounded" minOccurs="1" />
			<element name="expectedUtilities" type="double" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="VaccinationEfficacyMeasured">
		<complexContent>
			<extension base="tns:VaccinationEfficacy">
				<sequence>
					<element name="measuredEfficacyValue" type="tns:ConditionalProbabilityTable"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="VaccinationEfficacyStudy">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="0" />
			<element name="vaccinationPreventableOutcome" type="tns:VaccinationPreventableOutcome"
				maxOccurs="1" minOccurs="1" />
			<element name="vaccinationEfficacyMeasured" type="tns:VaccinationEfficacyMeasured"
				maxOccurs="unbounded" minOccurs="1" />
			<element name="dataSets" type="string" maxOccurs="unbounded"
				minOccurs="1" />
			<element name="references" type="string" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="CuratedLibraryItemContainer">
		<sequence>
			<element name="curatedLibraryItem" type="tns:CatalogEntryForApolloLibraryItem"
				maxOccurs="1" minOccurs="1" />
			<element name="apolloIndexableItem" type="tns:ApolloIndexableItem"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="ApolloIndexableItem" />
	<simpleType name="PathogenTaxonID">
		<restriction base="positiveInteger" />
	</simpleType>

	<simpleType name="DiseaseOutcome">
		<restriction base="string">
			<enumeration value="asymptomatic" />
			<enumeration value="symptomatic" />
			<enumeration value="severely symptomatic" />
			<enumeration value="hospitalization" />
		</restriction>
	</simpleType>

	<simpleType name="FacilityEnum">
		<restriction base="string">
			<enumeration value="preschool" />
			<enumeration value="primarySchool" />
			<enumeration value="secondarySchool" />
			<enumeration value="workplace" />
		</restriction>
	</simpleType>

	<complexType name="InfectionAcquisition">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="pathogenTaxonID" type="tns:ApolloPathogenCode"
						maxOccurs="1" minOccurs="1" />
					<element name="susceptibleHostTaxonID" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />
					<choice>
						<element name="infectiousHostTaxonID" type="tns:NcbiTaxonId"
							maxOccurs="1" minOccurs="1" />
						<element name="contaminatedMaterialID" type="token"
							maxOccurs="1" minOccurs="1" />
					</choice>
					<choice>
						<element name="basicReproductionNumber" type="tns:PositiveDouble"
							maxOccurs="1" minOccurs="1" />
						<element name="imperialReproductionNumber" type="tns:ImperialReproductionNumber"
							maxOccurs="1" minOccurs="1" />
					</choice>
					<element name="transmissionProbability" type="tns:TransmissionProbability"
						maxOccurs="1" minOccurs="0" />
					<element name="transmissionCoefficient" type="tns:TransmissionCoefficient"
						maxOccurs="1" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RunSimulationMessage">
		<sequence>
			<element name="simulatorIdentification" type="tns:SoftwareIdentification"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="authentication" type="tns:Authentication"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="simulatorTimeSpecification" type="tns:SimulatorTimeSpecification"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="infectiousDiseaseScenario" type="tns:InfectiousDiseaseScenario"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="InfectiousDiseaseScenario">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="scenarioDate" type="dateTime" maxOccurs="1"
						minOccurs="1" />
					<element name="location" type="tns:Location" maxOccurs="1"
						minOccurs="1" />
					<element name="populations" type="tns:Population"
						maxOccurs="unbounded" minOccurs="1"></element>
					<element name="infections" type="tns:Infection" maxOccurs="unbounded"
						minOccurs="1" />
					<element name="diseases" type="tns:InfectiousDisease"
						maxOccurs="unbounded" minOccurs="1" />
					<element name="contaminations" type="tns:Contamination"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="treatments" type="tns:Treatment" maxOccurs="unbounded"
						minOccurs="0" />
					<element name="infectiousDiseaseControlStrategies" type="tns:InfectiousDiseaseControlStrategy"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="populationInfectionAndImmunityCensuses"
						type="tns:PopulationInfectionAndImmunityCensus" maxOccurs="unbounded"
						minOccurs="1" />
					<element name="populationTreatmentCensuses" type="tns:PopulationTreatmentCensus"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="contaminatedThingCensuses" type="tns:ContaminatedThingCensus"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="subLocationInfectiousDiseaseScenarios" type="tns:SubLocationInfectiousDiseaseScenario"
						maxOccurs="unbounded" minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="SubLocationInfectiousDiseaseScenario">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="subLocation" type="tns:Location" maxOccurs="1"
						minOccurs="1" />
					<element name="infections" type="tns:Infection" maxOccurs="unbounded"
						minOccurs="1" />
					<element name="diseases" type="tns:InfectiousDisease"
						maxOccurs="unbounded" minOccurs="1" />
					<element name="contaminations" type="tns:Contamination"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="treatments" type="tns:Treatment" maxOccurs="unbounded"
						minOccurs="0" />
					<element name="infectiousDiseaseControlStrategies" type="tns:InfectiousDiseaseControlStrategy"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="populationInfectionAndImmunityCensuses"
						type="tns:PopulationInfectionAndImmunityCensus" maxOccurs="unbounded"
						minOccurs="1" />
					<element name="populationTreatmentCensuses" type="tns:PopulationTreatmentCensus"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="contaminatedThingCensuses" type="tns:ContaminatedThingCensus"
						maxOccurs="unbounded" minOccurs="0" />
					<element name="sublocationScenarios" type="tns:SubLocationInfectiousDiseaseScenario"
						maxOccurs="unbounded" minOccurs="0"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="CompartmentalModelPopulationAndEnvironmentCensus">
		<sequence>
			<element name="bioticEcosystemParts" type="tns:PopulationInfectionAndImmunityCensusData"
				maxOccurs="unbounded" minOccurs="1" />
			<element name="abioticEcosystemParts" type="tns:abioticEcosystemPartCensus"
				maxOccurs="unbounded" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="PopulationTreatmentCensus">
		<complexContent>
			<extension base="tns:Census">
				<sequence>
					<element name="populationSpecies" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />
					<element name="treatment" type="tns:Treatment" maxOccurs="1"
						minOccurs="1" />
					<element name="treatmentCensusData" type="tns:PopulationTreatmentCensusData"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ContaminationAcquisition">
		<sequence>
			<element name="abioticEcosystemElement" type="tns:AbioticEcosystemEnum"
				maxOccurs="1" minOccurs="1" />
			<element name="pathogenTaxonID" type="tns:ApolloPathogenCode"
				maxOccurs="1" minOccurs="1" />
			<choice>
				<element name="infectiousHostSource" type="tns:NcbiTaxonId"
					maxOccurs="1" minOccurs="1" />
				<element name="contaminatedSource" type="token" maxOccurs="1"
					minOccurs="1" />
			</choice>
			<element name="contaminationProbability" type="tns:ProbabilisticParameter"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>



	<complexType name="PopulationCensusDescription">
		<sequence>
			<element name="populationSpecies" type="tns:NcbiTaxonId"
				maxOccurs="1" minOccurs="1" />
			<element name="characteristics" type="token" maxOccurs="unbounded"
				minOccurs="0" />
			<element name="locations" type="tns:Location" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="AbioticEcosystemElementCensusDescription">
		<sequence>
			<element name="abioticElementID" type="token" maxOccurs="1"
				minOccurs="1" />
			<element name="characteristics" type="token" maxOccurs="unbounded"
				minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="ContaminatedThingCensus">
		<complexContent>
			<extension base="tns:Census">
				<sequence>
					<element name="kindOfThing" type="tns:AbioticEcosystemEnum"
						maxOccurs="1" minOccurs="1"></element>
					<element name="pathogen" type="tns:ApolloPathogenCode"
						maxOccurs="1" minOccurs="1" />
					<element name="censusData" type="tns:ContaminatedThingCensusData"
						maxOccurs="1" minOccurs="1" />
				</sequence>

			</extension>
		</complexContent>
	</complexType>

	<complexType name="ContaminatedThingCensusData">
		<complexContent>
			<extension base="tns:CensusData">
				<sequence>
					<element name="fractionContaminated" type="tns:Fraction"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="exceptionSublocations" type="tns:ContaminatedThingCensusData"
						maxOccurs="unbounded" minOccurs="0">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ContaminatedThingCensusDataCell">
		<sequence>
			<element name="ageRange" type="tns:AgeRangeCategory"
				maxOccurs="1" minOccurs="0">
			</element>
			<element name="gender" type="tns:Gender" maxOccurs="1"
				minOccurs="0">
			</element>
			<element name="fractionContaminated" type="tns:Fraction"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="abioticEcosystemPartCensus">
		<sequence>
			<element name="abioticEcosystemElementID" type="token"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="PopulationAndEnvironmentCensus">
		<complexContent>
			<extension base="tns:Census">
				<sequence>
					<element name="nameOfAdministativeUnit" type="token"
						maxOccurs="1" minOccurs="0" />
					<element name="numberOfPeople" type="integer" maxOccurs="1"
						minOccurs="1" />
					<element name="numberOfSchools" type="integer" maxOccurs="1"
						minOccurs="1" />
					<element name="numberOfWorkplaces" type="integer"
						maxOccurs="1" minOccurs="1" />
					<element name="subLocationCensuses" type="tns:PopulationAndEnvironmentCensus"
						maxOccurs="unbounded" minOccurs="0" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="InfectiousDisease">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="diseaseID" type="token" maxOccurs="1"
						minOccurs="1" />
					<element name="speciesWithDisease" type="tns:NcbiTaxonId"
						maxOccurs="1" minOccurs="1" />
					<element name="causalPathogen" type="tns:ApolloPathogenCode"
						maxOccurs="1" minOccurs="1" />
					<element name="diseaseOutcomes" type="tns:DiseaseOutcomeAndProbability"
						maxOccurs="unbounded" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="FractionOfThingContaminated">
		<sequence>
			<element name="abioticEcosystemElement" type="tns:AbioticEcosystemEnum"
				maxOccurs="1" minOccurs="1" />
			<element name="fraction" type="tns:Fraction" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="ApolloPathogenCode">
		<sequence>
			<element name="ncbiTaxonId" type="tns:NcbiTaxonId" maxOccurs="1"
				minOccurs="1" />
			<element name="cladeName" type="token" maxOccurs="1"
				minOccurs="0" />
		</sequence>
	</complexType>


	<simpleType name="NcbiTaxonId">
		<restriction base="token">
			<pattern value="[0-9]"></pattern>
		</restriction>
	</simpleType>

	<simpleType name="vaccineOntologyId">
		<restriction base="token">
			<pattern value="[A-Z_0-9]{2,17}"></pattern>
		</restriction>
	</simpleType>

	<complexType name="ProbabilityValuePair">
		<sequence>
			<element name="value" type="double" maxOccurs="1" minOccurs="1" />
			<element name="probability" type="tns:Probability" maxOccurs="1"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="ProbabilityDistribution" />
	<complexType name="UnconditionalProbabilityDistribution">
		<complexContent>
			<extension base="tns:ProbabilityDistribution" />
		</complexContent>
	</complexType>

	<complexType name="NonparametricDiscreteProbabilityDistribution">
		<complexContent>
			<extension base="tns:UnconditionalProbabilityDistribution" />
		</complexContent>
	</complexType>

	<complexType name="ParametricProbabilityDistribution">
		<complexContent>
			<extension base="tns:UnconditionalProbabilityDistribution" />
		</complexContent>
	</complexType>

	<complexType name="DiscreteParametricProbabilityDistribution">
		<complexContent>
			<extension base="tns:ParametricProbabilityDistribution" />
		</complexContent>
	</complexType>

	<complexType name="ContinuousParametricProbabilityDistribution">
		<complexContent>
			<extension base="tns:ParametricProbabilityDistribution" />
		</complexContent>
	</complexType>

	<complexType name="LogNormalDistribution">
		<complexContent>
			<extension base="tns:ContinuousParametricProbabilityDistribution">
				<sequence>
					<element name="mean" type="double" maxOccurs="1" minOccurs="1" />
					<element name="standardDeviation" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="shiftRight" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="cutTailAt" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="GammaDistribution">
		<complexContent>
			<extension base="tns:ContinuousParametricProbabilityDistribution">
				<sequence>
					<element name="k-shape" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="theta-scale" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="shiftRight" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="cutTailAt" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="WeibullDistribution">
		<complexContent>
			<extension base="tns:ContinuousParametricProbabilityDistribution">
				<sequence>
					<element name="k-shape" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="lambda-scale" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="shiftRight" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1" />
					<element name="cutTailAt" type="tns:PositiveDouble"
						maxOccurs="1" minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ContinuousUniformDistribution">
		<complexContent>
			<extension base="tns:ContinuousParametricProbabilityDistribution">
				<sequence>
					<element name="minimumValue" type="double" maxOccurs="1"
						minOccurs="1" />
					<element name="maximumValue" type="double" maxOccurs="1"
						minOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="ConditionalProbabilityDistribution">
		<sequence>
			<element name="firstConditioningVariable" type="tns:ConditioningVariable"
				maxOccurs="1" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="ConditioningVariable">
		<sequence>
			<element name="name" type="tns:ConditioningVariableEnum"
				maxOccurs="1" minOccurs="1" />
			<element name="categories" type="tns:Category" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="Category">
		<sequence>
			<element name="categoryDefinition" type="tns:CategoryDefinition"
				maxOccurs="1" minOccurs="1" />
			<choice>
				<element name="unconditionalProbabilityDistribution" type="tns:UnconditionalProbabilityDistribution"
					maxOccurs="1" minOccurs="1" />
				<element name="conditioningVariable" type="tns:ConditioningVariable"
					maxOccurs="1" minOccurs="1" />
			</choice>
		</sequence>
	</complexType>

	<complexType name="VariableCategory">
		<sequence>
			<element name="categories" type="tns:CategoryDefinition"
				maxOccurs="unbounded" minOccurs="1" />
		</sequence>
	</complexType>


	<complexType name="CategoryDefinition" />

	<simpleType name="AbioticEcosystemEnum">
		<restriction base="string">
			<enumeration value="preschool" />
			<enumeration value="primarySchool" />
			<enumeration value="secondarySchool" />
			<enumeration value="workplace" />
			<enumeration value="pigFarm" />
			<enumeration value="chickenFarm" />
			<enumeration value="household" />
			<enumeration value="community" />
		</restriction>
	</simpleType>

	<simpleType name="ConditioningVariableEnum">
		<restriction base="string">
			<enumeration value="biologicalSex" />
			<enumeration value="gender" />
			<enumeration value="ageRange" />
			<enumeration value="timeSpan" />
		</restriction>
	</simpleType>

	<simpleType name="ApolloIndexableItemTypeEnum">
		<restriction base="string">
			<enumeration value="infectionType" />
			<enumeration value="infectionAcquisitionType" />
			<enumeration value="infectionDiseaseType" />
			<enumeration value="infectiousDiseaseControlStrategyType" />
			<enumeration value="infectiousDiseaseScenarioType" />
			<enumeration value="contaminationType" />
			<enumeration value="contaminatedThingCensusType" />
			<enumeration value="populationAndEnvironmentCensusType" />
			<enumeration value="populationInfectionImmunityCensusType" />
			<enumeration value="populationTreatmentCensusType" />
			<enumeration value="vaccinationType" />
			<enumeration value="antiviralTreatmentType" />
		</restriction>
	</simpleType>

	<simpleType name="UnitOfMeasure">
		<restriction base="string">
			<enumeration value="dollars" />
			<enumeration value="euros" />
			<enumeration value="weight_in_pounds" />
			<enumeration value="weight_in_kilograms" />
			<enumeration value="seconds" />
			<enumeration value="minutes" />
			<enumeration value="hours" />
			<enumeration value="days" />
			<enumeration value="weeks" />
			<enumeration value="months" />
			<enumeration value="years" />
			<enumeration value="percent" />
			<enumeration value="meters" />
			<enumeration value="inches" />
			<enumeration value="miles" />
		</restriction>
	</simpleType>

	<complexType name="DiseaseOutcomeAndProbability">
		<sequence>
			<element name="diseaseOutcome" type="tns:DiseaseOutcome"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="probability" type="tns:ProbabilisticParameter"
				maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="ImperialReproductionNumber">
		<sequence>
			<element name="averageCommunityImperialReproductionNumber"
				type="tns:PositiveDouble" maxOccurs="1" minOccurs="1">
			</element>
			<element name="averageHouseholdImperialReproductionNumber"
				type="tns:PositiveDouble" maxOccurs="1" minOccurs="1">
			</element>
			<element name="imperialReproductionNumberForPlace" type="tns:ImperialReproductionNumberForPlace"
				maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="seasonalityFunctionParameters" type="tns:SeasonalityFunctionParameters"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="probSymptomaticInfectionClinicallyDetected"
				type="tns:Probability" maxOccurs="1" minOccurs="1"></element>
			<element name="symptomaticInfectionMultiplier" type="tns:PositiveDouble"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="probSevereInfectionClinicallyDetected" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="severeInfectionMultiplier" type="tns:PositiveDouble"
				maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="ImperialReproductionNumberForPlace">
		<sequence>
			<element name="placeType" type="tns:FacilityEnum" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="averageImperialReproductionNumber" type="tns:PositiveDouble"
				maxOccurs="1" minOccurs="1"></element>
			<element name="withinGroupTransmissionProbability" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="probSymptomaticIndividualAbsent" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="symptomaticAbsenteeMultiplier" type="tns:PositiveDouble"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="probSeverelyInfectedIndividualAbsent" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="severelyInfectedAbsenteeMultiplier" type="tns:PositiveDouble"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="spatialKernelFunctionParameters" type="tns:SpatialKernelFunctionParameters"
				maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="SeasonalityFunctionParameters">
		<sequence>
			<element name="maximumSeasonalLatitude" type="double"
				maxOccurs="1" minOccurs="1"></element>
			<element name="minimumSeasonalLatitude" type="double"
				maxOccurs="1" minOccurs="1"></element>
			<element name="seasonalTemporalOffset" type="double"
				maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="SpatialKernelFunctionParameters">
		<sequence>
			<element name="type" type="token" maxOccurs="1" minOccurs="1"></element>
			<element name="a0" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="a1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="b0" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="b1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="c1" type="double" maxOccurs="1" minOccurs="1"></element>
			<element name="cutoff" type="double" maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="GetScenarioLocationCodesSupportedBySimulatorResult">
		<sequence>
			<element name="methodCallStatus" type="tns:MethodCallStatus"
				maxOccurs="1" minOccurs="1"></element>
			<element name="locationCodes" type="tns:ApolloLocationCode"
				maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="GetPopulationAndEnvironmentCensusResult">
		<sequence>
			<element name="methodCallStatus" type="tns:MethodCallStatus"
				maxOccurs="1" minOccurs="1"></element>
			<element name="populationAndEnvironmentCensus" type="tns:PopulationAndEnvironmentCensus"
				maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="GetConfigurationFileForSimulationResult">
		<sequence>
			<element name="methodCallStatus" type="tns:MethodCallStatus"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="configurationFile" type="string" maxOccurs="1"
				minOccurs="0"></element>
			<element name="configurationFileInHtmlFormat" type="string"
				maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="AddLibraryItemResult">
		<sequence>
			<element name="methodCallStatus" type="tns:MethodCallStatus"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="uuid" type="token" maxOccurs="1" minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="GetLibraryItemResult">
		<sequence>
			<element name="methodCallStatus" type="tns:MethodCallStatus"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="curatedLibraryItemContainer" type="tns:CuratedLibraryItemContainer"
				maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="GetLibraryItemUuidsResult">
		<sequence>
			<element name="methodCallStatus" type="tns:MethodCallStatus"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="Uuids" type="token" maxOccurs="unbounded"
				minOccurs="0"></element>
		</sequence>
	</complexType>

	<complexType name="Location">
		<sequence>
			<choice>
				<element name="locationCode" type="tns:ApolloLocationCode"
					maxOccurs="1" minOccurs="1">
				</element>
				<element name="locationDefinition" type="tns:LocationDefinition"
					maxOccurs="1" minOccurs="1">
				</element>
			</choice>
		</sequence>
	</complexType>

	<complexType name="CensusData">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="date" type="dateTime" maxOccurs="1"
						minOccurs="0"></element>
					<element name="location" type="tns:Location" maxOccurs="1"
						minOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="Census">
		<complexContent>
			<extension base="tns:ApolloIndexableItem">
				<sequence>
					<element name="description" type="string" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="location" type="tns:Location" maxOccurs="1"
						minOccurs="1">
					</element>
					<element name="simulatorTime" type="int" maxOccurs="1"
						minOccurs="1"></element>
					<element name="referenceDate" type="dateTime" maxOccurs="1"
						minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="RunSyntheticPopulationGenerationMessage"></complexType>

	<complexType name="TransmissionProbability">
		<sequence>
			<element name="contactDefinition" type="string" maxOccurs="1"
				minOccurs="0"></element>
			<choice>
				<element name="probabililty" type="tns:Probability"
					maxOccurs="1" minOccurs="1">
				</element>
				<element name="probabilityDistribution" type="tns:ProbabilityDistribution"
					maxOccurs="1" minOccurs="1">
				</element>
			</choice>
		</sequence>
	</complexType>

	<complexType name="TransmissionCoefficient">
		<sequence>
			<element name="unitOfTime" type="tns:UnitOfTime" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="overallTC" type="string"></element>
			<element name="NewElement" type="string"></element>
		</sequence>
	</complexType>

	<complexType name="Population">
		<sequence>
			<element name="speciesId" type="tns:NcbiTaxonId" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="census" type="tns:PopulationAndEnvironmentCensus"
				maxOccurs="1" minOccurs="1"></element>
		</sequence>
	</complexType>

	<complexType name="FacilityClosureControlStrategy">
		<complexContent>
			<extension base="tns:InfectiousDiseaseControlStrategy">
				<sequence>
					<element name="closureDuration" type="tns:Duration"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="householdTransmissionMultiplier" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="communityTransmissionMultiplier" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1"></element>
					<element name="schoolClosureTargetFacilities" type="tns:SchoolClosureTargetFacilities"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="CaseQuarantineStrategy">
		<complexContent>
			<extension base="tns:InfectiousDiseaseControlStrategy">
				<sequence>
					<element name="durationOfQuarantine" type="tns:Duration"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="homeTransmissionMultiplier" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="schoolTransmissionMultiplier" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="workplaceTransmissionMultiplier" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="BorderControlStrategy">
		<complexContent>
			<extension base="tns:InfectiousDiseaseControlStrategy">
				<sequence>
					<element name="probabilityEntryDenied" type="tns:Probability"
						maxOccurs="1" minOccurs="1">
					</element>
					<element name="probabilityExitDenied" type="tns:Probability"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="TravelRestrictionControlStrategy">
		<complexContent>
			<extension base="tns:InfectiousDiseaseControlStrategy">
				<sequence>
					<element name="maximumTravelDistance-km" type="tns:NonNegativeDouble"
						maxOccurs="1" minOccurs="1">
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="DiseaseSurveillanceCapability">
		<sequence>
			<element name="location" type="tns:Location" maxOccurs="1"
				minOccurs="1">
			</element>
			<element name="pathogen" type="tns:ApolloPathogenCode"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="speciesOfCase" type="tns:NcbiTaxonId"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="caseDefinition" type="tns:DiseaseOutcome"
				maxOccurs="1" minOccurs="1"></element>
			<element name="sensitivityOfCaseDetection" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="specificityOfCaseDetection" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="delayToDetectionOfCase" type="tns:Duration"
				maxOccurs="1" minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="TreatmentSystemLogistics">
		<sequence>
			<element name="description" type="string" maxOccurs="1"
				minOccurs="0"></element>
			<element name="location" type="tns:Location" maxOccurs="1"
				minOccurs="1">
			</element>
			
			<element name="supplySchedule-perDay"
				type="nonNegativeInteger" maxOccurs="unbounded" minOccurs="0">
			</element>
			<element name="administrationCapacity-perDay"
				type="nonNegativeInteger" maxOccurs="unbounded" minOccurs="0">
			</element>
		</sequence>
	</complexType>
</schema>