apollo-ws/service-skeletons/java/trunk/src/main/resources/syntheticpopulationservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="http://service.apollo.pitt.edu/syntheticpopulationservice/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="http://service.apollo.pitt.edu/syntheticpopulationservice/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>

		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://service.apollo.pitt.edu/syntheticpopulationservice/"
			xmlns:apollo="http://types.apollo.pitt.edu/">

			<!-- <xsd:import schemaLocation="http://research.rods.pitt.edu/apollo-types2.xsd" 
				namespace="http://types.apollo.pitt.edu/"></xsd:import> -->

			<xsd:import schemaLocation="apollo-types.xsd" namespace="http://types.apollo.pitt.edu/"></xsd:import>

			<xsd:element name="run">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="syntheticPopulationConfiguration"
							type="apollo:SyntheticPopulationConfiguration"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="serviceResult" type="apollo:ServiceResult"
							maxOccurs="unbounded" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatus">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="runId" type="apollo:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatusResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="runStatus" type="apollo:RunStatus"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForRun">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="runIdentification" type="apollo:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForRunResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="configurationFile" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>


	<wsdl:message name="runRequest">
		<wsdl:part name="parameters" element="tns:run"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runResponse">
		<wsdl:part name="parameters" element="tns:runResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForRunRequest">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForRun"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForRunResponse">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForRunResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SyntheticPopulationServiceEI">		<wsdl:operation name="run">
			<wsdl:input message="tns:runRequest"></wsdl:input>
			<wsdl:output message="tns:runResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<wsdl:input message="tns:getRunStatusRequest"></wsdl:input>
			<wsdl:output message="tns:getRunStatusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfigurationFileForRun">
			<wsdl:input message="tns:getConfigurationFileForRunRequest"></wsdl:input>
			<wsdl:output message="tns:getConfigurationFileForRunResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SyntheticPopulationServiceBinding"
		type="tns:SyntheticPopulationServiceEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="run">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/syntheticpopulationservice/run" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/syntheticpopulationservice/getRunStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="SyntheticPopulationService">
		<wsdl:port name="SyntheticPopulationServiceEndpoint"
			binding="tns:SyntheticPopulationServiceBinding">
			<!-- <soap:address location="http://synthiastage.rti.org/Account/synthia-WS.asmx" /> -->
			<soap:address location="http://localhost:8080/syntheticpopulationservice/services/syntheticpopulationservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>