apollo-ws/service-skeletons/java/trunk/src/main/resources/visualizerservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/visualizerservice/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="VisualizerService" targetNamespace="http://service.apollo.pitt.edu/visualizerservice/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/visualizerservice/"
			xmlns:apollo="http://types.apollo.pitt.edu/">
			<xsd:import schemaLocation="apollo-types.xsd" namespace="http://types.apollo.pitt.edu/">
			</xsd:import>
			<xsd:element name="run">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="visualizerConfiguration" type="apollo:VisualizerConfiguration" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="visualizerResult" type="apollo:VisualizerResult" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatus">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatusResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runStatus" type="apollo:RunStatus"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForRun">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runIdentification" type="apollo:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForRunResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="configurationFile" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="runRequest">
		<wsdl:part element="tns:run" name="parameters" />
	</wsdl:message>
	<wsdl:message name="runResponse">
		<wsdl:part element="tns:runResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForRunRequest">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForRun"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForRunResponse">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForRunResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="VisualizerServiceEI">
		<wsdl:operation name="run">
			<wsdl:input message="tns:runRequest" />
			<wsdl:output message="tns:runResponse" />
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<wsdl:input message="tns:getRunStatusRequest"></wsdl:input>
			<wsdl:output message="tns:getRunStatusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfigurationFileForRun">
			<wsdl:input message="tns:getConfigurationFileForRunRequest"></wsdl:input>
			<wsdl:output message="tns:getConfigurationFileForRunResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="VisualizerServiceBinding" type="tns:VisualizerServiceEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="run">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/visualizerservice/run" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/visualizerservice/getRunStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VisualizerService">
		<wsdl:port binding="tns:VisualizerServiceBinding" name="VisualizerServiceEndpoint">
			<soap:address
				location="http://localhost:8080/visualizerservice/services/visualizerservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
