apollo-ws/service-skeletons/java/trunk/src/main/resources/visualizerservice201.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/visualizerservice/v2_0_1/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="VisualizerService_v2.0.1" targetNamespace="http://service.apollo.pitt.edu/visualizerservice/v2_0_1/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/visualizerservice/v2_0_1/"
			xmlns:apollo="http://types.apollo.pitt.edu/v2_0_1/">
			<xsd:import schemaLocation="apollo-types_2.0.1.xsd" namespace="http://types.apollo.pitt.edu/v2_0_1/">
			</xsd:import>
			<xsd:element name="runVisualization">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runVisualizationMessage" type="apollo:RunVisualizationMessage" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runVisualizationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="visualizationResult" type="apollo:VisualizerResult" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatus">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatusResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runStatus" type="apollo:MethodCallStatus"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="runVisualizationRequest">
		<wsdl:part element="tns:runVisualization" name="parameters" />
	</wsdl:message>
	<wsdl:message name="runVisualizationResponse">
		<wsdl:part element="tns:runVisualizationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForRunRequest">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForRun"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForRunResponse">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForRunResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="VisualizerServiceEI">
		<wsdl:operation name="runVisualization">
			<wsdl:input message="tns:runVisualizationRequest" />
			<wsdl:output message="tns:runVisualizationResponse" />
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<wsdl:input message="tns:getRunStatusRequest"></wsdl:input>
			<wsdl:output message="tns:getRunStatusResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="VisualizerServiceBinding"
		type="tns:VisualizerServiceEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="runVisualization">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/visualizerservice/v2_0_1/runVisualization" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/visualizerservice/v2_0_1/getRunStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="VisualizerService_v2.0.1">
		<wsdl:port binding="tns:VisualizerServiceBinding" name="VisualizerServiceEndpoint">
			<soap:address
				location="http://localhost:8080/visualizerservice201/services/visualizerservice" />
		</wsdl:port>
		
	</wsdl:service>
</wsdl:definitions>
