apollo-ws/service-skeletons/java/branches/works with alv v1.1/src/main/resources/apolloservice202.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/apolloservice/v2_0_2/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="ApolloService_v2.0.2" targetNamespace="http://service.apollo.pitt.edu/apolloservice/v2_0_2/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/apolloservice/v2_0_2/" xmlns:apollo="http://types.apollo.pitt.edu/v2_0_2/">
			<xsd:import schemaLocation="apollo-types_2.0.2.xsd" namespace="http://types.apollo.pitt.edu/v2_0_2/">
			</xsd:import>
			<xsd:element name="runSimulation">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runSimulationMessage" type="apollo:RunSimulationMessage" />
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="runSimulationResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulationResult" type="apollo:RunResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="runVisualization">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runVisualizationMessage" type="apollo:RunVisualizationMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="runVisualizationResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="visualizationResult" type="apollo:RunResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="runSyntheticPopulationGeneration">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runSyntheticPopulationGenerationMessage" type="apollo:RunSyntheticPopulationGenerationMessage"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="runSyntheticPopulationGenerationResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="syntheticPopulationGenerationResult" type="apollo:SyntheticPopulationGenerationResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getRunStatus">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runIdentification" type="apollo:RunIdentification">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getRunStatusResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runStatus" type="apollo:MethodCallStatus"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="registerService">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceRegistrationRecord" type="apollo:ServiceRegistrationRecord"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="registerServiceResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="methodCallStatus" type="apollo:MethodCallStatus">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="unRegisterService">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceRegistrationRecord" type="apollo:ServiceRegistrationRecord"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="unRegisterServiceResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="methodCallStatus" type="apollo:MethodCallStatus">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getRegisteredServices">
				
                <xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getRegisteredServicesResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="serviceRecords" type="apollo:ServiceRecord" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="runSimulations">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runSimulationsMessage" type="apollo:RunSimulationsMessage"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="runSimulationsResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runSimulationsResult" type="apollo:RunSimulationsResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getConfigurationFileForSimulation">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runIdentification" type="apollo:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getConfigurationFileForSimulationResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getConfigurationFileForSimulationResult" type="apollo:GetConfigurationFileForSimulationResult">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>

			<xsd:element name="getUuidsForLibraryItemsCreatedSinceDateTime">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="creationDateTime" type="xsd:dateTime" maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getUuidsForLibraryItemsCreatedSinceDateTimeResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getLibraryItemsResult" type="apollo:GetLibraryItemUuidsResult" maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getLibraryItem">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="uuid" type="xsd:token"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getLibraryItemResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getLibraryItemResult" type="apollo:GetLibraryItemResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getUuidsForLibraryItemsGivenType">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="type" type="xsd:token"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getUuidsForLibraryItemsGivenTypeResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getLibraryItemsResult" type="apollo:GetLibraryItemUuidsResult" maxOccurs="1" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="addLibraryItem">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="authentication" type="apollo:Authentication">
						</xsd:element>
						<xsd:element name="apolloIndexableItem" type="apollo:ApolloIndexableItem">
						</xsd:element>
						<xsd:element name="itemDescription" type="xsd:string">
						</xsd:element>
						<xsd:element name="itemSource" type="xsd:string">
						</xsd:element>
						<xsd:element name="itemType" type="xsd:token">
						</xsd:element>
						<xsd:element name="itemIndexingLabels" type="xsd:token" maxOccurs="unbounded" minOccurs="0">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="addLibraryItemResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="addLibraryItemResult" type="apollo:AddLibraryItemResult" maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getPopulationAndEnvironmentCensus">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulatorIdentification" type="apollo:SoftwareIdentification"></xsd:element>
						<xsd:element name="location" type="apollo:ApolloLocationCode"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getPopulationAndEnvironmentCensusResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getPopulationAndEnvironmentCensusResult" type="apollo:GetPopulationAndEnvironmentCensusResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getScenarioLocationCodesSupportedBySimulator">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulatorIdentification" type="apollo:SoftwareIdentification">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getScenarioLocationCodesSupportedBySimulatorResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getLocationsSupportedBySimulatorResult" type="apollo:GetScenarioLocationCodesSupportedBySimulatorResult" maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="removeLibraryItem">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="authentication" type="apollo:Authentication">
						</xsd:element>
						<xsd:element name="uuid" type="xsd:token">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="removeLibraryItemResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="methodCallStatus" type="apollo:MethodCallStatus"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>

			<xsd:element name="getVisualizerOutputResources">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runIdentification" type="apollo:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="getVisualizerOutputResourcesResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getVisualizerOutputResourcesResult" type="apollo:GetVisualizerOutputResourcesResult" maxOccurs="1" minOccurs="1"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="terminateRun">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="terminateRunRequest" type="apollo:TerminateRunRequest"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
			<xsd:element name="terminateRunResponse">
				
                <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="terminateRunResult" type="apollo:TerminteRunResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
            </xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="runSimulationRequest">
		<wsdl:part element="tns:runSimulation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="runSimulationResponse">
		<wsdl:part element="tns:runSimulationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="registerServiceRequest">
		<wsdl:part name="parameters" element="tns:registerService"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerServiceResponse">
		<wsdl:part name="parameters" element="tns:registerServiceResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="unRegisterServiceRequest">
		<wsdl:part name="parameters" element="tns:unRegisterService"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="unRegisterServiceResponse">
		<wsdl:part name="parameters" element="tns:unRegisterServiceResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRegisteredServicesRequest">
		<wsdl:part name="parameters" element="tns:getRegisteredServices"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRegisteredServicesResponse">
		<wsdl:part name="parameters" element="tns:getRegisteredServicesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runVisualizationRequest">
		<wsdl:part name="parameters" element="tns:runVisualization"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runVisualizationResponse">
		<wsdl:part name="parameters" element="tns:runVisualizationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runSimulationsRequest">
		<wsdl:part name="parameters" element="tns:runSimulations"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runSimulationsResponse">
		<wsdl:part name="parameters" element="tns:runSimulationsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runSyntheticPopulationGenerationRequest">
		<wsdl:part name="parameters" element="tns:runSyntheticPopulationGeneration"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runSyntheticPopulationGenerationResponse">
		<wsdl:part name="parameters"
			element="tns:runSyntheticPopulationGenerationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForSimulationRequest">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForSimulation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForSimulationResponse">
		<wsdl:part name="parameters"
			element="tns:getConfigurationFileForSimulationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryForDiseaseConfigurationRequest">
		<wsdl:part name="parameters" element="tns:queryForDiseaseConfiguration"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryForDiseaseConfigurationResponse">
		<wsdl:part name="parameters" element="tns:queryForDiseaseConfigurationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getItemsReadyToBeIndexedRequest">
		<wsdl:part name="parameters" element="tns:getItemsReadyToBeIndexed"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getItemsReadyToBeIndexedResponse">
		<wsdl:part name="parameters" element="tns:getItemsReadyToBeIndexedResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUuidsForLibraryItemsCreatedSinceDateTImeRequest">
		<wsdl:part name="parameters"
			element="tns:getUuidsForLibraryItemsCreatedSinceDateTIme"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUuidsForLibraryItemsCreatedSinceDateTImeResponse">
		<wsdl:part name="parameters"
			element="tns:getUuidsForLibraryItemsCreatedSinceDateTImeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUuidsForLibraryItemsCreatedSinceDateTimeRequest">
		<wsdl:part name="parameters"
			element="tns:getUuidsForLibraryItemsCreatedSinceDateTime"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUuidsForLibraryItemsCreatedSinceDateTimeResponse">
		<wsdl:part name="parameters"
			element="tns:getUuidsForLibraryItemsCreatedSinceDateTimeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:getLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemResponse">
		<wsdl:part name="parameters" element="tns:getLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemsGivenTypeRequest">
		<wsdl:part name="parameters" element="tns:getLibraryItemsGivenType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLibraryItemsGivenTypeResponse">
		<wsdl:part name="parameters" element="tns:getLibraryItemsGivenTypeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUuidsForLibraryItemsGivenTypeRequest">
		<wsdl:part name="parameters" element="tns:getUuidsForLibraryItemsGivenType"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getUuidsForLibraryItemsGivenTypeResponse">
		<wsdl:part name="parameters"
			element="tns:getUuidsForLibraryItemsGivenTypeResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:addLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="addLibraryItemResponse">
		<wsdl:part name="parameters" element="tns:addLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPopulationAndEnvironmentCensusRequest">
		<wsdl:part name="parameters" element="tns:getPopulationAndEnvironmentCensus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPopulationAndEnvironmentCensusResponse">
		<wsdl:part name="parameters"
			element="tns:getPopulationAndEnvironmentCensusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getScenarioLocationCodesSupportedBySimulatorRequest">
		<wsdl:part name="parameters" element="tns:getScenarioLocationCodesSupportedBySimulator"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getScenarioLocationCodesSupportedBySimulatorResponse">
		<wsdl:part name="parameters"
			element="tns:getScenarioLocationCodesSupportedBySimulatorResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeLibraryItemRequest">
		<wsdl:part name="parameters" element="tns:removeLibraryItem"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeLibraryItemResponse">
		<wsdl:part name="parameters" element="tns:removeLibraryItemResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVisualizerOutputResourcesRequest">
		<wsdl:part name="parameters" element="tns:getVisualizerOutputResources"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVisualizerOutputResourcesResponse">
		<wsdl:part name="parameters" element="tns:getVisualizerOutputResourcesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="terminateRunRequest">
		<wsdl:part name="parameters" element="tns:terminateRun"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="terminateRunResponse">
		<wsdl:part name="parameters" element="tns:terminateRunResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ApolloServiceEI">
		<wsdl:operation name="runSimulation">
			<wsdl:input message="tns:runSimulationRequest" />
			<wsdl:output message="tns:runSimulationResponse" />
		</wsdl:operation>
		<wsdl:operation name="runSimulations">
			<wsdl:input message="tns:runSimulationsRequest"></wsdl:input>
			<wsdl:output message="tns:runSimulationsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runVisualization">
			<wsdl:input message="tns:runVisualizationRequest"></wsdl:input>
			<wsdl:output message="tns:runVisualizationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runSyntheticPopulationGeneration">
			<wsdl:input message="tns:runSyntheticPopulationGenerationRequest"></wsdl:input>
			<wsdl:output message="tns:runSyntheticPopulationGenerationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<wsdl:input message="tns:getRunStatusRequest"></wsdl:input>
			<wsdl:output message="tns:getRunStatusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfigurationFileForSimulation">
			<wsdl:input message="tns:getConfigurationFileForSimulationRequest"></wsdl:input>
			<wsdl:output message="tns:getConfigurationFileForSimulationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPopulationAndEnvironmentCensus">
			<wsdl:input message="tns:getPopulationAndEnvironmentCensusRequest"></wsdl:input>
			<wsdl:output message="tns:getPopulationAndEnvironmentCensusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getScenarioLocationCodesSupportedBySimulator">
			<wsdl:input message="tns:getScenarioLocationCodesSupportedBySimulatorRequest"></wsdl:input>
			<wsdl:output message="tns:getScenarioLocationCodesSupportedBySimulatorResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addLibraryItem">
			<wsdl:input message="tns:addLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:addLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getLibraryItem">
			<wsdl:input message="tns:getLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:getLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeLibraryItem">
			<wsdl:input message="tns:removeLibraryItemRequest"></wsdl:input>
			<wsdl:output message="tns:removeLibraryItemResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUuidsForLibraryItemsGivenType">
			<wsdl:input message="tns:getUuidsForLibraryItemsGivenTypeRequest"></wsdl:input>
			<wsdl:output message="tns:getUuidsForLibraryItemsGivenTypeResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUuidsForLibraryItemsCreatedSinceDateTime">
			<wsdl:input message="tns:getUuidsForLibraryItemsCreatedSinceDateTimeRequest"></wsdl:input>
			<wsdl:output
				message="tns:getUuidsForLibraryItemsCreatedSinceDateTimeResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerService">
			<wsdl:input message="tns:registerServiceRequest"></wsdl:input>
			<wsdl:output message="tns:registerServiceResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRegisteredServices">
			<wsdl:input message="tns:getRegisteredServicesRequest"></wsdl:input>
			<wsdl:output message="tns:getRegisteredServicesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unRegisterService">
			<wsdl:input message="tns:unRegisterServiceRequest"></wsdl:input>
			<wsdl:output message="tns:unRegisterServiceResponse"></wsdl:output>
		</wsdl:operation>




		<wsdl:operation name="getVisualizerOutputResources">
			<wsdl:input message="tns:getVisualizerOutputResourcesRequest"></wsdl:input>
			<wsdl:output message="tns:getVisualizerOutputResourcesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="terminateRun">
			<wsdl:input message="tns:terminateRunRequest"></wsdl:input>
			<wsdl:output message="tns:terminateRunResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ApolloServiceBinding"
		type="tns:ApolloServiceEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="runSimulations">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/runSimulations" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runVisualization">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/runVisualization" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/getRunStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerService">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/registerService" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unRegisterService">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/unRegisterService" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRegisteredServices">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/getRegisteredServices" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runSimulation">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/runSimulation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runSyntheticPopulationGeneration">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/runSyntheticPopulationGeneration" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfigurationFileForSimulation">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/getConfigurationFileForSimulation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation
			name="getUuidsForLibraryItemsCreatedSinceDateTime">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/getUuidsForLibraryItemsCreatedSinceDateTime" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getLibraryItem">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/getLibraryItem" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getUuidsForLibraryItemsGivenType">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/getUuidsForLibraryItemsGivenType" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addLibraryItem">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/addLibraryItem" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPopulationAndEnvironmentCensus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/getPopulationAndEnvironmentCensus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation
			name="getScenarioLocationCodesSupportedBySimulator">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/getScenarioLocationCodesSupportedBySimulator" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeLibraryItem">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/removeLibraryItem" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVisualizerOutputResources">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/getVisualizerOutputResources" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="terminateRun">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/v2_0_2/terminateRun" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ApolloService_v2.0.2">
		<wsdl:port binding="tns:ApolloServiceBinding" name="ApolloServiceEndpoint">
			<soap:address
				location="http://localhost:8080/apolloservice202/services/apolloservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
