apollo-ws/epidemic-simulator-services/psc-simulator-service/tags/2.0/simulatorservice20.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/simulatorservice/v2_0/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="SimulatorService_v2.0" targetNamespace="http://service.apollo.pitt.edu/simulatorservice/v2_0/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/simulatorservice/v2_0/"
			xmlns:apollo="http://types.apollo.pitt.edu/v2_0/">

			<xsd:import schemaLocation="http://research.rods.pitt.edu/apollo-types_2.0.xsd"
				namespace="http://types.apollo.pitt.edu/v2_0/">
			</xsd:import>
			<xsd:element name="runSimulation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runSimulationMessage" type="apollo:RunSimulationMessage" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runSimulationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunIdentification" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatus">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatusResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runStatus" type="apollo:MethodCallStatus">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getScenarioLocationCodesSupportedBySimulator">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getScenarioLocationCodesSupportedBySimulatorResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getLocationsSupportedBySimulatorResult" type="apollo:GetScenarioLocationCodesSupportedBySimulatorResult"
							maxOccurs="1" minOccurs="1">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runSimulations">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runSimulationsMessage"
							type="apollo:RunSimulationsMessage">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runSimulationsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runSimulationsResult" type="apollo:RunSimulationsResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForSimulation">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigurationFileForSimulationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="configurationFile" type="apollo:GetConfigurationFileForSimulationResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPopulationAndEnvironmentCensus">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="location" type="xsd:token"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPopulationAndEnvironmentCensusResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getPopulationAndEnvironmentCensusResult"
							type="apollo:GetPopulationAndEnvironmentCensusResult"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="runSimulationRequest">
		<wsdl:part element="tns:runSimulation" name="parameters" />
	</wsdl:message>
	<wsdl:message name="runSimulationResponse">
		<wsdl:part element="tns:runSimulationResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getScenarioLocationCodesSupportedBySimulatorRequest">
		<wsdl:part name="parameters" element="tns:getScenarioLocationCodesSupportedBySimulator"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getScenarioLocationCodesSupportedBySimulatorResponse">
		<wsdl:part name="parameters" element="tns:getScenarioLocationCodesSupportedBySimulatorResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runSimulationsRequest">
		<wsdl:part name="parameters" element="tns:runSimulations"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runSimulationsResponse">
		<wsdl:part name="parameters" element="tns:runSimulationsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForSimulationRequest">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForSimulation"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationFileForSimulationResponse">
		<wsdl:part name="parameters" element="tns:getConfigurationFileForSimulationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPopulationAndEnvironmentCensusRequest">
		<wsdl:part name="parameters" element="tns:getPopulationAndEnvironmentCensus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPopulationAndEnvironmentCensusResponse">
		<wsdl:part name="parameters"
			element="tns:getPopulationAndEnvironmentCensusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SimulatorServiceEI">
		<wsdl:operation name="runSimulation">
			<wsdl:input message="tns:runSimulationRequest" />
			<wsdl:output message="tns:runSimulationResponse" />
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<wsdl:input message="tns:getRunStatusRequest"></wsdl:input>
			<wsdl:output message="tns:getRunStatusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getScenarioLocationCodesSupportedBySimulator">
			<wsdl:input message="tns:getScenarioLocationCodesSupportedBySimulatorRequest"></wsdl:input>
			<wsdl:output message="tns:getScenarioLocationCodesSupportedBySimulatorResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runSimulations">
			<wsdl:input message="tns:runSimulationsRequest"></wsdl:input>
			<wsdl:output message="tns:runSimulationsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfigurationFileForSimulation">
			<wsdl:input message="tns:getConfigurationFileForSimulationRequest"></wsdl:input>
			<wsdl:output message="tns:getConfigurationFileForSimulationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPopulationAndEnvironmentCensus">
			<wsdl:input message="tns:getPopulationAndEnvironmentCensusRequest"></wsdl:input>
			<wsdl:output message="tns:getPopulationAndEnvironmentCensusResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SimulatorServiceBinding"
		type="tns:SimulatorServiceEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="runSimulation">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/v2_0/runSimulation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/v2_0/getRunStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation
			name="getScenarioLocationCodesSupportedBySimulator">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/v2_0/getScenarioLocationCodesSupportedBySimulator" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runSimulations">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/v2_0/runSimulations" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfigurationFileForSimulation">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/v2_0/getConfigurationFileForSimulation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPopulationAndEnvironmentCensus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/v2_0/getPopulationAndEnvironmentCensus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SimulatorService_v2.0">
		<wsdl:port binding="tns:SimulatorServiceBinding" name="SimulatorServiceEndpoint">
			<soap:address
				location="http://localhost:8080/simulatorservice20/services/simulatorservice" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
