apollo-ws/schemas/trunk/src/main/resources/apolloserver.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/apolloservice/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="SimulatorService" targetNamespace="http://service.apollo.pitt.edu/apolloservice/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/apolloservice/"
			xmlns:apollo="http://types.apollo.pitt.edu/">
			<xsd:import schemaLocation="main-types.xsd" namespace="http://types.apollo.pitt.edu/"></xsd:import>
			<xsd:element name="run">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulatorConfiguration" type="apollo:SimulatorConfiguration" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunId" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatus">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunId"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatusResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runStatus" type="apollo:RunStatus"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSimulatorDescription">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="description" type="apollo:SimulatorIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSimulatorDescriptionResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="description" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registerSimulator">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registerSimulatorResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="unregisterSimulator">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="unregisterSimulatorResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRegisteredSimulators">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRegisteredSimulatorsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="requestOutputVisualization">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="requestOutputVisualizationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="runRequest">
		<wsdl:part element="tns:run" name="parameters" />
	</wsdl:message>
	<wsdl:message name="runResponse">
		<wsdl:part element="tns:runResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSimulatorDescriptionRequest">
		<wsdl:part name="parameters" element="tns:getSimulatorDescription"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSimulatorDescriptionResponse">
		<wsdl:part name="parameters" element="tns:getSimulatorDescriptionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerSimulatorRequest">
		<wsdl:part name="parameters" element="tns:registerSimulator"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="registerSimulatorResponse">
		<wsdl:part name="parameters" element="tns:registerSimulatorResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="unregisterSimulatorRequest">
		<wsdl:part name="parameters" element="tns:unregisterSimulator"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="unregisterSimulatorResponse">
		<wsdl:part name="parameters" element="tns:unregisterSimulatorResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRegisteredSimulatorsRequest">
		<wsdl:part name="parameters" element="tns:getRegisteredSimulators"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRegisteredSimulatorsResponse">
		<wsdl:part name="parameters" element="tns:getRegisteredSimulatorsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="requestOutputVisualizationRequest">
		<wsdl:part name="parameters" element="tns:requestOutputVisualization"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="requestOutputVisualizationResponse">
		<wsdl:part name="parameters" element="tns:requestOutputVisualizationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ApolloServiceEI">
		<wsdl:operation name="run">
			<wsdl:input message="tns:runRequest" />
			<wsdl:output message="tns:runResponse" />
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<wsdl:input message="tns:getRunStatusRequest"></wsdl:input>
			<wsdl:output message="tns:getRunStatusResponse"></wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="requestOutputVisualization">
			<wsdl:input message="tns:requestOutputVisualizationRequest"></wsdl:input>
			<wsdl:output message="tns:requestOutputVisualizationResponse"></wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getSimulatorDescription">
			<wsdl:input message="tns:getSimulatorDescriptionRequest"></wsdl:input>
			<wsdl:output message="tns:getSimulatorDescriptionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerSimulator">
			<wsdl:input message="tns:registerSimulatorRequest"></wsdl:input>
			<wsdl:output message="tns:registerSimulatorResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unregisterSimulator">
			<wsdl:input message="tns:unregisterSimulatorRequest"></wsdl:input>
			<wsdl:output message="tns:unregisterSimulatorResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRegisteredSimulators">
			<wsdl:input message="tns:getRegisteredSimulatorsRequest"></wsdl:input>
			<wsdl:output message="tns:getRegisteredSimulatorsResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>
	<wsdl:binding name="ApolloServiceBinding"
		type="tns:ApolloServiceEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="run">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/run" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/getRunStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSimulatorDescription">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/getSimulatorDescription" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="requestOutputVisualization">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/requestOutputVisualization" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerSimulator">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/registerSimulator" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="unregisterSimulator">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/unregisterSimulator" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRegisteredSimulators">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/apolloservice/getRegisteredSimulators" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ApolloService">
		<wsdl:port binding="tns:ApolloServiceBinding" name="ApolloServiceEndpoint">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
