apollo-ws/schemas/trunk/src/main/resources/apollo-types.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://types.apollo.pitt.edu/"
	xmlns:tns="http://types.apollo.pitt.edu/" elementFormDefault="qualified">

	<simpleType name="Probability">
		<restriction base="double">
			<minInclusive value="0" />
			<maxInclusive value="1" />
		</restriction>
	</simpleType>

	<complexType name="ProbabilityArray">
		<sequence>
			<element name="value" type="tns:Probability" maxOccurs="unbounded"
				minOccurs="0"></element>
		</sequence>
	</complexType>

	<simpleType name="PositiveDouble">
		<restriction base="double">
			<minExclusive value="0" />
		</restriction>
	</simpleType>

	<simpleType name="NonNegativeDouble">
		<restriction base="double">
			<minInclusive value="0" />
		</restriction>
	</simpleType>

	<simpleType name="TimeStepUnit">
		<restriction base="string">
			<enumeration value="year"></enumeration>
			<enumeration value="month"></enumeration>
			<enumeration value="day"></enumeration>
			<enumeration value="hour"></enumeration>
			<enumeration value="minute"></enumeration>
			<enumeration value="second"></enumeration>
			<enumeration value="millisecond"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="RunStatusEnum">
		<restriction base="string">
			<enumeration value="exiting"></enumeration>
			<enumeration value="held"></enumeration>
			<enumeration value="queued"></enumeration>
			<enumeration value="running"></enumeration>
			<enumeration value="moving"></enumeration>
			<enumeration value="waiting"></enumeration>
			<enumeration value="completed"></enumeration>
			<enumeration value="failed"></enumeration>
			<enumeration value="unauthorized"></enumeration>
			<enumeration value="authentication_failure"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="RunStatus">
		<sequence>
			<element name="status" type="tns:RunStatusEnum"></element>
			<element name="message" type="string"></element>
		</sequence>
	</complexType>

	<simpleType name="AgeRange">
		<restriction base="string">
			<enumeration value="decile0-9"></enumeration>
			<enumeration value="decile10-19"></enumeration>
			<enumeration value="decile20-29"></enumeration>
			<enumeration value="decile30-39"></enumeration>
			<enumeration value="decile40-49"></enumeration>
			<enumeration value="decile50-59"></enumeration>
			<enumeration value="decile60-69"></enumeration>
			<enumeration value="decile70-79"></enumeration>
			<enumeration value="decile80-89"></enumeration>
			<enumeration value="decile90-99"></enumeration>
			<enumeration value="decile100-109"></enumeration>
			<enumeration value="decile110-119"></enumeration>
			<enumeration value="decile120-129"></enumeration>
		</restriction>
	</simpleType>

	<simpleType name="Gender">
		<restriction base="string">
			<enumeration value="M"></enumeration>
			<enumeration value="F"></enumeration>
			<enumeration value="U"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="SupportedPopulationLocation">
		<sequence>
			<element name="populationLocation" type="token"></element>
			<element name="populationLocationDescription" type="token">
			</element>
		</sequence>
	</complexType>

	<complexType name="Authentication">
		<sequence>
			<element name="requesterId" type="token" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/asv/ASV_00000006">
					</documentation>
				</annotation>
			</element>
			<element name="requesterPassword" type="token" maxOccurs="1"
				minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="VisualizationOptions">
		<sequence>
			<element name="runId" type="token"></element>
			<element name="location" type="token"></element>
			<element name="movieFormat" type="tns:MovieFormat"></element>
		</sequence>
	</complexType>

	<simpleType name="MovieFormat">
		<restriction base="string">
			<enumeration value="mov"></enumeration>
			<enumeration value="mp4"></enumeration>
			<enumeration value="mpeg"></enumeration>
		</restriction>
	</simpleType>

	<complexType name="VisualizerIdentification">
		<sequence>
			<element name="visualizerDeveloper" maxOccurs="1" minOccurs="1"
				type="token">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000009">
					</documentation>
				</annotation>
			</element>

			<element name="visualizerName" maxOccurs="1" minOccurs="1"
				type="token">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000010">
					</documentation>
				</annotation>
			</element>


			<element name="visualizerVersion" maxOccurs="1" minOccurs="1"
				type="token">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000013">
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="VisualizerConfiguration">
		<sequence>
			<element name="visualizerIdentification" type="tns:VisualizerIdentification">
			</element>
			<element name="authentication" type="tns:Authentication"></element>
			<element name="visualizationOptions" type="tns:VisualizationOptions"></element>
		</sequence>
	</complexType>

	<simpleType name="RunId">
		<restriction base="token"></restriction>
	</simpleType>

	<complexType name="ServiceRegistrationRecord">
		<sequence>
			<element name="authentication" type="tns:Authentication"></element>
			<element name="url" type="anyURI"></element>
			<element name="serviceRecord" type="tns:ServiceRecord"></element>
		</sequence>
	</complexType>

	<complexType name="ServiceRecord">
		<sequence>

			<choice>
				<element name="simulatorIdentification" type="tns:SimulatorIdentification">
				</element>
				<element name="visualizerIdentification" type="tns:VisualizerIdentification">
				</element>
			</choice>
		</sequence>
	</complexType>

	<complexType name="SimulatorIdentification">
		<sequence>
			<element name="simulatorDeveloper" maxOccurs="1" minOccurs="1"
				type="token">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000009">
					</documentation>
				</annotation>
			</element>

			<element name="simulatorName" maxOccurs="1" minOccurs="1"
				type="token">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000010">
					</documentation>
				</annotation>
			</element>


			<element name="simulatorVersion" maxOccurs="1" minOccurs="1"
				type="token">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000013">
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="SimulatorTimeSpecification">
		<sequence>
			<element name="timeStepUnit" type="tns:TimeStepUnit"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000014">
					</documentation>
				</annotation>
			</element>

			<element name="timeStepValue" maxOccurs="1" minOccurs="1"
				type="tns:PositiveDouble">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000012">
					</documentation>
				</annotation>
			</element>

			<element name="runLength" type="positiveInteger" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000015">
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="AntiviralControlMeasure">
		<sequence>
			<element name="antiviralCmCompliance" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000050">
					</documentation>
				</annotation>
			</element>
			<element name="antiviralSupplySchedule" type="tns:NonNegativeDouble"
				maxOccurs="unbounded" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000051">
					</documentation>
				</annotation>
			</element>
			<element name="antiviralAdminSchedule" type="tns:NonNegativeDouble"
				maxOccurs="unbounded" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000052">
					</documentation>
				</annotation>
			</element>
			<element name="antiviralEfficacy" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000048">
					</documentation>
				</annotation>
			</element>
			<element name="antiviralEfficacyDelay" type="tns:NonNegativeDouble"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000049">
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="VaccinationControlMeasure">
		<sequence>
			<element name="vaccineCmCompliance" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000024">
					</documentation>
				</annotation>
			</element>

			<element name="vaccineSupplySchedule" type="tns:NonNegativeDouble"
				maxOccurs="unbounded" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000046">
					</documentation>
				</annotation>
			</element>

			<element name="vaccinationAdminSchedule" type="tns:NonNegativeDouble"
				maxOccurs="unbounded" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000047">
					</documentation>
				</annotation>
			</element>
			<element name="vaccineEfficacy" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000025">
					</documentation>
				</annotation>
			</element>
			<element name="vaccineEfficacyDelay" type="tns:NonNegativeDouble"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000044">
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="Disease">
		<sequence>
			<element name="diseaseName" type="token" maxOccurs="1"
				minOccurs="1"></element>
			<element name="infectiousPeriod" type="tns:NonNegativeDouble"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000016">
					</documentation>
				</annotation>
			</element>

			<element name="latentPeriod" type="tns:NonNegativeDouble"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000017">
					</documentation>
				</annotation>
			</element>

			<element name="reproductionNumber" type="tns:NonNegativeDouble"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000043">
					</documentation>
				</annotation>
			</element>

			<element name="asymptomaticInfectionFraction" type="tns:Probability"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation source="http://purl.obolibrary.org/obo/APOLLO_SV_00000045">
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PopulationDiseaseState">
		<sequence>
			<element name="diseaseState" type="token" maxOccurs="1"
				minOccurs="1"></element>
			<element name="popCount" type="nonNegativeInteger" maxOccurs="1"
				minOccurs="1">
			</element>
		</sequence>
	</complexType>

	<complexType name="SimulatedPopulation">
		<sequence>
			<element name="populationLocation" type="token" maxOccurs="1"
				minOccurs="1"></element>
			<element name="gender" type="tns:Gender" maxOccurs="1"
				minOccurs="0"></element>
			<element name="ageRange" type="tns:AgeRange" maxOccurs="1"
				minOccurs="0">
			</element>
			<choice>
				<element name="populationDiseaseState" type="tns:PopulationDiseaseState"
					maxOccurs="unbounded" minOccurs="1">
				</element>
				<element name="subpopulation" type="tns:SimulatedPopulation"
					maxOccurs="unbounded" minOccurs="1">
				</element>
			</choice>
		</sequence>
	</complexType>

	<complexType name="SimulatorConfiguration">
		<sequence>
			<element name="simulatorIdentification" type="tns:SimulatorIdentification"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="authentication" type="tns:Authentication"
				maxOccurs="1" minOccurs="1"></element>
			<element name="simulatorTimeSpecification" type="tns:SimulatorTimeSpecification"
				maxOccurs="1" minOccurs="1">
			</element>

			<element minOccurs="1" maxOccurs="1" name="populationInitialization"
				type="tns:SimulatedPopulation"></element>
			<element name="disease" type="tns:Disease" maxOccurs="1"
				minOccurs="1">
			</element>

			<element name="antiviralControlMeasure" type="tns:AntiviralControlMeasure"
				maxOccurs="1" minOccurs="0">
			</element>

			<element name="vaccinationControlMeasure" type="tns:VaccinationControlMeasure"
				maxOccurs="1" minOccurs="0">
			</element>
		</sequence>
	</complexType>
</schema>