apollo-ws/schemas/trunk/src/main/resources/epidemicsimulator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<!-- 
/*
 * Copyright 2012, University of Pittsburgh
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 -->


<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/epidemicsimulator/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="EpidemicSimulatorService" targetNamespace="http://service.apollo.pitt.edu/epidemicsimulator/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/epidemicsimulator/"
			xmlns:Q1="http://types.apollo.pitt.edu/">
			<xsd:import schemaLocation="main-types.xsd" namespace="http://types.apollo.pitt.edu/"></xsd:import>
			<xsd:element name="getPreconfiguredModels">
				<xsd:complexType>
					<xsd:sequence>
          </xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPreconfiguredModelsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="modelNames" type="xsd:string"
							maxOccurs="unbounded" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getModelConfiguration">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="modelName" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getModelConfigurationResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="epidemicModelInput" type="Q1:epidemic-model-input"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="run">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="epidemicModelinput" type="Q1:epidemic-model-input"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="simulationRunResult" type="Q1:simulation_run_result"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="releaseResources">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="runId" type="xsd:long"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="releaseResourcesResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="runStatus" type="Q1:run_status"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getNativeConfigurationFile">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="runId" type="xsd:long"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getNativeConfigurationFileResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="nativeConfigurationFileContents"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSimulatorDescription">
				<xsd:complexType>
					<xsd:sequence>

      		</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSimulatorDescriptionResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="simulatorDescription" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getModelDescription">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="modelName" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getModelDescriptionResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="modelDescription" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getResult">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="runId" type="xsd:long"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getResultResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="epidemicModelOutput" type="Q1:epidemic-model-output"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatus">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="runId" type="xsd:long"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatusResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="runStatus" type="Q1:run_status"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runBatch">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="batchFileLocation" type="xsd:anyURI"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runBatchResponse">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="resultFileLocation" type="xsd:anyURI"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getPreconfiguredModelsRequest">
		<wsdl:part element="tns:getPreconfiguredModels" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getPreconfiguredModelsResponse">
		<wsdl:part element="tns:getPreconfiguredModelsResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="getModelConfigurationRequest">
		<wsdl:part name="parameters" element="tns:getModelConfiguration"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getModelConfigurationResponse">
		<wsdl:part name="parameters" element="tns:getModelConfigurationResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runRequest">
		<wsdl:part name="parameters" element="tns:run"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runResponse">
		<wsdl:part name="parameters" element="tns:runResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="releaseResourcesRequest">
		<wsdl:part name="parameters" element="tns:releaseResources"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="releaseResourcesResponse">
		<wsdl:part name="parameters" element="tns:releaseResourcesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getNativeConfigurationFileRequest">
		<wsdl:part name="parameters" element="tns:getNativeConfigurationFile"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getNativeConfigurationFileResponse">
		<wsdl:part name="parameters" element="tns:getNativeConfigurationFileResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSimulatorDescriptionRequest">
		<wsdl:part name="parameters" element="tns:getSimulatorDescription"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSimulatorDescriptionResponse">
		<wsdl:part name="parameters" element="tns:getSimulatorDescriptionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getModelDescriptionRequest">
		<wsdl:part name="parameters" element="tns:getModelDescription"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getModelDescriptionResponse">
		<wsdl:part name="parameters" element="tns:getModelDescriptionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getResultRequest">
		<wsdl:part name="parameters" element="tns:getResult"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getResultResponse">
		<wsdl:part name="parameters" element="tns:getResultResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runBatchRequest">
		<wsdl:part name="parameters" element="tns:runBatch"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="runBatchResponse">
		<wsdl:part name="parameters" element="tns:runBatchResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="EpidemicSimulator">
		<wsdl:operation name="getPreconfiguredModels">
			<wsdl:input message="tns:getPreconfiguredModelsRequest" />
			<wsdl:output message="tns:getPreconfiguredModelsResponse" />
		</wsdl:operation>
		<wsdl:operation name="getModelConfiguration">
			<wsdl:input message="tns:getModelConfigurationRequest"></wsdl:input>
			<wsdl:output message="tns:getModelConfigurationResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="run">
			<wsdl:input message="tns:runRequest"></wsdl:input>
			<wsdl:output message="tns:runResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="releaseResources">
			<wsdl:input message="tns:releaseResourcesRequest"></wsdl:input>
			<wsdl:output message="tns:releaseResourcesResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNativeConfigurationFile">
			<wsdl:input message="tns:getNativeConfigurationFileRequest"></wsdl:input>
			<wsdl:output message="tns:getNativeConfigurationFileResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSimulatorDescription">
			<wsdl:input message="tns:getSimulatorDescriptionRequest"></wsdl:input>
			<wsdl:output message="tns:getSimulatorDescriptionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getModelDescription">
			<wsdl:input message="tns:getModelDescriptionRequest"></wsdl:input>
			<wsdl:output message="tns:getModelDescriptionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getResult">
			<wsdl:input message="tns:getResultRequest"></wsdl:input>
			<wsdl:output message="tns:getResultResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<wsdl:input message="tns:getRunStatusRequest"></wsdl:input>
			<wsdl:output message="tns:getRunStatusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runBatch">
			<wsdl:input message="tns:runBatchRequest"></wsdl:input>
			<wsdl:output message="tns:runBatchResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EpidemicSimulatorServiceSoapBinding"
		type="tns:EpidemicSimulator">


		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getPreconfiguredModels">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/epidemicsimulator/getPreconfiguredModels" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getModelConfiguration">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/epidemicsimulator/getModelConfiguration" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="run">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/epidemicsimulator/run" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="releaseResources">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/epidemicsimulator/releaseResources" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNativeConfigurationFile">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/epidemicsimulator/getNativeConfigurationFile" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSimulatorDescription">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/epidemicsimulator/getSimulatorDescription" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getModelDescription">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/epidemicsimulator/getModelDescription" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getResult">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/epidemicsimulator/getResult" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/epidemicsimulator/getRunStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="runBatch">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/epidemicsimulator/runBatch" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EpidemicSimulatorService">
		<wsdl:port binding="tns:EpidemicSimulatorServiceSoapBinding" name="EpidemicSimulatorPort">
			<soap:address location="http://localhost:8080/GenericEpidemicModelService/services/EpidemicSimulatorPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
