apollo-ws/schemas/trunk/src/main/resources/simulatorservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.apollo.pitt.edu/simulatorservice/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="SimulatorService" targetNamespace="http://service.apollo.pitt.edu/simulatorservice/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://service.apollo.pitt.edu/simulatorservice/"
			xmlns:apollo="http://types.apollo.pitt.edu/">
			<xsd:import schemaLocation="main-types.xsd" namespace="http://types.apollo.pitt.edu/"></xsd:import>
			<xsd:element name="run">
				
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="simulatorConfiguration" type="apollo:SimulatorConfiguration" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="runResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunId" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatus">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runId" type="apollo:RunId"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getRunStatusResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="runStatus" type="apollo:RunStatus"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSimulatorDescription">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="description" type="apollo:SimulatorIdentification"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSimulatorDescriptionResponse">

				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="description" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="runRequest">
		<wsdl:part element="tns:run" name="parameters" />
	</wsdl:message>
	<wsdl:message name="runResponse">
		<wsdl:part element="tns:runResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getRunStatusRequest">
		<wsdl:part name="parameters" element="tns:getRunStatus"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRunStatusResponse">
		<wsdl:part name="parameters" element="tns:getRunStatusResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSimulatorDescriptionRequest">
		<wsdl:part name="parameters" element="tns:getSimulatorDescription"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getSimulatorDescriptionResponse">
		<wsdl:part name="parameters" element="tns:getSimulatorDescriptionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SimulatorServiceEI">
		<wsdl:operation name="run">
			<wsdl:input message="tns:runRequest" />
			<wsdl:output message="tns:runResponse" />
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<wsdl:input message="tns:getRunStatusRequest"></wsdl:input>
			<wsdl:output message="tns:getRunStatusResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSimulatorDescription">
			<wsdl:input message="tns:getSimulatorDescriptionRequest"></wsdl:input>
			<wsdl:output message="tns:getSimulatorDescriptionResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SimulatorServiceBinding" type="tns:SimulatorServiceEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="run">
			<soap:operation soapAction="http://service.apollo.pitt.edu/simulatorservice/run" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRunStatus">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/getRunStatus" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getSimulatorDescription">
			<soap:operation
				soapAction="http://service.apollo.pitt.edu/simulatorservice/getSimulatorDescription" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SimulatorService">
		<wsdl:port binding="tns:SimulatorServiceBinding" name="SimulatorServiceEndpoint">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
